<div class="resize-overlay" ng-show="showOverlay">
    <p>Rota el celular para poder visualizar el contenido.</p>
    <img src="{{ assets_url }}/resources/assets/images/celular.gif"/>
</div>
<header>
    <button ng-show="!showWelcome && !showIntroCourse" id="hamburger" class="hamburger hamburger--slider" type="button">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <div ng-show="!showWelcome && !showIntroCourse" class="top full">
        <div class="wrapper-main center">
            <!-- <a href="/logout" class="logout left" ng-click="sessionClose()">Cerrar sesión</a> -->
            <a class="logout left" ng-click="sessionClose()">Cerrar sesión</a>
            
        <!-- <a class="instrucciones left" ng-intro-options="IntroOptions" ng-intro-method="showInstructions" ng-click="showInstructions();" href="javascript:;">INSTRUCCIONES</a> -->
            <!-- <a href="javascript:;" ng-click="closeCourse()" class="descargar-material right">Descargar Material  </a> -->
            <!-- <a ui-sref="app.costeo" class="mapa right">Aprende a clasificar el café según su tipo. Conoce más ¡aquí! </a> ->
            <a href="javascript:;" ng-click="showColcafeMap()" class="mapa right">Aprende a clasificar el café según su tipo. Conoce más ¡aquí! </a> -->
        </div>
    </div>
    <div class="wrapper-main center">
        <div class="franja">
            <div class="logos">
                <figure class="logo-momentos inline">
                    <a href="{{ home_url }}">
                        <img src="{{ assets_url }}/resources/assets/images/momenrtos-de-cafe-logo.png" alt="momenrtos-de-cafe-logo">
                    </a>
                </figure>
                <i></i>
                <div class="marcas-banner inline">
                    <figure>
                        <a href="http://www.ponletuselloalavida.com/" target="_blank">
                            <img src="{{ assets_url }}/resources/assets/img/icon/nuestras-marcas-cafe-sello-rojo-small.png" alt="">
                        </a>
                    </figure>
                    <figure>
                        <a href="http://www.cafelabastilla.com/" target="_blank">
                            <img src="{{ assets_url }}/resources/assets/img/icon/nuestras-marcas-cafe-la-bastilla-small.png" alt="">
                        </a>
                    </figure>
                    <figure>
                        <a href="http://www.colcafe.com/" target="_blank">
                            <img src="{{ assets_url }}/resources/assets/img/icon/nuestras-marcas-colcafe-te-consiente-small.png" alt="">
                        </a>
                    </figure>
                    <figure>
                        <a href="http://cafematiz.com/" target="_blank">
                            <img src="{{ assets_url }}/resources/assets/img/icon/nuestras-marcas-matiz-small.png" alt="">
                        </a>
                    </figure>
                    <figure>
                      <a href="https://www.centto.com/" target="_blank">
                          <img src="{{ assets_url }}/resources/assets/images/logo-centto-apasionados-por-el-cafe.png" alt="cento">
                      </a>
                  </figure>
                </div>
            </div>
            <div ng-if="showIntroCourse" class="info-leccion intro-module">
            	<section class="intro-modulo-gral intro-modulo-1 {{ user_public }}">
            		<a class="intro-next-button" href="javascript:;" ng-click="hideIntroCourse()">Siguiente</a>
            		<div class="clr"></div>
            	</section>
            </div>
            <div ui-view="progress"></div>
            <div class="clr"></div>
        </div>
    </div>
</header>
<div class="wrapper-main content-elearning" ng-class="{'showing-shadow': (!showWelcome && !showIntroCourse),'force': showIntroCourse}">
    <div ui-view="menu" ng-if="!showWelcome && !showIntroCourse" data-step="1" data-intro="Para completar el curso debes terminar todos los módulos en su respectivo orden. Selecciona el primero de ellos para comenzar. <br><br> Al final del curso recibirás un diploma que te certificará como un Apasionado por el Café." data-position='right' class="capitulos-nav inline"></div>
    <div ui-view="content" data-step="2" data-intro="Al comienzo de cada módulo debes visualizar el contenido completo para seguir con las demás lecciones. <br><br> Recuerda que cuando finalices cada tema se habilitará en la esquina superior derecha de este espacio, la opción para continuar con las siguientes lecciones." data-position='left' class="content-leccion inline"></div>
    <div class="clr"></div>
</div>
<div class="marcas-footer">
    <p>Nuestras marcas</p>
    <div class="marcas inline">
        <figure>
            <a href="http://www.ponletuselloalavida.com/" target="_blank">
                <img src="{{ assets_url }}/resources/assets/images/cafe-sello-rojo-big.png" alt="">
            </a>
        </figure>
        <figure>
            <a href="http://www.cafelabastilla.com/" target="_blank">
                <img src="{{ assets_url }}/resources/assets/images/la-bastilla-big.png" alt="">
            </a>
        </figure>
        <figure>
            <a href="http://www.colcafe.com/" target="_blank">
                <img src="{{ assets_url }}/resources/assets/images/colcafe-big.png" alt="">
            </a>
        </figure>
        <figure>
            <a href="http://cafematiz.com/" target="_blank">
                <img src="{{ assets_url }}/resources/assets/images/matiz-big.png" alt="">
            </a>
        </figure>
    </div>
</div>
<div class="footer">
    <ul>
        <li><span>Grupo Empresarial Nutresa</span> <img src="{{ assets_url }}/resources/assets/images/grupo-nutresa-footer.png"></li>
        <li><span>Industria Colombiana de Café</span> <img src="{{ assets_url }}/resources/assets/images/colcafe-footer.png"></li>
    </ul>
</div>

<!-- <div ng-if="showVideo && !showWelcome">
    <section class="lightbox-momentos">
       <div class="lightbox-video-intro">
            <div class="iframe-video-intro">
                <videogular vg-theme="videoConfig.theme"
                            vg-complete="introSkip()"
                            vg-auto-play="videoIntroPlay">
                    <vg-media vg-src="videoConfig.source"></vg-media>
                    <vg-controls>
                        <vg-play-pause-button></vg-play-pause-button>
                        <vg-volume>
                            <vg-mute-button></vg-mute-button>
                            <vg-volume-bar></vg-volume-bar>
                        </vg-volume>
                    </vg-controls>
                </videogular>
            </div>
            <div class="clr"></div>
            <a href="javascript:;" ng-click="introSkip()" class="btn-lightbox inline"> • INGRESAR A “APRENDAMOS DE CAFÉ • </a>
        </div>
    </section>
</div> -->

<section ng-if="showIntro" class="lightbox-momentos">
    <div class="lightbox-instrucciones">
        <!-- <div class="logos">
            <figure class="logo-momentos inline">
                <a href="javascript:;" ng-click="instructionsSkip()">
                    <img src="app/assets/images/momenrtos-de-cafe-logo.png" alt="momenrtos-de-cafe-logo">
                </a>
            </figure>
            <i></i>
            <div class="marcas-banner inline">
                <figure>
                    <a href="http://www.ponletuselloalavida.com/" target="_blank">
                        <img src="app/assets/img/icon/nuestras-marcas-cafe-sello-rojo-small.png" alt="">
                    </a>
                </figure>
                <figure>
                    <a href="http://www.cafelabastilla.com/" target="_blank">
                        <img src="app/assets/img/icon/nuestras-marcas-cafe-la-bastilla-small.png" alt="">
                    </a>
                </figure>
                <figure>
                    <a href="http://www.colcafe.com/" target="_blank">
                        <img src="app/assets/img/icon/nuestras-marcas-colcafe-te-consiente-small.png" alt="">
                    </a>
                </figure>
                <figure>
                    <a href="http://cafematiz.com/" target="_blank">
                        <img src="app/assets/img/icon/nuestras-marcas-matiz-small.png" alt="">
                    </a>
                </figure>
            </div>
        </div> -->
        <div>
            <video controls width="90%" height="200" autoplay>
              <source src="https://colcafe-apasionados.s3.amazonaws.com/videos_e-learning/intro_previamodulos.mp4" type="video/mp4">
              Tu navegador no implementa el elemento <code>video</code>.
            </video>
        </div>
        <p>Sigue las instrucciones y descubre cómo funciona nuestra plataforma para que empieces tu curso sobre café.</p>
        <div class="clr"></div>
        <a href="javascript:;" ng-click="instructionsSkip();showInstructions();showVideoStopped()" class="btn-lightbox inline"> • INSTRUCCIONES • </a>
        <a href="javascript:;" ng-click="instructionsSkip();" class="btn-lightbox inline"> • NO, GRACIAS • </a>
    </div>
</section>

<!-- HTML -->
