<div class="resize-overlay" ng-show="showOverlay">
    <p>Rota el celular para poder visualizar el contenido o amplia la ventana del navegador.</p>
    <img src="{{ assets_url }}/resources/assets/images/celular.gif"/>
</div>
<header>
    <div class="top full">
        <div class="wrapper-main center">
            <a class="instrucciones left none" ng-intro-options="IntroOptions" ng-intro-method="showInstructions" ng-intro-onexit="ExitNgIntro" ng-intro-oncomplete="ExitNgIntro" ng-click="showInstructions();" href="javascript:;">INSTRUCCIONES</a>
            <div class="logos logos-new">
                <figure class="logo-momentos inline">
                    <a href="{{ home_url }}">
                        <img src="{{ assets_url }}/resources/assets/images/momenrtos-de-cafe-logo.png" alt="momenrtos-de-cafe-logo">
                    </a>
                </figure>
                <i></i>
                <div class="marcas-banner inline">
                    <figure>
                        <a href="http://www.ponletuselloalavida.com/" target="_blank">
                            <img src="{{ assets_url }}/resources/assets/img/icon/nuestras-marcas-cafe-sello-rojo-small.png" alt="">
                        </a>
                    </figure>
                    <figure>
                        <a href="http://www.cafelabastilla.com/" target="_blank">
                            <img src="{{ assets_url }}/resources/assets/img/icon/nuestras-marcas-cafe-la-bastilla-small.png" alt="">
                        </a>
                    </figure>
                    <figure>
                        <a href="http://www.colcafe.com/" target="_blank">
                            <img src="{{ assets_url }}/resources/assets/images/logo-marca-colcafe-3.png" alt="">
                        </a>
                    </figure>
                    <figure>
                        <a href="http://cafematiz.com/" target="_blank">
                            <img src="{{ assets_url }}/resources/assets/img/icon/nuestras-marcas-matiz-small.png" alt="">
                        </a>
                    </figure>
                    <figure>
                      <a href="https://www.centto.com/" target="_blank">
                          <img src="{{ assets_url }}/resources/assets/images/logo-centto-apasionados-por-el-cafe.png" alt="cento">
                      </a>
                  </figure>
                </div>
            </div>
            <a href="javascript:;" ng-click="sessionClose()" class="logout right">Cerrar sesión</a>
            <!-- <a href="javascript:;" ng-click="closeCourse()" class="descargar-material right">Descargar Material  </a> -->
            <!-- <a ui-sref="app.costeo" class="mapa right">Aprende a clasificar el café según su tipo. Conoce más ¡aquí! </a> -->
            <span class="left" id="username" style="margin-top: 8px;margin-left: 25px;text-transform: uppercase;font-family: 'Dinpro-bold';color: #86635f;display: none;"></span>
            <a href="javascript:;" ng-click="showColcafeMap()" class="mapa right">Aprende a clasificar el café según su tipo.</a>
            <a href="javascript:;" ng-click="showGlosario ? showGlosario = false : showGlosario = true" class="glosario right">Glosario</a>
            <span class="left" id="showpublic"></span>
        </div>
    </div>
    <!-- <div class="wrapper-main center ">
        <div class="franja">
            <div ng-if="!showGlosario" ui-view="progress"></div>
            <div class="clr"></div>
        </div>
    </div> -->
</header>
<div ng-if="!showGlosario" class="wrapper-main content-elearning" ng-class="{'showing-shadow': (!showWelcome && !showIntroCourse)}">
    <div ui-view="menu" ng-if="!showWelcome && !showIntroCourse" data-step="1" data-intro="Para completar el curso debes terminar todos los módulos en su respectivo orden. Selecciona el primero de ellos para comenzar. <br><br> Al final del curso recibirás un diploma que te certificará como un Apasionado por el Café si obtienes un resultado superior al 80% en las pruebas de conocimiento que encontrarás al final de cada módulo. <br><br><strong style='color:#000000;'>A medida que avanzas se irá guardando tu proceso.</strong>" data-position='right' class="capitulos-nav inline"></div>
    <div ui-view="content" data-step="2" data-intro="Al comienzo de cada módulo debes visualizar el contenido completo para seguir con las demás lecciones. <br><br> Recuerda que cuando finalices cada tema se habilitará en la esquina superior derecha de este espacio, la opción para continuar con las siguientes lecciones." data-position='left' class="content-leccion inline"></div>
    <div class="main-slick-new">
        <!-- Carrousel + progreso -->
        <div ng-if="!showGlosario" ui-view="progress"></div>
    </div>
    <div class="clr"></div>
</div>


<div ng-if="showGlosario">
    <section class="wrapper-glorario">
        <div class="banner">
            <div class="wrapper-list center">
                <h1>Glosario</h1>
                <a href="javascript:;" ng-click="hideGlosario()" class="close">x</a>
            </div>
        </div> 
        <div class="wrapper-main center" id="tabs">
            <div class="wrapper-list center">
                <ul>
                    <li><a href="#tabs-b">B</a></li>
                    <li><a href="#tabs-c">C</a></li>
                    <li><a href="#tabs-e">E</a></li>
                    <li><a href="#tabs-h">H</a></li>
                    <li><a href="#tabs-m">M</a></li>
                    <li><a href="#tabs-p">P</a></li>
                    <li><a href="#tabs-t">T</a></li>
                </ul>
            </div>
            <hr class="border-2">
            <div class="clr"></div>
            <div id="tabs-b">
                <article>
                    <h2>Barista</h2>
                    <p>Es la persona experta que se especializa en el desarrollo de bebidas a base de café, combinando el producto con licores, leche y otros ingredientes.</p>
                </article>
                <article>
                    <h2>BPM</h2>
                    <p>Las Buenas Prácticas de Manufactura son una herramienta básica para la obtención de productos seguros para el consumo humano, que se centralizan en la higiene y forma de manipulación.</p>
                </article>
            </div>
            <div id="tabs-c">
                <article>
                    <h2>Café Arábico</h2>
                    <p>La especie arábica representa dos tercios de la producción mundial de café, debido a que tiene más de 2000 tipos de plantas. Es una planta de porte bajo que desarrolla granos de  de forma alargada y de color verde oliva, es susceptible a plagas y enfermedades, sin embargo las bebidas que se obtienen se caracterizan por tener una acidez alta y un aroma pronunciado caracteristicas de un café suaveá.</p>
                </article>
                <article>
                    <h2>Café instantáneo</h2>
                    <p>Es el resultado que queda luego de que al extracto de café se le ha retirado el agua por altas o bajas temperaturas, sin adición de conservantes ni aditivos.</p>
                </article>
                <article>
                    <h2>Café instantáneo en polvo</h2>
                    <p>Es el resultado que queda luego de que al extracto de café se le ha retirado el agua por altas temperaturas sin adición de conservantes ni aditivos.</p>
                </article>
                <article>
                    <h2>Café instantáneo granulado</h2>
                    <p>Café instantáneo obtenido por un proceso en que las particulas secas de café instantáneo en polvo se agrupan para formar otras más grandes</p>
                </article>
                <article>
                    <h2>Café instantáneo liofilizado</h2>
                    <p>Producto que se obtiene después de someter el extracto de café a un proceso de secado que se basa en sublimar el hielo de un producto congelado, es decir el  agua del producto pasa directamente de estado sólido a vapor sin pasar por el estado líquido, de esta manera se genera un material esponjoso que se disuelve posteriormente con facilidad.</p>
                </article>
                <article>
                    <h2>Café Robusta</h2>
                    <p>La especie Robusta representa un tercio de la producción  mundial de café, Es una planta de porte alto que desarrolla granos de forma redonda y de color amarillento, es una planta resistente a plagas y enfermedades que soportan condiciones climáticas de humedad y calor que superan los 30°C,  sin embargo las bebidas que se obtienen se caracterizan por tener un cuerpo alto, baja intensidad aromatica y un sabor amargo pronunciado caracteristicas de un café fuerte.</p>
                </article>
            </div>
            <div id="tabs-e">
                <article>
                    <h2>Extracción</h2>
                    <p>Proceso en el cual se hace pasar agua por el café tostado y molido para generar una infusión que obtenga todo el sabor y aroma presente en los granos de café.</p>
                </article>
            </div>
            <div id="tabs-h">
                <article>
                    <h2>Hérmetico</h2>
                    <p>Que se cierra de tal modo que no deja pasar el aire u otros fluidos.</p>
                </article>
            </div>
            <div id="tabs-m">
                <article>
                    <h2>Molienda</h2>
                    <p>Proceso en el cual se reduce el tamaño del grano de café tostado para facilitar la extracción de los aromas y compuestos solubles durante la preparación de la bebida.</p>
                </article>
                <article>
                    <h2>Mucilago</h2>
                    <p>Es una estructura rica en azúcares y pectina que cubre el pergamino y la almendra de café,  mide aproximadamente 0.4 milímetros de espesor.</p>
                </article>
            </div>
            <div id="tabs-p">
                <article>
                    <h2>Punto de ebullición</h2>
                    <p>Es la temperatura a la cual la presión de vapor del líquido es igual a la presión del medio que rodea al líquido. En esas condiciones se puede formar vapor en cualquier punto del líquido</p>
                </article>
            </div>
            <div id="tabs-t">
                <article>
                    <h2>Tostión</h2>
                    <p>Proceso mediante el cual el grano de café verde se somete a altas temperaturas por periodos de tiempo para desarrollar sus caracteristicas sensoriales de sabor y aroma.</p>
                </article>
                <article>
                    <h2>Trilla</h2>
                    <p>Proceso mediante el cual se retira mecanicamente la cascara que cubre la almendra del café, para posteriormente seleccionar la almendra por tamaño, retirar impurezas y granos defectuosos.</p>
                </article>
            </div>
        </div> 
    </section>

    <script>
        jQuery( "#tabs" ).tabs();
    </script>
</div>

<!-- <div ng-if="showVideo && !showWelcome">
    <section class="lightbox-momentos">
       <div class="lightbox-video-intro">
            <div class="iframe-video-intro">
                <videogular vg-theme="videoConfig.theme"
                            vg-complete="introSkip()"
                            vg-auto-play="videoIntroPlay">
                    <vg-media vg-src="videoConfig.source"></vg-media>
                    <vg-controls>
                        <vg-play-pause-button></vg-play-pause-button>
                        <vg-volume>
                            <vg-mute-button></vg-mute-button>
                            <vg-volume-bar></vg-volume-bar>
                        </vg-volume>
                    </vg-controls>
                </videogular>
            </div>
            <div class="clr"></div>
            <a href="javascript:;" ng-click="introSkip()" class="btn-lightbox inline"> • INGRESAR A “APRENDAMOS DE CAFÉ • </a>
        </div>
    </section>
</div> -->

<section ng-if="showIntro" class="lightbox-momentos no-opacity">
    <div class="lightbox-instrucciones">
        <!-- <div class="logos">
            <figure class="logo-momentos inline">
                <a href="javascript:;" ng-click="instructionsSkip()">
                    <img src="app/assets/images/momenrtos-de-cafe-logo.png" alt="momenrtos-de-cafe-logo">
                </a>
            </figure>
            <i></i>
            <div class="marcas-banner inline">
                <figure>
                    <a href="http://www.ponletuselloalavida.com/" target="_blank">
                        <img src="app/assets/img/icon/nuestras-marcas-cafe-sello-rojo-small.png" alt="">
                    </a>
                </figure>
                <figure>
                    <a href="http://www.cafelabastilla.com/" target="_blank">
                        <img src="app/assets/img/icon/nuestras-marcas-cafe-la-bastilla-small.png" alt="">
                    </a>
                </figure>
                <figure>
                    <a href="http://www.colcafe.com/" target="_blank">
                        <img src="app/assets/img/icon/nuestras-marcas-colcafe-te-consiente-small.png" alt="">
                    </a>
                </figure>
                <figure>
                    <a href="http://cafematiz.com/" target="_blank">
                        <img src="app/assets/img/icon/nuestras-marcas-matiz-small.png" alt="">
                    </a>
                </figure>
            </div>
        </div> -->
        <div>
            <video controls width="550" height="360" autoplay>
              <source src="https://colcafe-apasionados.s3.amazonaws.com/videos_e-learning/intro_previamodulos.mp4" type="video/mp4">
              Tu navegador no implementa el elemento <code>video</code>.
            </video>
        </div>
        <p>Sigue las instrucciones y descubre cómo funciona nuestra plataforma para que empieces tu curso sobre café.</p>
        <div class="clr"></div>
        <a href="javascript:;" ng-click="instructionsSkip();showInstructions();showVideoStopped()" class="btn-lightbox inline"> • INSTRUCCIONES • </a>
        <a href="javascript:;" ng-click="instructionsSkip();" class="btn-lightbox inline"> • NO, GRACIAS • </a>
    </div>
</section>
<script>showPublic();showUser();</script>

<!-- HTML -->
