<i class="icon-t cafe"></i>
<div class="line"></div>
<h2 class="titles">{{ lesson.name }}</h2>
<div class="line"></div>
<span class="tiempo inline">{{ lesson.time }}</span>
<div class="right siguiente" ng-if="activeNext">
	<a href="javascript:;" ng-click="next()">
		<div ng-if="nextLesson.index.length">
		    <span>{{ nextLesson.index }}</span>
		    <div id="next-leson-content">
		    	<h3>{{ nextLesson.name }}</h3>
		    </div>
			<i></i>
		</div>
		<div ng-if="!nextLesson.index.length">
		    <span>Continuar</span>
			<i></i>
		</div>
	</a>
</div>
<div class="info-leccion">
    <div class="content-leccion inline">
		<div class="content-leccion inline">
            <div id="software-costeo" class="info-costeo-cafe"> <!-- Software Costeo -->
                <div class="lightbox-messajes" style="display:none;">
                    <div class="close">x</div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <div class="clr"></div>
                        <a id="reiniciar" href="javascript:;" class="next">Reiniciar</a>
                </div>

                <div id="breadcrumbs-holder">
                    <ul class="breadcrumbs">

                    </ul>
                </div>

                <div id="thumb-brand">

                </div>

                <div class="main-costeo ">
                </div>

                <div class="clr"></div>
            </div>
        </div>
        <!--end Sofware costeo -->

		<script id="intro-template" type="text/x-handlebars-template">
		<section class="intro-costeo template-intro" style="display:none;"> <!-- Intro -->
		    <div class="copy-costeo">
		    <p>Hola soy Antonio ¿Quieres conocer la rentabilidad que generan las ventas de bebidas de café?</p>
		    </div>
		    <a id="siguiente" href="#" class="next">SIGUIENTE</a>
		</section>
		</script>

		<script id="machine-template" type="text/x-handlebars-template">
		<section class="bg-border-gray costeo-equipos template-machine" style="display:none;"> <!-- Paso 1 -->
		    <div class="machines">
		    <form action="" method="POST">
		    <div class="border-gray">
		        <h2>Selecciona un equipo de preparación de café</h2>
		        <div class="clr"></div>
		        {{#each this}}
		        <article for="machine{{id}}" class="equipos {{color}}">
		            <div class="overflow"></div>
		            <figure>
		                <label for="machine{{id}}" class="wraper-machine">
		                <img src="{{baseURL img}}" alt="">
		                </label>
		            </figure>
		            <div class="cont-radio">
		                <input type="radio" name="machine" id="machine{{id}}" value="{{id}}">
		             </div>
		            <label for="machine{{id}}">{{name}}</label>
		        </article>
		        {{/each}}
		        <div class="clr"></div>
		    </div>
		    <div class="clr"></div>
		    <div class="buttons">
		        <div class="btn-abs volver-pregunta">
		            <a href="#">volver a la <br> pregunta</a>
		        </div>
		        <div class="btn-abs next">
		            <input type="submit" id="siguiente" name="Siguiente" value="siguiente">
		            <!--<a href="#">SIGUIENTE</a>-->
		        </div>
		    </div>
		    </form>
		    </div>
		</section>
		</script>
		<script id="coffee-template" type="text/x-handlebars-template">
		<section class="bg-border-gray tipo-bebida template-coffee" style="display:none;"> <!-- Paso 2 -->
		<div class="coffees">
		    <form action="" method="POST">
		    <div class="border-gray">
		        <div class="align-center">
		            <h2>Selecciona una bebida<br>para calcular su rentabilidad:</h2>
		        </div>
		        {{#each this}}
		        <article class="select-radio col-3">
		            <label for="coffee{{id}}" class="wraper-machine">
		                <figure class="radius">
		                    <img src="{{baseURL img}}" alt="">
		                </figure>
		                <h4 class="bg-coffe radius">{{name}}</h4>
		            </label>
		            <div class="border">
		                <div class="cont-radio">
		                    <input type="radio" name="coffee" id="coffee{{id}}" value="{{id}}" data-name="{{name}}">
		                </div>
		                <label for="coffee{{id}}">Seleccionar</label>
		            </div>
		            <div class="overflow"></div>
		        </article>
		        {{/each}}
		        <div class="clr"></div>
		    </div>
		    <div class="clr"></div>
		    <div class="buttons">
		        <div class="btn-abs volver-pregunta">
		            <a href="#">volver a la <br> pregunta</a>
		        </div>
		        <div class="btn-abs volver-empezar">
		            <a href="#" class="back-button">volver a <br> empezar</a>
		        </div>
		        <div class="btn-abs prev">
		            <input type="submit" id="atras" name="atras" value="atrás">
		            <!--<a href="#">ANTERIOR</a>-->
		        </div>
		        <div class="btn-abs next">
		            <input type="submit" id="siguiente" name="Siguiente" value="siguiente">
		            <!--<a href="#">SIGUIENTE</a>-->
		        </div>
		    </div>
		</form>
		</div>
		</section>
		</script>

		<script id="brand-template" type="text/x-handlebars-template">
		<section class="bg-border-gray marca-cafe template-brand" style="display:none;"> <!-- Paso 3 -->
		<div class="brands">
		    <form action="" method="POST">
		    <div class="border-gray">
		        <div class="align-center">
		            <h2>¿Con qué marca vas a prepararla?</h2>
		        </div>
		        {{#each this}}

		        <article class="select-radio col-4">
		            <label for="brand{{id}}" class="wraper-machine">
		                <figure class="radius">
		                    <img src="{{baseURL img}}" alt="">
		                </figure>
		            </label>
		            <div class="border">
		                <div class="cont-radio">
		                    <input type="radio" name="brand" id="brand{{id}}" value="{{id}}">
		                </div>
		                <label for="brand{{id}}">Seleccionar</label>
		            </div>
		            <div class="overflow"></div>
		        </article>
		        {{/each}}
		        <div class="clr"></div>
		    </div>
		    <div class="clr"></div>
		    <div class="buttons">
		        <div class="btn-abs volver-pregunta">
		            <a href="#">volver a la <br> pregunta</a>
		        </div>
		        <div class="btn-abs volver-empezar">
		            <a href="#" class="back-button">volver a <br> empezar</a>
		        </div>
		        <div class="btn-abs prev">
		            <!--<a href="#">ANTERIOR</a>-->
		            <input type="submit" id="atras" name="atras" value="atrás">
		        </div>
		        <div class="btn-abs next">
		            <!--<a href="#">SIGUIENTE</a>-->
		            <input type="submit" id="siguiente" name="Siguiente" value="siguiente">
		        </div>
		    </div>
		    </form>
		</div>
		</section>
		</script>

		<script id="tostion-template" type="text/x-handlebars-template">
		<section class="bg-border-gray tostion template-tostion" style="display:none;"> <!-- Paso 4 -->
		<div class="tostions">
		    <form action="" method="POST">
		    <div class="border-gray">
		        <div class="align-center">
		            <h2>Elige el tipo de tostión o el sabor del café:</h2>
		        </div>
		        {{#each this}}
		        <article class="select-radio col-3">
		            <label for="tostion{{id}}" class="wraper-machine">
		                <figure class="radius">
		                    <img src="{{baseURL img}}" alt="">
		                </figure>
		                <h4 class="bg-coffe radius">{{{name}}}</h4>
		            </label>
		            <div class="border">
		                <div class="cont-radio">
		                    <input type="radio" name="brand" id="tostion{{id}}" value="{{id}}" data-value="{{value}}">
		                </div>
		                <label for="tostion{{id}}">Seleccionar</label>
		            </div>
		            <div class="overflow"></div>
		        </article>
		        {{/each}}
		        <div class="clr"></div>
		    </div>
		    <div class="clr"></div>
		    <div class="buttons">
		        <div class="btn-abs volver-pregunta">
		            <a href="#">volver a la <br> pregunta</a>
		        </div>
		        <div class="btn-abs volver-empezar">
		            <a href="#" class="back-button">volver a <br> empezar</a>
		        </div>
		        <div class="btn-abs prev">
		            <!--<a href="#">ANTERIOR</a>-->
		            <input type="submit" id="atras" name="atras" value="atrás">
		        </div>
		        <div class="btn-abs next">
		            <!--<a href="#">SIGUIENTE</a>-->
		            <input type="submit" id="siguiente" name="Siguiente" value="siguiente">
		        </div>
		    </div>
		</form>
		</div>
		</section>
		</script>

		<script id="gramaje-template" type="text/x-handlebars-template">
		<section class="bg-border-gray gramaje-precio template-gramaje" style="display:none;"> <!-- Paso 6 -->
		<form action="" method="POST">
		    <div class="border-gray">
		        <div class="align-center">
		            <h2>Digita el gramaje y el precio de la presentación que elegiste:</h2>
		        </div>
		        <figure class="producto-gramaje">
		            <img src="{{baseURL this.pack}}" alt="">
		            <div class="clr"></div>
		        </figure>
		        <div class="cont-gramaje gramos">
		            <h4 class="bg-gray radius">Escribe el <br>gramaje del café</h4>
		            <h5 class="bg-yellow radius">Presentación <br>del café (gramos)</h5>
		            <div class="info-gramaje bg-gray radius">
		                <input type="number" name="coffee-gramaje" id="coffee-gramaje" min="0" autofocus>
		                <label>Gramos</label>
		            </div>
		        </div>
		        <div class="cont-gramaje precio">
		            <h4 class="bg-gray radius">Escribe el <br>precio del café</h4>
		            <h5 class="bg-coffe radius">Precio del paquete<br> de café (+ IVA):</h5>
		            <div class="info-gramaje bg-gray radius">
		                <label>$</label>
		                <input type="number" name="coffee-price" id="coffee-price" min="0">
		            </div>
		        </div>
		        <div class="clr"></div>
		    </div>
		    <div class="clr"></div>
		    <div class="buttons">
		        <div class="btn-abs volver-pregunta">
		            <a href="#">volver a la <br> pregunta</a>
		        </div>
		        <div class="btn-abs volver-empezar">
		            <a href="#" class="back-button">volver a <br> empezar</a>
		        </div>
		        <div class="btn-abs prev">
		            <!--<a href="#">ANTERIOR</a>-->
		            <input type="submit" id="atras" name="atras" value="atrás">
		        </div>
		        <div class="btn-abs next">
		            <!--<a href="#">SIGUIENTE</a>-->
		            <input type="submit" id="siguiente" name="Siguiente" value="siguiente">
		        </div>
		    </div>
		</form>
		</section>
		</script>

		<script id="glasses-expresso-template" type="text/x-handlebars-template">

		<section class="bg-border-gray tamanio template-glasses-expresso" style="display:none;"> <!-- Paso 7 -->
		<div class="glasses">
		    <form action="" method="POST">
		    <div class="border-gray">
		        <div class="align-center">
		            <h2>Tipo de Espresso</h2>
		            <p>¿Qué tipo de espresso vas a servir?</p>
		        </div>
		        {{#each this}}
		        <article class="select-radio cont-tamanio col-4">
		            <label for="express{{id}}" class="wraper-machine">
		                <figure class="radius">
		                    <img src="{{baseURL img}}">
		                </figure>
		                <h5>{{{name}}}</h5>
		            </label>
		            <div class="border">
		                <div class="cont-radio ">
		                    <input type="radio" name="express" id="express{{id}}" value="{{id}}" data-ml="{{ml}}" data-gramcoffee
		="{{gramCoffee}}">
		                </div>
		                <label for="express{{id}}">Seleccionar</label>
		            </div>
		            <div class="overflow"></div>
		        </article>
		        {{/each}}

		        <div class="clr"></div>
		    </div>
		    <div class="clr"></div>
		    <div class="buttons">
		        <div class="btn-abs volver-pregunta">
		            <a href="#">volver a la <br> pregunta</a>
		        </div>
		        <div class="btn-abs volver-empezar">
		            <a href="#" class="back-button">volver a <br> empezar</a>
		        </div>
		        <div class="btn-abs prev">
		            <input type="submit" id="atras" name="atras" value="atrás">
		            <!--<a href="#">ANTERIOR</a>-->
		        </div>
		        <div class="btn-abs next">
		              <!--<a href="#">SIGUIENTE</a>-->
		            <input type="submit" id="siguiente" name="Siguiente" value="siguiente">
		        </div>
		    </div>
		    </form>
		    </div>
		</section>


		</script>


		<script id="glasses-template" type="text/x-handlebars-template">

		<section class="bg-border-gray tamanio template-glasses" style="display:none;"> <!-- Paso 7 -->
		<div class="glasses">
		    <form action="" method="POST">
		    <div class="border-gray">
		        <div class="align-center">
		            <h2>Selecciona el tamaño de la bebida:</h2>
		        </div>
		        {{#each this}}
		        <article class="select-radio cont-tamanio col-4">
		            <label for="glass{{id}}" class="wraper-machine">
		                <figure class="radius">
		                    <img src="{{baseURL img}}">
		                </figure>
		                <h5>{{{name}}}</h5>
		            </label>
		            <div class="border">
		                <div class="cont-radio ">
		                    <input type="radio" name="glass" id="glass{{id}}" value="{{id}}" data-ml="{{ml}}">
		                </div>
		                <label for="glass{{id}}">Seleccionar</label>
		            </div>
		            <div class="overflow"></div>
		        </article>
		        {{/each}}

		        <div class="clr"></div>
		    </div>
		    <div class="clr"></div>
		    <div class="buttons">
		        <div class="btn-abs volver-pregunta">
		            <a href="#">volver a la <br> pregunta</a>
		        </div>
		        <div class="btn-abs volver-empezar">
		            <a href="#" class="back-button">volver a <br> empezar</a>
		        </div>
		        <div class="btn-abs prev">
		            <input type="submit" id="atras" name="atras" value="atrás">
		            <!--<a href="#">ANTERIOR</a>-->
		        </div>
		        <div class="btn-abs next">
		              <!--<a href="#">SIGUIENTE</a>-->
		            <input type="submit" id="siguiente" name="Siguiente" value="siguiente">
		        </div>
		    </div>
		    </form>
		    </div>
		</section>


		</script>

		<script id="milk-proportion-template" type="text/x-handlebars-template">
		<section class="bg-border-gray proporción-cafe template-milk-proportion" style="display:none;"> <!-- Paso 8 -->
		<form action="" method="POST">
		    <div class="border-gray">
		        <div class="align-center">
		            <h2>Define la proporción de café y leche que usarás para la bebida.</h2>
		            <div class="clr"></div>
		            <article class="proporciones radius inline">
		                <div class="left">
		                    <label>Proporción <br> café (%)</label>
		                    <figure>
		                        <img src="/wp-content/plugins/e-learning-2022-apasionados-por-el-cafe-plugin/public/resources/assets/images/porcentaje-cafe.png" alt="">
		                    </figure>
		                </div>
		                <div class="left barra-cafe">
		                    <input type="text" readonly name="coffee-proportion" id="coffee-proportion" placeholder="0" class="bg-coffe" value="{{coffeeQuantity}}">
		                    <span class="up"></span>
		                    <span class="down"></span>
		                    <div class="clr"></div>
		                    <div class="barra" style="background-size: 43px 50%;"></div>
		                </div>
		            </article>
		            <article class="proporciones radius inline">
		                <div class="left">
		                    <label>Proporción <br> leche (%)</label>
		                    <figure>
		                        <img src="/wp-content/plugins/e-learning-2022-apasionados-por-el-cafe-plugin/public/resources/assets/images/leche.png" alt="">
		                    </figure>
		                </div>
		                <div class="left barra-leche">
		                    <input type="text" readonly name="milk-proportion" id="milk-proportion" placeholder="0" class="bg-red" value="{{milkQuantity}}">
		                    <span class="up"></span>
		                    <span class="down"></span>
		                    <div class="clr"></div>
		                    <div class="barra" style="background-size: 43px 50%;"></div>
		                </div>
		            </article>
		        </div>
		        <div class="clr"></div>
		    </div>
		    <div class="clr"></div>
		    <div class="buttons">
		        <div class="btn-abs volver-pregunta">
		            <a href="#">volver a la <br> pregunta</a>
		        </div>
		        <div class="btn-abs volver-empezar">
		            <a href="#" class="back-button">volver a <br> empezar</a>
		        </div>
		        <div class="btn-abs prev">
		            <input type="submit" id="atras" name="atras" value="atrás">
		            <!--<a href="#">ANTERIOR</a>-->
		        </div>
		        <div class="btn-abs next">
		            <input type="submit" id="siguiente" name="Siguiente" value="siguiente">
		            <!--<a href="#">SIGUIENTE</a>-->
		        </div>
		    </div>
		</form>
		</section>
		</script>

		<script id="milk-entry-template" type="text/x-handlebars-template">
		<section class="bg-border-gray precio-leche template-milk-entry" style="display:none;"> <!-- Paso 9 -->
		    <div class="border-gray">
		        <div class="align-center">
		            <h2>Precio y cantidad de leche.</h2>
		            <p>Ingresa la cantidad y el precio de la leche para la preparación.</p>
		        </div>
		        <div class="info-leche">
		            <figure>
		                <img src="/wp-content/plugins/e-learning-2022-apasionados-por-el-cafe-plugin/public/resources/assets/images/leche.png" alt="">
		            </figure>
		            <div class="leche-precio">
		                <div class="cont-gramaje gramos">
		                    <h5 class="bg-yellow radius">Cantidad de leche</h5>
		                    <div class="info-gramaje bg-gray radius">
		                        <input type="number" name="milk-quantity" id="milk-quantity" min="0">
		                        <label>Litros</label>
		                    </div>
		                </div>
		                <div class="cont-gramaje precio">
		                    <h5 class="bg-coffe radius">Precio de la leche</h5>
		                    <div class="info-gramaje bg-gray radius">
		                        <label>$</label>
		                        <input type="number" name="milk-price" id="milk-price" min="0">
		                    </div>
		                </div>
		            </div>
		        </div>
		        <div class="clr"></div>
		    </div>
		    <div class="clr"></div>
		    <div class="buttons">
		        <div class="btn-abs volver-pregunta">
		            <a href="#">volver a la <br> pregunta</a>
		        </div>
		        <div class="btn-abs volver-empezar">
		            <a href="#" class="back-button">volver a <br> empezar</a>
		        </div>
		        <div class="btn-abs prev">
		            <input type="submit" id="atras" name="atras" value="atrás">
		        </div>
		        <div class="btn-abs next">
		            <input type="submit" id="siguiente" name="Siguiente" value="siguiente">
		        </div>
		    </div>
		</section>
		</script>

		<script id="insumos-template" type="text/x-handlebars-template">

		<section class="bg-border-gray insumos template-insumos" style="display:none;"> <!-- Paso 10 -->
		<div class="insumos">
		        <form action="" method="POST">
		    <div class="border-gray">
		        <div class="align-center">
		            <h2>¿Qué otros insumos necesitas para servir la bebida?<br>(Digita su cantidad y su precio)</h2>
		        </div>
		        {{#each this}}
		        <article class="select-radio select-insumo active col-3">
		            <figure class="radius">
		                <label for="insumo{{id}}" class="wraper-machine"><img src="{{baseURL img}}"></label>
		            </figure>
		            <h4 class="bg-yellow radius"><label for="insumo{{id}}">{{name}}</label></h4>
		            <div class="cont-radio">
		                <input type="checkbox" name="insumo{{id}}" id="insumo{{id}}" value="{{id}}" data-name="{{name}}" data-quantityPerCoffee="{{quantityPerCoffee}}" tabindex="-1" data-water="{{water}}" data-quantityLabel="{{quantityLabel}}">
		            </div>
		            <div class="insumo-values" style="display:none;">
		                <input type="number" class="precio" name="price" id="price-insumo{{id}}" placeholder="Precio" min="1">
		                <input type="number" name="quantity" id="quantity-insumo{{id}}" placeholder="Cantidad" min="1"> {{quantityLabel}}
		            </div>
		            <div class="overflow"></div>
		        </article>
		        {{/each}}

		        <label class="error-precio" style="display:none;">Ingrese precio y cantidad del insumo seleccionado.</label>
		        <div class="clr"></div>
		    </div>
		    <div class="clr"></div>
		    <div class="buttons">
		        <div class="btn-abs volver-pregunta">
		            <a href="#">volver a la <br> pregunta</a>
		        </div>
		        <div class="btn-abs volver-empezar">
		            <a href="#" class="back-button">volver a <br> empezar</a>
		        </div>
		        <div class="btn-abs prev">
		            <input type="submit" id="atras" name="atras" value="atrás">
		            <!--<a href="#">ANTERIOR</a>-->
		        </div>
		        <div class="btn-abs next">
		            <input type="submit" id="siguiente" name="Siguiente" value="siguiente">
		            <!--<a href="#">SIGUIENTE</a>-->
		        </div>
		    </div>
		    </form>
		    </div>
		</section>
		</script>

		<script id="sell-drink-template" type="text/x-handlebars-template">

		<section class="bg-border-gray vender-bibida template-sell-drink" style="display:none;"> <!-- Paso 12 -->
		<form action="" method="POST">
		    <div class="border-gray">
		        <div class="align-center">
		            <h2>¿Cuál es el precio de venta de la bebida?</h2>
		        </div>
		        <div class="align-center">
		            <figure class="radius inline">
		                <img src="{{presentation}}" alt="">
		            </figure>
		            <div class="tados-venta inline radius">
		                <h3 class="radius bg-yellow">Bebida: {{drinkName}}</h3>
		                <div class="clr"></div>
		                <h4 class="radius bg-coffe">Precio de venta</h4>
		                <label for="coffee-sell">$</label>
		                <input type="number" name="coffee-sell" id="coffee-sell" min="0" autofocus>
		            </div>
		        </div>

		        <div class="clr"></div>
		    </div>
		    <div class="clr"></div>

		    <div class="buttons">
		        <div class="btn-abs volver-pregunta">
		            <a href="#">volver a la <br> pregunta</a>
		        </div>
		        <div class="btn-abs volver-empezar">
		            <a href="#" class="back-button">volver a <br> empezar</a>
		        </div>
		        <div class="btn-abs prev">
		            <input type="submit" id="atras" name="atras" value="atrás">
		            <!--<a href="#">ANTERIOR</a>-->
		        </div>
		        <div class="btn-abs next">
		            <!--<a href="#">SIGUIENTE</a>-->
		            <input type="submit" id="calcular" name="Calcular" value="calcular">
		        </div>
		    </div>
		</form>
		</section>
		</script>

		<script id="result-cost-template" type="text/x-handlebars-template">

		<section class="intro-costeo intro2 template-result-cost" style="display:none;"> <!-- Intro 2-->
		    <div class="copy-costeo">
		    <p>¿Quieres saber los resultados del costo y la rentabilidad?</p>
		    </div>
		    <div class="buttons">
		        <input type="submit" id="atras" name="atras" value="atrás">
		        <input type="submit" id="siguiente" name="Siguiente" value="siguiente">
		    </div>
		</section>
		</script>

		<script id="resume-cost-template" type="text/x-handlebars-template">

		<section class="bg-border-gray costo-unitario resultado-bibidas template-resume-cost" style="display:none;"> <!-- Paso 13 -->
		    <div class="title-costo">
		        <div class="bg-yellow">Resultados para<br>cada bebida vendida:</div>
		    </div>
		    <div class="border-gray">
		        <figure class="cafe-resultado">
		            <img src="/wp-content/plugins/e-learning-2022-apasionados-por-el-cafe-plugin/public/resources/assets/images/cafe-resultado.png" alt="">
		        </figure>
		        <div class="resultado-precio-costo">
		            <div class="bg-coffe radius">
		                Costo de los insumos<br>(café + otros)
		            </div>
		            <div class="border-costo radius">
		                <strong>${{costoProducto}}</strong>
		            </div>
		            <a href="javascript:;" id="detalle-tabla" class="detalle radius">
		                <span>Ver detalles del costo</span>
		            </a>
		            <div class="bg-coffe radius">
		                Precio <br> de venta de un <br> {{drinkName}}
		            </div>
		            <div class="border-costo-venta radius">
		                <strong>${{precioProducto}}</strong>
		            </div>
		        </div>
		        <hr>
		        <div class="datos-finales end-1 left">
		            <div class="bg-coffe radius utilidad">La utilidad que obtienes<br>por cada bebida es de:</div>
		            <div class="border-costo-utilidad radius">
		                <strong>${{utilidadProducto}}</strong>
		            </div>
		        </div>

		        <div class="datos-finales left">
		            <div class="bg-coffe radius utilidad rentabilidad-end">La rentabilidad <br>sobre la venta es de:</div>
		            <div class="border-costo-utilidad radius">
		                <strong>{{rentabilidadUnitariaVenta}}%</strong>
		            </div>
		        </div>


		        <div class="clr"></div>
		    </div>
		    <div class="buttons">
		        <div class="btn-abs volver-pregunta">
		            <a href="#">volver a la <br> pregunta</a>
		        </div>
		        <div class="btn-abs volver-empezar">
		            <a href="#" class="back-button">volver a <br> empezar</a>
		        </div>
		        <div class="btn-abs prev">
		            <input type="submit" id="atras" name="atras" value="atrás">
		            <!--<a href="#">ANTERIOR</a>-->
		        </div>
		        <div class="btn-abs next">
		            <input type="submit" id="siguiente" name="Siguiente" value="siguiente">
		            <!--<input type="submit" value="SIGUIENTE">-->
		        </div>
		    </div>
		</section>

		</script>

		<script id="question-client-template" type="text/x-handlebars-template">

		<section class="bg-border-gray preguntas-cliente template-question-client" style="display:none;"> <!-- Paso 14 -->
		    <div class="border-gray">
		        <h3>Veamos ahora algunas preguntas <br>que puedes responderle a tu cliente:</h3>
		        <article class="left">
		            <p><span>1</span>¿Cuantas bebidas de <strong>{{drinkName}} </strong>
		            puedo obtener con el  paquete de <strong>{{gramosCafe}} gramos</strong>? <div class="resultado radius">{{numBebidas}} Bebidas</div>   </p>
		            <p><span>3</span> ¿Cuál sería el valor total  de venta de las bebidas
		            obtenidas del paquete completo? <div class="resultado radius">${{valorTotalVenta}}</div></p>
		        </article>
		        <article class="left">
		            <p><span>2</span> ¿Cuál sería el costo de preparar el paquete de {{brandName}} de {{gramosCafe}} gramos, incluidos  los insumos? <div class="resultado radius">${{costoTotalInsumos}}</div></p>
		            <p><span>4</span> ¿Cuál es la utilidad que tu cliente obtendrá por cada paquete de café preparado? <div class="resultado radius">${{utilidadCliente}}</div></p>
		        </article>
		        <!--<article class="left rentabilidad">
		            <p><span>5</span> ¿Cuál es la rentabilidad que se obtiene sobre la venta de café preparado?  <div class="resultado radius">{{rentabilidadVenta}}%</div></p>
		        </article>-->
		        <img src="/wp-content/plugins/e-learning-2022-apasionados-por-el-cafe-plugin/public/resources/assets/images/preguntas-frecuentes.png" alt="" class="cafe-preguntas">
		        <div class="clr"></div>
		    </div>
		    <div class="buttons">
		        <div class="btn-abs volver-pregunta">
		            <a href="#">volver a la <br> pregunta</a>
		        </div>
		        <div class="btn-abs volver-empezar">
		            <a href="#" class="back-button">volver a <br> empezar</a>
		        </div>
		        <div class="btn-abs prev">
		            <input type="submit" id="atras" name="atras" value="atrás">
		            <!--<a href="#">ANTERIOR</a>-->
		        </div>
		        <div class="btn-abs next">
		            <input type="submit" id="siguiente" name="Siguiente" value="siguiente">
		            <!--<input type="submit" value="SIGUIENTE">-->
		        </div>
		    </div>
		</section>

		</script>

		<script id="conclusion-template" type="text/x-handlebars-template">

		<section class="bg-border-gray cifras-preguntas template-conclusion" style="display:none;"> <!-- Paso 15 -->
		    <div class="border-gray">
		        <!--<p><span>&#8226;</span> <strong>Conclusión:</strong> Por cada bebida de café <br>
		        preparada se obtiene una rentabilidad de</p>
		        <div class="radius dato-cifra">{{rentabilidadVenta}}%</div>
		        <hr>-->
		        <p><span>&#8226;</span> Si tu preparas un paquete completo de café necesitas invertir en el paquete y en los insumos:</p>
		        <div class="radius dato-cifra">${{costoTotalInsumos}}</div>
		        <hr>
		        <p><span>&#8226;</span> Las ventas por paquete de café preparado serán de:</p>
		        <div class="radius dato-cifra">${{valorTotalVenta}}</div>
		        <hr>
		        <p><span>&#8226;</span> Cada paquete de {{coffeeName}} preparado, dejará una utilidad de:</p>
		        <div class="radius dato-cifra">${{utilidadPaquete}}</div>
		        <hr>
		        <!--<p><span>&#8226;</span> lo que significa una rentabilidad <br>sobre el costo</p>
		        <div class="radius dato-cifra">{{rentabilidadCosto}}%</div>-->
		        <img src="/wp-content/plugins/e-learning-2022-apasionados-por-el-cafe-plugin/public/resources/assets/images/proyeccion-venta-mes.png" alt="" class="proyeccion-venta">
		        <div class="clr"></div>
		    </div>
		    <div class="buttons">
		        <div class="btn-abs volver-pregunta">
		            <a href="#">volver a la <br> pregunta</a>
		        </div>
		        <div class="btn-abs volver-empezar">
		            <a href="#" class="back-button">volver a <br> empezar</a>
		        </div>
		        <div class="btn-abs prev">
		            <input type="submit" id="atras" name="atras" value="atrás">
		            <!--<a href="#">ANTERIOR</a>-->
		        </div>
		        <div class="btn-abs next">
		            <input type="submit" id="siguiente" name="Siguiente" value="siguiente">
		            <!--<input type="submit" value="SIGUIENTE">-->
		        </div>
		    </div>
		</section>

		</script>

		<script id="table-product-template" type="text/x-handlebars-template">

		<section class="bg-border-gray costo-unitario template-table-product" style="display:none;"> <!-- Paso 11 -->
		    <div class="title-costo">
		        <div class="bg-yellow">Costo unitario <br>Bebida</div>
		    </div>
		    <div class="border-copy">{{nameDrink}}</div>
		    <div class="border-copy">{{nameCoffee}}</div>
		    <div class="border-copy">{{glassInfo}}</div>
		    <div class="clr"></div>
		    <div class="table-resultados">
		        <div class="thead">
		            <div class="title bg-coffe">Producto/ insumo</div>
		            <div class="title bg-red">Precio</div>
		            <div class="title bg-yellow">Referencia</div>
		            <div class="title bg-green">Unidad de medida</div>
		            <div class="title bg-coffe">Valor unitario</div>
		            <div class="title bg-red">Cantidad a utilizar</div>
		            <div class="title bg-yellow">Unidad de bebida</div>
		            <div class="title bg-green">Valor total</div>
		        </div>
		        <div class="border-cell">{{nameCoffee}}</div>
		        <div class="border-cell">${{priceCoffee}}</div>
		        <div class="border-cell">{{gramaje}}</div>
		        <div class="border-cell">{{unidadMedida}}</div>
		        <div class="border-cell">${{valorUnitarioCafe}}</div>
		        <div class="border-cell">{{quantityCoffee}}</div>
		        <div class="border-cell">{{unidadMedida}}</div>
		        <div class="border-cell">${{coffeeCost}}</div>

		        {{#each insumos}}
		        <div class="border-cell">{{name}}</div>
		        <div class="border-cell">${{priceFormat}}</div>
		        <div class="border-cell">{{quantity}}</div>
		        <div class="border-cell">{{quantityLabel}}</div>
		        <div class="border-cell">${{unitValueFormat}}</div>
		        <div class="border-cell">{{quantityPerCoffeeFormat}}</div>
		        <div class="border-cell">{{quantityLabel}}</div>
		        <div class="border-cell">${{costoInsumoFormat}}</div>
		        {{/each}}
		        <div class="border-copy unitario">COSTO UNITARIO BEBIDA</div>
		        <div class="total bg-green">${{costoUnitarioTotal}}</div>
		    </div>
		    <div class="clr"></div>
		    <div class="buttons">
		        <div class="btn-abs volver-pregunta">
		            <a href="#">volver a la <br> pregunta</a>
		        </div>
		        <div class="btn-abs volver-empezar">
		            <a href="#" class="back-button">volver a <br> empezar</a>
		        </div>
		        <div class="btn-abs prev">
		            <input type="submit" id="atras" name="atras" value="atrás">
		        </div>
		    <!--<div class="btn-abs next">
		            <input type="submit" id="siguiente" name="Siguiente" value="siguiente">
		        </div>-->
		    </div>
		</section>
		</script>

		<script id="message-rent-template" type="text/x-handlebars-template">

		<section class="intro-costeo intro3 template-message-rent" style="display:none;"> <!-- Intro 3-->
		    <div class="copy-costeo-intro radius">
		    <p>Ya conoces la utilidad de una bebida y el costo de preparar un paquete de café. Ahora, veamos la proyección de ventas y la utilidad que sepuede obtener en un mes.</p>
		    </div>
		    <div class="buttons">
		        <input type="submit" id="atras" name="atras" value="atrás">
		        <input type="submit" id="siguiente" name="Siguiente" value="siguiente">
		        <!--<a href="#" class="next">SIGUIENTE</a>-->
		    </div>
		</section>
		</script>

		<script id="month-rent-entry-template" type="text/x-handlebars-template">
		<section class="bg-border-gray estimado-diario template-month-rent-entry" style="display:none;"> <!-- Paso 17 -->
		    <form action="" method="POST">
		        <div class="border-gray">
		            <p><span>1</span>Digita la cantidad de bebidas de {{drinkName}} que estimas que se pueden vender diariamente.</p>
		            <input type="number" name="day-quantity" id="day-quantity" min="1" autofocus="autofocus"> bebidas
		            <p><span>2</span>¿Cuántos días al mes está operando el negocio?</p>
		            <input type="number" name="work-days" min="1" id="work-days"> días
		            <img src="/wp-content/plugins/e-learning-2022-apasionados-por-el-cafe-plugin/public/resources/assets/images/estimado-diario.png" alt="" class="estimado-diario-left">
		        </div>
		        <div class="buttons">
		            <div class="btn-abs volver-pregunta">
		                <a href="#">volver a la <br> pregunta</a>
		            </div>
		            <div class="btn-abs volver-empezar">
		                <a href="#" class="back-button">volver a <br> empezar</a>
		            </div>
		            <div class="btn-abs prev">
		                <input type="submit" id="atras" name="atras" value="atrás">
		                <!--<a href="#">ANTERIOR</a>-->
		            </div>
		            <div class="btn-abs next">
		                <input type="submit" id="siguiente" name="Siguiente" value="siguiente">
		                <!--<input type="submit" value="SIGUIENTE">-->
		            </div>
		        </div>
		    </form>
		</section>
		</script>

		<script id="month-projection-template" type="text/x-handlebars-template">
		<section class="bg-border-gray resultados-estimacion template-month-projection" style="display:none;"> <!-- Paso 16 -->
		    <div class="border-gray">
		        <h3>De acuerdo con los datos que digitaste, vamos a ver en detalle tu proyección mensual de ventas de café preparado:</h3>
		        <p><span>1</span>Valor total de la venta de café preparado: <strong> ${{montSellCoffee}}.</strong></p>
		        <p><span>2</span>Costo total de insumos (café + otros): <strong>${{monthCostCoffee}}.</strong></p>
		        <p><span>3</span>Utilidad: <strong>${{monthUtility}}</strong></p>
		        <p><span>4</span>La rentabilidad sobre las ventas: <strong>{{monthRentSell}}%.</strong></p>
		        <br>
		        <p><strong>Otros datos de interés:</strong></p>
		        <p><span>1</span>Se requieren <strong>{{numPackageMonth}}</strong> paquetes de café de <strong>{{gramaje}} gramos al mes.</strong> </p>
		        <p><span>2</span>Costo del café: <strong>${{totalCoffeeMonth}}</strong>.</p>
		        <p><span>3</span>Costo de los otros insumos: <strong>${{totalInsumoMonth}}.</strong></p>
		        <img src="/wp-content/plugins/e-learning-2022-apasionados-por-el-cafe-plugin/public/resources/assets/images/proyeccion-venta-mes.png" alt="" class="proyeccion-venta">
		    </div>

		    <div class="buttons">
		        <div class="btn-abs volver-pregunta">
		            <a href="#">volver a la <br> pregunta</a>
		        </div>
		        <div class="btn-abs volver-empezar">
		            <a href="#" class="back-button">volver a <br> empezar</a>
		        </div>
		        <div class="btn-abs prev">
		            <input type="submit" id="atras" name="atras" value="atrás">
		            <!--<a href="#">ANTERIOR</a>-->
		        </div>
		        <div class="btn-abs next">
		            <input type="submit" id="siguiente" name="siguiente" value="Siguiente">
		            <!--<input type="submit" value="VENTA MES">-->
		        </div>
		    </div>
		</section>
		</script>

		<script id="final-template" type="text/x-handlebars-template">
		<section class="bg-border-gray final template-final" style="display:none;"> <!-- Paso Final -->
		<div class="coffees">
		    <form action="" method="POST">
		    <div class="border-gray">
		        <div class="align-center">
		            <figure>
		                <img src="/wp-content/plugins/e-learning-2022-apasionados-por-el-cafe-plugin/public/resources/assets/images/salario-empleados.png" alt="">
		            </figure>
		            <div class="cont-empleo">

		                <h4><img src="img/icon/icon-salario5.png" alt="">Piensa en tu negocio e imagina <br> que gastos puedes cubrir, por ejemplo:</h4>
		                <div class="empleo-border">
		                    <div class="iconos">
		                        <img src="img/icon/icon-salario1.png" alt="">
		                        <img src="img/icon/icon-salario2.png" alt="">
		                        <img src="img/icon/icon-salario3.png" alt="">
		                        <img src="img/icon/icon-salario4.png" alt="">
		                    </div>
		                    <div class="salarios">
		                        <span>Salario de una persona : </span>
		                        <div class="val"> $ <div class="dor">800.000</div></div>
		                    </div>
		                    <div class="salarios">
		                        <span>Costo de Electricidad : </span>
		                        <div class="val"> $ <div class="dor">200.000</div></div>
		                    </div>
		                    <div class="salarios">
		                        <span>Arriendo del establecimiento : </span>
		                        <div class="val"> $ <div class="dor">1.500.000</div></div>
		                    </div>
		                    <div class="salarios">
		                        <span>Renovación de equipos : </span>
		                        <div class="val"> $ <div class="dor">1.000.000</div></div>
		                    </div>
		                </div>
		            </div>
		        </div>
		        <div class="clr"></div>
		    </div>
		    <div class="clr"></div>
		    <div class="buttons">
		        <div class="btn-abs volver-pregunta">
		            <a href="#">volver a la <br> pregunta</a>
		        </div>
		        <div class="btn-abs volver-empezar">
		            <a href="#" class="back-button">volver a <br> empezar</a>
		        </div>
		        <div class="btn-abs prev">
		            <input type="submit" id="atras" name="atras" value="atrás">
		            <!--<a href="#">ANTERIOR</a>-->
		        </div>
		        <div class="btn-abs next">
		            <input type="submit" id="finalizar" name="finalizar" value="Finalizar">
		            <!--<a href="#">SIGUIENTE</a>-->
		        </div>
		    </div>
		</form>
		</div>
		</section>
		</script>

		<script id="month-resume-template" type="text/x-handlebars-template">
		/*
		<div class="template-month-resume" style="display:none;">
		    <div class="row">
		        <div class="span6">
		            {{#each leftInfo}}
		            <div class="label">
		                {{label}}
		            </div>
		            <div class="value">
		                {{value}}
		            </div>
		            {{/each}}
		        </div>
		        <div class="span6">
		            {{#each rightInfo}}
		            <div class="label">
		            {{label}}
		            </div>
		            <div class="value">
		            {{value}}
		            </div>
		            {{/each}}
		        </div>
		    </div>

		    <div class="buttons">
		        <input type="submit" id="atras" name="atras" value="atrás">
		        <input type="submit" id="finalizar" name="Finalizar" value="finalizar">
		    </div>
		</div>*/
		</script>

		<script id="month-resume-template" type="text/x-handlebars-template">
		/*
		<div class="template-month-resume" style="display:none;">
		    <div class="row">
		        <div class="span6">
		            {{#each leftInfo}}
		            <div class="label">
		                {{label}}
		            </div>
		            <div class="value">
		                {{value}}
		            </div>
		            {{/each}}
		        </div>
		        <div class="span6">
		            {{#each rightInfo}}
		            <div class="label">
		            {{label}}
		            </div>
		            <div class="value">
		            {{value}}
		            </div>
		            {{/each}}
		        </div>
		    </div>

		    <div class="buttons">
		        <input type="submit" id="atras" name="atras" value="atrás">
		        <input type="submit" id="finalizar" name="Finalizar" value="finalizar">
		    </div>
		</div>*/
		</script>
</div>

<script>
// Inicio app.js
var App = function(){
	var baseURL = 'http://localhost/colcafe-costeo/';
    var dataURL = baseURL+'js/data/';
    var machines, drinks, brands, tostions,glasses, insumos;
    var $mainContainer;
    var $selectedMachine;
    var $selectedCoffee;
    var $selectedBrand;
    var $selectedTostion;
    var $selectedGlass;
    var $selectedExpress;
    var $currentView;
    var machineSelected;
    var machineBrands;
    var brandSelected;
    var tostionSelected;
    var glassSelected;
    var glassExpressSelected
    var infoBrands;
    var gramosTostion;
    var gramosUnidadCafe;
    var glassML;
    var glassExpressML;
    var precioInsumoCafe;
    var gramosInsumoCafe;
    var costoInsumoCafe;
    var insumosInfo;
    var costoInsumo;
    var costoUnitarioBebida;
    var drinkSelected;
    var priceToPublic;
    var productUtility;
    var packageUtility;
    var numBebidas;
    var valorTotalVenta;
    var rentCosto;
    var workDays;
    var dayQuantity;
    var numPackageMonth;
    var poundQuantity;
    var totalCoffeeMonth;
    var totalInsumoMonth;
    var monthCostCoffee;
    var montSellCoffee;
    var monthUtility;
    var monthRentCost;
    var monthRentSell;
    var drinkWithMilk;
    var coffeePercent;
    var milkPercent;
    var milkPrice='';
    var milkQuantity='';
    var costoInsumoLeche;
    var cantidadUnitariaInsumoLeche;
    var valorUnitarioMilk;
    var $lightbox;
    var tempInfoDrink;
    var milkAdded = false;
    var insumosList;
    var divider;
    var gramsCoffeeExpress;
    var monthProjection = false;
    var drinkPresentation;
    var rentabilidadUnitariaVenta;

	var loadData = function(){

        $.when(
          $.getJSON(dataURL+'machines.json', function(data){
            machines = data;
          }),
          $.getJSON(dataURL+'drinks.json', function(data){
            drinks = data;
          }),
          $.getJSON(dataURL+'brands.json', function(data){
            brands = data;
          }),$.getJSON(dataURL+'glasses.json', function(data){
            glasses = data;
          }),
          $.getJSON(dataURL+'tostions.json', function(data){
            tostions = data;
          }),
          $.getJSON(dataURL+'insumos.json', function(data){
            insumos = data;
          })
        ).then(function() {
            configureLightBox();
            configureRetryButton();

            gotoIntro();
            //goToHome();
        });
    };

	var configureLightBox = function(){
      $lightbox = $('.lightbox-messajes');
      $lightbox.find('.close, #reiniciar').click(function(event) {
        $(this).parent().hide();
      });
    };

    var configureRetryButton = function(){
      $(document).on('click', '.back-button', function(event) {
        event.preventDefault();
        resetValues();
        gotoIntro();
      });
    };

	var gotoIntro = function(){
      var template = Handlebars.compile($("#intro-template").html());
      var html = template();
      loadView(html);
      var $currentTemplate = $('.template-intro');

      $('.main-costeo').removeClass('bg-costeo');

      $('#thumb-brand').empty();

      $currentTemplate.find('#siguiente').click(function(event) {
        event.preventDefault();

        $('.main-costeo').addClass('bg-costeo');

        goToHome();

      });
    };

    var goToHome = function(){
      var template = Handlebars.compile($("#machine-template").html());
      var html = template(machines);
      loadView(html);
      var $currentTemplate = $('.template-machine');
      var $radio;

      if($selectedMachine){
        $radio = $currentTemplate.find('#'+$selectedMachine.attr('id'));
        $currentTemplate.find('#'+$selectedMachine.attr('id')).attr('checked','checked');
        $currentTemplate.find('#'+$selectedMachine.attr('id')).parents('article').addClass('active');
      }

      $(".cont-radio input[type='radio'], .cont-radio input[type='checkbox']").uniform();

      $currentTemplate.find('input').change(function(event) {
        $currentTemplate.find('article').removeClass('active');
        $(this).parents('article').addClass('active');
      });

      $currentTemplate.find('#siguiente').click(function(event) {
        event.preventDefault();

        $selectedMachine = $currentTemplate.find('input[type="radio"]:checked');

        if($selectedMachine.length == 0){
          showPopup("¡Selecciona un equipo!");
          return;
        }

        machineSelected = App.getObject(machines,'id',parseInt($selectedMachine.val()));

        updateBreadscrumb(machineSelected.slug);

        coffeeSelector();

      });
    };

	var updateBreadscrumb = function(slug){
      var $ul = $('ul.breadcrumbs');

      if(slug){
        $ul.append($("<li>").text(slug));
      }else{
        $ul.find('li:last').remove();
      }
    };

    var showPopup = function(message, final) {
      $lightbox.find('p').html(message);

      if(!final){
        $('#reiniciar').addClass('hide');
      }else{
        $('#reiniciar').removeClass('hide');
      }

      $lightbox.show();
    };

	var coffeeSelector = function(){

      var machineDrinks = machineSelected.drinks;

      var infoDrinks = [];
      $.each(machineDrinks, function(index, val) {

        infoDrinks.push(App.getObject(drinks,'id',val.id));
      });

      var template = Handlebars.compile($("#coffee-template").html());
      var html = template(infoDrinks);
      loadView(html);

      var $currentTemplate = $('.template-coffee');
      var $radio;

      if($selectedCoffee){
        $radio = $currentTemplate.find('#'+$selectedCoffee.attr('id'));
        $currentTemplate.find('#'+$selectedCoffee.attr('id')).attr('checked',true);
        $currentTemplate.find('#'+$selectedCoffee.attr('id')).parents('article').addClass('active');
      }

      $(".cont-radio input[type='radio'], .cont-radio input[type='checkbox']").uniform();

      $currentTemplate.find('input').change(function(event) {
        $currentTemplate.find('article').removeClass('active');
        $(this).parents('article').addClass('active');
      });

      $currentTemplate.find('#siguiente').click(function(event) {
        event.preventDefault();

        $selectedCoffee = $currentTemplate.find('input[type="radio"]:checked');

        if($selectedCoffee.length == 0){
          showPopup("¡Selecciona una bebida!");
          return;
        }

        drinkSelected = App.getObject(drinks,'id',parseInt($selectedCoffee.val()));
        monthProjection = drinkSelected.monthProjection;
        drinkPresentation = drinkSelected.presentation;

        drinkWithMilk = false;
        if(drinkSelected.useMilk){
          drinkWithMilk = true;
        }

        updateBreadscrumb(drinkSelected.slug);

        brandSelector();
      });

      $currentTemplate.find('#atras').click(function(event) {
        event.preventDefault();
        goToHome();

        updateBreadscrumb();

      });

    };

    var brandSelector = function(){

      $('#thumb-brand').empty();

      machineBrands = machineSelected.brands;

      tempInfoDrink = App.getObject(machineSelected.drinks,'id',drinkSelected.id);

      if(tempInfoDrink.brands) {
        machineBrands = tempInfoDrink.brands;
      }

      infoBrands = [];

      $.each(machineBrands, function(index, val) {
        infoBrands.push(App.getObject(brands,'id',val.id));
      });

      var template = Handlebars.compile($("#brand-template").html());
      var html = template(infoBrands);
      loadView(html);

      var $currentTemplate = $('.template-brand');

      if($selectedBrand){
        $currentTemplate.find('#'+$selectedBrand.attr('id')).attr('checked','checked');
        $currentTemplate.find('#'+$selectedBrand.attr('id')).parents('article').addClass('active');
      }

      $(".cont-radio input[type='radio'], .cont-radio input[type='checkbox']").uniform();

      $currentTemplate.find('input').change(function(event) {
        $currentTemplate.find('article').removeClass('active');
        $(this).parents('article').addClass('active');
      });

      $currentTemplate.find('#siguiente').click(function(event) {
        event.preventDefault();

        $selectedBrand = $currentTemplate.find('input[type="radio"]:checked');

        if( $selectedBrand.length == 0 ){
          showPopup("¡Selecciona una marca!");
          return;
        }


        tostionSelector();
        updateBreadscrumb(brandSelected.slug);
      });

      $currentTemplate.find('#atras').click(function(event) {
        event.preventDefault();
        coffeeSelector();
        updateBreadscrumb();
      });

    };

	var tostionSelector = function(){

      brandSelected = App.getObject(machineBrands,'id',parseInt($selectedBrand.val()));



      if(brandSelected.tostions){
        var tostionList = brandSelected.tostions;
      }

      if(brandSelected.insumos){
        insumosList = brandSelected.insumos;
      }

      if(brandSelected.divider){
        divider = brandSelected.divider;
      }


      brandSelected = App.getObject(brands, 'id', parseInt(brandSelected.id));

      setThumbBrand();

      infoTostions = [];

      $.each(tostionList, function(index, val) {
        infoTostions.push(App.getObject(tostions,'id',val.id));
      });

      var template = Handlebars.compile($("#tostion-template").html());
      var html = template(infoTostions);
      loadView(html);

      var $currentTemplate = $('.template-tostion');

      if($selectedTostion){
        $currentTemplate.find('#'+$selectedTostion.attr('id')).attr('checked','checked');
        $currentTemplate.find('#'+$selectedTostion.attr('id')).parents('article').addClass('active');
      }

      $(".cont-radio input[type='radio'], .cont-radio input[type='checkbox']").uniform();

      $currentTemplate.find('input').change(function(event) {
        $currentTemplate.find('article').removeClass('active');
        $(this).parents('article').addClass('active');
      });

      $currentTemplate.find('#siguiente').click(function(event) {
          event.preventDefault();

          $selectedTostion = $currentTemplate.find('input[type="radio"]:checked');

          if( $selectedTostion.length == 0 ) {
            showPopup("¡Elige un sabor o tostión!");
            return;
          }

          tostionSelected = App.getObject(tostions,'id',parseInt($selectedTostion.val()));
          updateBreadscrumb(tostionSelected.slug);

          gramosTostion = parseFloat($selectedTostion.data('value'));

          gramajeEntry();
      });

      $currentTemplate.find('#atras').click(function(event) {
          event.preventDefault();
          brandSelector();
          updateBreadscrumb();
        });

    };

    var setThumbBrand = function(){
      var parts = brandSelected.pack.split("/");

      $('#thumb-brand').empty().append('<img src="'+(baseURL+parts[0]+"/tn-"+parts[1])+'">');
      console.log(brandSelected.pack);
    }

    var gramajeEntry = function(){

      var template = Handlebars.compile($("#gramaje-template").html());

      if(brandSelected.packFrio)
        brandSelected.pack = brandSelected.packFrio;

      var html = template(brandSelected);
      loadView(html);

      var $currentTemplate = $('.template-gramaje');

      if(precioInsumoCafe){
        $currentTemplate.find('#coffee-price').val(precioInsumoCafe);
        $currentTemplate.find('#coffee-gramaje').val(gramosInsumoCafe);
      }

      $currentTemplate.find('#siguiente').click(function(event) {
          event.preventDefault();

          //colocar validación en caso de que no hayan ingresado datos
          precioInsumoCafe = $currentTemplate.find('#coffee-price').val();
          gramosInsumoCafe = $currentTemplate.find('#coffee-gramaje').val();

          if(precioInsumoCafe=='' || gramosInsumoCafe==''){
            showPopup("¡Escribe el gramaje y el precio del café!");
            return;
          }

          if(tempInfoDrink.glasses === null){
            expressSelector();
            return;
          }

          glassSelector();
      });

      $currentTemplate.find('#atras').click(function(event) {
          event.preventDefault();
          tostionSelector();
          updateBreadscrumb();
        });
    };

    var expressSelector = function(){
      var expressList = tempInfoDrink.express;

      infoExpressGlasses = [];

      $.each(expressList, function(index, val) {
        infoExpressGlasses.push(App.getObject(glasses,'id',val.id));
      });



      var template = Handlebars.compile($("#glasses-expresso-template").html());
      var html = template(infoExpressGlasses);
      loadView(html);

      var $currentTemplate = $('.template-glasses-expresso');

      if($selectedExpress){
        $currentTemplate.find('#'+$selectedExpress.attr('id')).attr('checked', 'checked');
        $currentTemplate.find('#'+$selectedExpress.attr('id')).parents('article').addClass('active');
      }

      $(".cont-radio input[type='radio'], .cont-radio input[type='checkbox']").uniform();

      $currentTemplate.find('input').change(function(event) {
        $currentTemplate.find('article').removeClass('active');
        $(this).parents('article').addClass('active');
      });

      $currentTemplate.find('#siguiente').click(function(event) {
          event.preventDefault();

          //colocar validación en caso de que no hayan ingresado datos
          $selectedExpress = $currentTemplate.find('input[type="radio"]:checked');

          if( $selectedExpress.length == 0 ){
            showPopup("¡Selecciona un Espresso!");
            return;
          }

          glassExpressSelected = App.getObject(glasses,'id',parseInt($selectedExpress.val()));
          updateBreadscrumb(glassExpressSelected.slug);

          glassExpressML = parseInt($selectedExpress.data('ml'));
          gramsCoffeeExpress = parseInt($selectedExpress.data('gramcoffee'));


          if(drinkWithMilk)
            milkProportion();
          else{
            coffeePercent = 1;
            insumoEntry();
          }
      });

      $currentTemplate.find('#atras').click(function(event) {
        event.preventDefault();

        if($selectedGlass){
          updateBreadscrumb();
          glassSelector();
        }else{
          gramajeEntry();
        }

      });
    };

    var glassSelector = function(){
      var glassesList = machineSelected.glasses;

      infoGlasses = [];

      $.each(glassesList, function(index, val) {
        infoGlasses.push(App.getObject(glasses,'id',val.id));
      });

      var template = Handlebars.compile($("#glasses-template").html());
      var html = template(infoGlasses);
      loadView(html);

      var $currentTemplate = $('.template-glasses');

      if($selectedGlass){
        $currentTemplate.find('#'+$selectedGlass.attr('id')).attr('checked', 'checked');
        $currentTemplate.find('#'+$selectedGlass.attr('id')).parents('article').addClass('active');
      }

      $(".cont-radio input[type='radio'], .cont-radio input[type='checkbox']").uniform();

      $currentTemplate.find('input').change(function(event) {
        $currentTemplate.find('article').removeClass('active');
        $(this).parents('article').addClass('active');
      });

      $currentTemplate.find('#siguiente').click(function(event) {
          event.preventDefault();

          //colocar validación en caso de que no hayan ingresado datos
          $selectedGlass = $currentTemplate.find('input[type="radio"]:checked');

          if( $selectedGlass.length == 0 ){
            showPopup("¡Selecciona el tamaño!");
            return;
          }

          glassSelected = App.getObject(glasses,'id',parseInt($selectedGlass.val()));
          updateBreadscrumb(glassSelected.slug);

          glassML = parseInt($selectedGlass.data('ml'));

          if(tempInfoDrink.express){
            expressSelector();
            return;
          }

          if(drinkWithMilk)
            milkProportion();
          else{
            coffeePercent = 1;
            insumoEntry();
          }
      });

      $currentTemplate.find('#atras').click(function(event) {
        event.preventDefault();
        gramajeEntry();
      });
    };

    var milkProportion = function(){
      var template = Handlebars.compile($("#milk-proportion-template").html());
      var html = template();
      loadView(html);

      var $currentTemplate = $('.template-milk-proportion');

      $currentTemplate.find('#coffee-proportion, #milk-proportion').val(50);


      $currentTemplate.find('#coffee-proportion, #milk-proportion').keyup(function () {
        this.value = this.value.replace(/[^0-9\.]/g,'');
      });

      if(coffeePercent) {
        $currentTemplate.find('#coffee-proportion').val(coffeePercent*100);
        $currentTemplate.find('#milk-proportion').val(milkPercent*100);
        $('.barra-cafe .barra').css('background-size', '43px '+(coffeePercent*100)+'%');
        $('.barra-leche .barra').css('background-size', '43px '+(milkPercent*100)+'%');
        /*$currentTemplate.find('#milk-price').val(milkPrice);
        $currentTemplate.find('#milk-quantity').val(milkQuantity);*/
      }

      $currentTemplate.find('.up').click(function(event) {
        var $this = $(this);
        var $input = $this.siblings('input');

        updateBars($input, 'up');

      });

      $currentTemplate.find('.down').click(function(event) {
        var $this = $(this);
        var $input = $this.siblings('input');

        updateBars($input, 'down');
      });

      $currentTemplate.find('#siguiente').click(function(event) {

        var coffeeProportion = $currentTemplate.find('#coffee-proportion').val();
        var milkProportion = $currentTemplate.find('#milk-proportion').val();
        /*var price = $currentTemplate.find('#milk-price').val();
        var quantity = $currentTemplate.find('#milk-quantity').val();*/

        if(coffeeProportion == '' || milkProportion == ''/* || milkPrice == '' || milkQuantity == ''*/) {
          showPopup("Ingresa los valores para el café y la leche.");
          return;
        }

        coffeePercent = coffeeProportion / 100;
        milkPercent = milkProportion / 100;
        /*milkPrice = parseInt(price);
        milkQuantity = parseInt(quantity);*/

        event.preventDefault();

        //colocar validación en caso de que no hayan ingresado datos

        milkEntry();
      });

      $currentTemplate.find('#atras').click(function(event) {
          event.preventDefault();

          if(tempInfoDrink.express){
            expressSelector();
            return;
          }

          glassSelector();
        });
    };

	var milkEntry = function(){
      var template = Handlebars.compile($("#milk-entry-template").html());
      var html = template();
      loadView(html);

      var $currentTemplate = $('.template-milk-entry');

      //$currentTemplate.find('#coffee-proportion, #milk-proportion').val(50);


      /*$currentTemplate.find('#coffee-proportion, #milk-proportion').keyup(function () {
        this.value = this.value.replace(/[^0-9\.]/g,'');
      });*/

      if(coffeePercent) {
        //$currentTemplate.find('#coffee-proportion').val(coffeePercent*100);
        //$currentTemplate.find('#milk-proportion').val(milkPercent*100);
        $currentTemplate.find('#milk-price').val(milkPrice);
        $currentTemplate.find('#milk-quantity').val(milkQuantity);
      }

      $currentTemplate.find('#siguiente').click(function(event) {

        //var coffeeProportion = $currentTemplate.find('#coffee-proportion').val();
        //var milkProportion = $currentTemplate.find('#milk-proportion').val();
        var price = $currentTemplate.find('#milk-price').val();
        var quantity = $currentTemplate.find('#milk-quantity').val();

        if(price == '' || quantity == '') {
          showPopup("Ingresa la cantidad y precio de la leche.");
          return;
        }

        //coffeePercent = coffeeProportion / 100;
        //milkPercent = milkProportion / 100;
        milkPrice = parseInt(price);
        milkQuantity = parseInt(quantity);

        event.preventDefault();

        //colocar validación en caso de que no hayan ingresado datos
        insumoEntry();
      });

      $currentTemplate.find('#atras').click(function(event) {
          event.preventDefault();
          milkProportion();
        });
    };

    var updateBars = function($input, direction){
      var value = parseInt($input.val());

      if(direction == 'up'){
        value+=10;
        if(value > 100)
        value = 100;
      }else{
        value-=10;
        if(value < 0)
          value = 0;
      }

      $input.val(value);
      $input.siblings('.barra').css('background-size', '43px '+value+'%');

      if($input.parent().hasClass('barra-cafe') == true){
        $('.barra-leche input').val(100-$input.val());
        $('.barra-leche .barra').css('background-size', '43px '+(100-value)+'%');
      }else{
        $('.barra-cafe input').val(100-$input.val());
        $('.barra-cafe .barra').css('background-size', '43px '+(100-value)+'%');
      }
    };

    var insumoEntry = function(){
      var template = Handlebars.compile($("#insumos-template").html());

      if(insumosList){

       var insumosTemp = [];

        $.each(insumosList, function(index, val) {
          insumosTemp.push(App.getObject(insumos,'id',val.id));
        });

        var html = template(insumosTemp);

      }else{
        var insumosTemp = [];

        $.each(machineSelected.insumos, function(index, val) {
          insumosTemp.push(App.getObject(insumos,'id',val.id));
        });
        var html = template(insumosTemp);
      }

      //


      loadView(html);

      var $currentTemplate = $('.template-insumos');

      if(insumosInfo){
        $.each(insumosInfo, function(index, val) {
          var $insumo = $currentTemplate.find('#'+val.id);
          $insumo.attr('checked', 'checked');
          $insumo.parents('.select-radio').find('.insumo-values').show();
          $insumo.parents('.select-radio').find('input[name="price"]').val(val.price);
          $insumo.parents('.select-radio').find('input[name="quantity"]').val(val.quantity);
          //$insumo.parents('.form-control').find('.insumo-values').show();
        });
      }

      $(".cont-radio input[type='radio'], .cont-radio input[type='checkbox']").uniform();

      $currentTemplate.find('#siguiente').click(function(event) {
          event.preventDefault();

          //colocar validación en caso de que no hayan ingresado datos
          var error;
          $.each($currentTemplate.find('input[type="checkbox"]:checked'), function(index, val) {
             $target = $(val);

             $price = $target.parents('.select-radio').find('input[name="price"]');
             $quantity = $target.parents('.select-radio').find('input[name="quantity"]');

             if(parseInt($price.val()) <= 0 || isNaN(parseInt($price.val())) || parseInt($quantity.val()) < 0 || isNaN(parseInt($quantity.val()))){
              $price.css('border-color', 'red');
              $quantity.css('border-color', 'red');

              error = true;
             }else{
              $price.removeAttr('style');
              $quantity.removeAttr('style');
             }
          });

          if(error){
            $currentTemplate.find('.error-precio').text('Ingresa el precio y cantidad de los insumos').show();
            return;

          }

          insumosInfo = [];

          $.each($currentTemplate.find('input[type="checkbox"]:checked'), function(index, val) {
            $target = $(val);
            var quantitypercoffee;

            if(tempInfoDrink.glasses === null){
              quantitypercoffee = parseInt($target.data('quantitypercoffee')) == -1 ? (glassExpressML/1000)*coffeePercent:$target.data('quantitypercoffee');

            }else{


              quantitypercoffee = parseInt($target.data('quantitypercoffee')) == -1 ? (glassML/1000)*coffeePercent:$target.data('quantitypercoffee');

              if((machineSelected.id==3 || machineSelected.id==4) && drinkSelected.id==3 && $target.data('name') == 'Leche'){
                quantitypercoffee =  (glassML/1000) - (glassExpressML/1000);

              }

            }

            insumosInfo.push({
              id:$target.attr('id'),
              name:$target.data('name'),
              quantityPerCoffee:quantitypercoffee,
              water:$target.data('water'),
              price:parseInt($target.parents('.select-radio').find('input[name="price"]').val()),
              quantity:parseInt($target.parents('.select-radio').find('input[name="quantity"]').val()),
              quantityLabel:$target.data('quantitylabel')
            });
          });

          sellProductEntry();

      });

      $currentTemplate.find('input[type="checkbox"]').change(function(event) {
        $this = $(this);

        if($this.is(':checked')){
          $insumoValues = $this.parents('.select-radio').find('.insumo-values');
          $insumoValues.show();
          $insumoValues.find('.precio').focus();
          $currentTemplate.find('.error-precio').text('Ingresa el precio y cantidad de los insumos').hide();

        }else{
          $this.parents('.select-radio').find('.insumo-values').hide();
        }
      });

      $currentTemplate.find('#atras').click(function(event) {
        event.preventDefault();

        if(drinkWithMilk){
            milkProportion();
        }else{

          updateBreadscrumb();

          if(tempInfoDrink.express){
            expressSelector();
            return;
          }

            glassSelector();
        }
      });

    };

    var sellProductEntry = function(){
      var template = Handlebars.compile($("#sell-drink-template").html());
      var obj = {
        drinkName:drinkSelected.name,
        presentation:drinkPresentation
      }
      var html = template(obj);
      loadView(html);

      var $currentTemplate = $('.template-sell-drink');

      if(priceToPublic){
        $currentTemplate.find('#coffee-sell').val(priceToPublic);
      }

      $currentTemplate.find('#calcular').click(function(event) {
          event.preventDefault();

          priceToPublic = $currentTemplate.find('#coffee-sell').val();

          if(priceToPublic == ""){
            showPopup("¡Escribe el precio de tu bebida!");
            return;
          }

          if(tempInfoDrink.glasses === null){

            gramosUnidadCafe = App.getGramosCafeBebida(gramosTostion, glassExpressML, coffeePercent);
          }else{

            gramosUnidadCafe = App.getGramosCafeBebida(gramosTostion, glassML, coffeePercent,divider);

          }

          if(gramsCoffeeExpress) gramosUnidadCafe = gramsCoffeeExpress;



          if(gramosUnidadCafe <=0){
            gramosUnidadCafe = 1;
          }

          costoInsumoCafe = App.getCostoUnitarioInsumo(App.getValorUnitarioInsumo(precioInsumoCafe,gramosInsumoCafe),gramosUnidadCafe);

          costoInsumoLeche = 0;

          if(drinkWithMilk) {
            valorUnitarioMilk = App.getValorUnitarioInsumo(milkPrice, milkQuantity);
            cantidadUnitariaInsumoLeche = (glassML/1000)* milkPercent;
            costoInsumoLeche = (cantidadUnitariaInsumoLeche * milkPrice).toMoney(0,',','.');
          }

          costoInsumo = 0;
          $.each(insumosInfo, function(index, val) {
            //val.unitValue = parseFloat((val.price/val.quantity).toFixed(2));
            //val.costoInsumo = parseFloat((val.unitValue*val.quantityPerCoffee).toFixed(2));

            val.unitValue = val.price/val.quantity;
            val.unitValueFormat = val.unitValue.toMoney(0,',','.');
            val.costoInsumo = val.unitValue*val.quantityPerCoffee;
            val.quantityPerCoffeeFormat = typeof val.quantityPerCoffee==='number' && (val.quantityPerCoffee%1)===0 ? val.quantityPerCoffee : val.quantityPerCoffee.toMoney(2,',','.');
            val.costoInsumoFormat = val.costoInsumo.toMoney(0,',','.');
            val.priceFormat = val.price.toMoney(0,',','.');
            costoInsumo+=val.costoInsumo;
          });


          costoUnitarioBebida = costoInsumo+costoInsumoCafe+Number(costoInsumoLeche);

          productUtility = priceToPublic - costoUnitarioBebida;
          rentabilidadUnitariaVenta = (productUtility/priceToPublic)*100;
          //console.log(rentabilidadUnitariaVenta);

          resultCostDisplayer();
      });

      $currentTemplate.find('#atras').click(function(event) {
          event.preventDefault();
          insumoEntry();
        });

    };

	var resultCostDisplayer = function(){
      var template = Handlebars.compile($("#result-cost-template").html());
      var html = template();
      loadView(html);

      var $currentTemplate = $('.template-result-cost');

      $('.main-costeo').removeClass('bg-costeo');

      $currentTemplate.find('#siguiente').click(function(event) {
          event.preventDefault();
          resumeCostDisplay();
      });


      $currentTemplate.find('#atras').click(function(event) {
          event.preventDefault();
          sellProductEntry();
      });
    };

    var resumeCostDisplay = function(){
      var template = Handlebars.compile($("#resume-cost-template").html());


      var obj = {
        drinkName:drinkSelected.name,
        costoProducto:costoUnitarioBebida.toMoney(0,',','.'),
        precioProducto:Number(priceToPublic).toMoney(0,',','.'),
        utilidadProducto:productUtility.toMoney(0,',','.'),
        rentabilidadUnitariaVenta:rentabilidadUnitariaVenta.toMoney(0,',','.')
      };

      var html = template(obj);
      loadView(html);

      var $currentTemplate = $('.template-resume-cost');

      $('.main-costeo').addClass('bg-costeo');

      $currentTemplate.find('#detalle-tabla').click(function(event) {
          event.preventDefault();
          tableProductDisplay();
      });

      $currentTemplate.find('#siguiente').click(function(event) {
          event.preventDefault();
          conclusionDisplay();
          //questionClientDisplay();
      });

      $currentTemplate.find('#atras').click(function(event) {
          event.preventDefault();
          sellProductEntry();
      });
    };

    var questionClientDisplay = function(){

      var template = Handlebars.compile($("#question-client-template").html());

      numBebidas = App.getNumBebidas(gramosInsumoCafe, gramosUnidadCafe);//es el gramosTostion o gr
      costoTotalInsumos = App.getCostoTotal(numBebidas, costoUnitarioBebida);
      valorTotalVenta = App.getValorTotalVenta(numBebidas, priceToPublic);
      rentVenta = App.getSellRentability(valorTotalVenta,costoTotalInsumos);
      packageUtility = App.getPackageUtility(valorTotalVenta,costoTotalInsumos);
      rentCosto = App.getCostRentability(valorTotalVenta,costoTotalInsumos);

      var obj = {
        brandName:brandSelected.name,
        drinkName:drinkSelected.name,
        gramosCafe:gramosInsumoCafe,
        numBebidas:App.currencyFormat(numBebidas),
        costoTotalInsumos:costoTotalInsumos.toMoney(0, ',','.'),
        valorTotalVenta:valorTotalVenta.toMoney(0, ',','.'),
        utilidadCliente:packageUtility.toMoney(0, ',','.'),
        rentabilidadVenta:App.currencyFormat(rentVenta)
      };

      var html = template(obj);
      loadView(html);

      var $currentTemplate = $('.template-question-client');

      $currentTemplate.find('#siguiente').click(function(event) {
          event.preventDefault();
          conclusionDisplay();
      });

      $currentTemplate.find('#atras').click(function(event) {
          event.preventDefault();
          resumeCostDisplay();
      });
    };

    var conclusionDisplay = function(){
      var template = Handlebars.compile($("#conclusion-template").html());

      numBebidas = App.getNumBebidas(gramosInsumoCafe, gramosUnidadCafe);//es el gramosTostion o gr
      costoTotalInsumos = App.getCostoTotal(numBebidas, costoUnitarioBebida);
      valorTotalVenta = App.getValorTotalVenta(numBebidas, priceToPublic);
      rentVenta = App.getSellRentability(valorTotalVenta,costoTotalInsumos);
      packageUtility = App.getPackageUtility(valorTotalVenta,costoTotalInsumos);
      rentCosto = App.getCostRentability(valorTotalVenta,costoTotalInsumos);

      var obj = {
        coffeeName:drinkSelected.name,
        utilidadProducto:App.currencyFormat(productUtility),
        costoTotalInsumos:costoTotalInsumos.toMoney(0, ',','.'),
        valorTotalVenta:valorTotalVenta.toMoney(0, ',','.'),
        utilidadPaquete: packageUtility.toMoney(0, ',','.'),
        rentabilidadVenta: App.currencyFormat(rentVenta),
        rentabilidadCosto:App.currencyFormat(rentCosto)
      };

      var html = template(obj);
      loadView(html);

      var $currentTemplate = $('.template-conclusion');


      $currentTemplate.find('#siguiente').click(function(event) {
          event.preventDefault();

          if(!monthProjection){
            gotoFinal();
            return;
          }else{
            messageRentDisplay();
          }
      });

      $currentTemplate.find('#atras').click(function(event) {
          event.preventDefault();
          //questionClientDisplay();
          resumeCostDisplay();
      });
    };

    var tableProductDisplay = function(){
      var template = Handlebars.compile($("#table-product-template").html());

      if(drinkWithMilk) {
        if(!milkAdded){
          var leche = {
            name:"Leche",
            price: milkPrice,
            priceFormat: milkPrice.toMoney(0,',','.'),
            quantity:milkQuantity,
            quantityLabel:"Litros",
            unitValue:milkPrice,
            unitValueFormat:milkPrice.toMoney(0,',','.'),
            quantityPerCoffee:cantidadUnitariaInsumoLeche,
            quantityPerCoffeeFormat:cantidadUnitariaInsumoLeche.toMoney(2,',','.'),
            costoInsumo:costoInsumoLeche,
            costoInsumoFormat:costoInsumoLeche
          };


          insumosInfo.push(leche);


          milkAdded = true;

        }
      }

      var glassName;
      if(tempInfoDrink.glasses === null){
        glassName = glassExpressSelected.name;
      }else{
        glassName = glassSelected.name;
      }


      var obj = {
        nameDrink:drinkSelected.name,
        nameCoffee:brandSelected.name,
        tostionName:tostionSelected.name,
        glassInfo:glassName,
        priceCoffee:Number(precioInsumoCafe).toMoney(0,',','.'),
        gramaje:gramosInsumoCafe,
        unidadMedida:"gramos",
        valorUnitarioCafe:App.getValorUnitarioInsumo(precioInsumoCafe,gramosInsumoCafe).toMoney(0,',','.'),
        quantityCoffee:Number(gramosUnidadCafe).toMoney(0,',','.'),
        unidadMedida:"gramos",
        coffeeCost:costoInsumoCafe.toMoney(0,',','.'),
        insumos:insumosInfo,
        costoUnitarioTotal:parseInt(costoUnitarioBebida).toMoney(0,',','.')
      };

      var html = template(obj);
      loadView(html);

      var $currentTemplate = $('.template-table-product');

      $currentTemplate.find('#siguiente').click(function(event) {
          event.preventDefault();

          messageRentDisplay();
      });

      $currentTemplate.find('#atras').click(function(event) {
          event.preventDefault();
          resumeCostDisplay();
          //conclusionDisplay();
      });

    };

	var messageRentDisplay = function(){

      var template = Handlebars.compile($("#message-rent-template").html());

      var html = template();
      loadView(html);

      var $currentTemplate = $('.template-message-rent');

      $('.main-costeo').removeClass('bg-costeo');

      $currentTemplate.find('#siguiente').click(function(event) {
          event.preventDefault();
          monthRentabilityDisplay();
      });

      $currentTemplate.find('#atras').click(function(event) {
          event.preventDefault();
          tableProductDisplay();
      });
    };


	var monthRentabilityDisplay = function(){

      var template = Handlebars.compile($("#month-rent-entry-template").html());
      var obj = {
        drinkName:drinkSelected.name
      }
      var html = template(obj);
      loadView(html);

      var $currentTemplate = $('.template-month-rent-entry');

      $('.main-costeo').addClass('bg-costeo');


      if(dayQuantity){
        $currentTemplate.find('#day-quantity').val(dayQuantity);
        $currentTemplate.find('#work-days').val(workDays);
      }

      $currentTemplate.find('#day-quantity').focus();

      $currentTemplate.find('#siguiente').click(function(event) {
          event.preventDefault();

          dayQuantity = $currentTemplate.find('#day-quantity').val();
          workDays = $currentTemplate.find('#work-days').val();

          if(dayQuantity == "" || workDays == ""){
            showPopup("¡Debes completar los campos para continuar!");
            return;
          }

          monthProjectionDisplay();

      });

      $currentTemplate.find('#atras').click(function(event) {
          event.preventDefault();
          messageRentDisplay();
      });
    };

	var monthProjectionDisplay = function(){

      var template = Handlebars.compile($("#month-projection-template").html());

      numPackageMonth = App.getPackageByMonth(dayQuantity,workDays,numBebidas);
      poundQuantity = App.getPountMonth(dayQuantity,gramosUnidadCafe, workDays);
      totalCoffeeMonth = App.getTotalCoffeeMonth(costoInsumoCafe,dayQuantity,workDays);
      totalInsumoMonth = App.getTotalInsumoMonth(costoInsumo, dayQuantity,workDays);
      monthCostCoffee = App.getMontCostCoffee(totalInsumoMonth,totalCoffeeMonth);
      montSellCoffee = App.getMontSellCoffee(priceToPublic, dayQuantity,workDays);
      monthUtility = App.getMonthUtility(montSellCoffee, monthCostCoffee);
      monthRentCost = App.getMonthRentCostUtility(montSellCoffee,monthCostCoffee);
      monthRentSell = App.getMonthRentUtility(montSellCoffee,monthCostCoffee);


      var obj = {
        numPackageMonth:numPackageMonth.toMoney(0,',','.'),
        gramaje:gramosInsumoCafe,
        poundQuantity:poundQuantity.toMoney(1,',','.'),
        totalCoffeeMonth:totalCoffeeMonth.toMoney(0,',','.'),
        totalInsumoMonth:totalInsumoMonth.toMoney(0,',','.'),
        monthCostCoffee:monthCostCoffee.toMoney(0,',','.'),
        montSellCoffee:montSellCoffee.toMoney(0,',','.'),
        monthUtility:monthUtility.toMoney(0,',','.'),
        monthRentCost:monthRentCost.toMoney(1,',','.'),
        monthRentSell:monthRentSell.toMoney(0,',','.')
      };

      var html = template(obj);
      loadView(html);

      var $currentTemplate = $('.template-month-projection');


      $currentTemplate.find('#siguiente').click(function(event) {
        event.preventDefault();
         gotoFinal();
      });


      $currentTemplate.find('#atras').click(function(event) {
          event.preventDefault();
          monthRentabilityDisplay();
      });
    };

    var gotoFinal = function(){
      var template = Handlebars.compile($("#final-template").html());
      var html = template();
      loadView(html);
      var $currentTemplate = $('.template-final');

      $currentTemplate.find('#finalizar').click(function(event) {
        event.preventDefault();
          finishSimulation();
      });

      $currentTemplate.find('#atras').click(function(event) {
          event.preventDefault();
          if(!monthProjection){
            conclusionDisplay();
            return;
          }else{
            monthProjectionDisplay();
          }
      });
    };

	var finishSimulation = function(){
      showPopup("¡Hemos completado la simulación!.<br><br>Espero que te haya sido útil. Si deseas realizar <br>otra simulación, haz clic en Reiniciar.", true);
      resetValues();
      gotoIntro();
    };

    var resetValues = function(){
      $('ul.breadcrumbs').empty();
      $selectedMachine = $selectedCoffee = $selectedBrand = $selectedTostion = $selectedGlass = $selectedExpress =machineSelected = machineBrands = brandSelected = tostionSelected = glassSelected = glassExpressSelected = infoBrands = gramosTostion = gramosUnidadCafe =glassML = glassExpressML = precioInsumoCafe = gramosInsumoCafe = costoInsumoCafe = insumosInfo = costoInsumo = costoUnitarioBebida = drinkSelected = priceToPublic = productUtility = packageUtility = numBebidas = valorTotalVenta = rentCosto = workDays =  dayQuantity = numPackageMonth = poundQuantity = totalCoffeeMonth = totalInsumoMonth = monthCostCoffee = montSellCoffee = monthUtility = monthRentCost = monthRentSell = drinkWithMilk = coffeePercent = milkPercent = milkPrice = milkQuantity = costoInsumoLeche = cantidadUnitariaInsumoLeche = valorUnitarioMilk = tempInfoDrink =
milkAdded = insumosList = divider= gramsCoffeeExpress = monthProjection = drinkPresentation = null;
    };

    /*var monthResumeDisplayer = function(){

      var template = Handlebars.compile($("#month-resume-template").html());

      var left = [
        {label:"Gramos de café utilizados al mes", value:gramosInsumoCafe*numPackageMonth},
        {label:"Presentación café utilizado(gramos)", value:gramosInsumoCafe},
        {label:"Nº paquetes de café al mes", value:numPackageMonth}
      ];

      var right = [
        {label:"Libras de café utilizados al mes", value:poundQuantity},
        {label:"Valor compra del café al mes", value:App.currencyFormat(totalCoffeeMonth)},
        {label:"Rentabilidad al mes", value:App.currencyFormat(monthRentSell)}
      ];

      var html = template({leftInfo:left, rightInfo:right});
      loadView(html);

      var $currentTemplate = $('.template-month-resume');


      $currentTemplate.find('#finalizar').click(function(event) {
          showPopup("Has acabado con la simulación.");
          gotoIntro();
      });

      $currentTemplate.find('#atras').click(function(event) {
          event.preventDefault();
          monthProjectionDisplay();
      });
    };*/

    var loadView = function(view){
      if(!$currentView){
        $currentView = view;
        $mainContainer.append(view);
        $mainContainer.children().fadeOut(0).fadeIn('fast');
      }else{
        $currentView = view;
        $mainContainer.append(view);

        $mainContainer.children(':first-child').fadeOut('fast', function() {
          $(this).remove();
          $mainContainer.children(':first-child').fadeOut(0).fadeIn('fast', function() {
            $currentView = $(view);
          });
        });
      }
    };

	return {
        init:function(url){
			baseURL = '/wp-content/plugins/e-learning-2022-apasionados-por-el-cafe-plugin/public/resources/assets/';
            dataURL = baseURL+'json/';

          $mainContainer = $('.main-costeo');

		  Handlebars.registerHelper('baseURL', function(img) {
            return baseURL+img; //just return global variable value
          });

          loadData();
        },
        getObject:function(obj, key, val){
          var result = null;
          $.grep(obj, function(o) {
              if(o[key] === val)
                result = o;
          });
          return result;

        },
        getGramosCafeBebida:function(tostion, ml, percent,divider){
          divider = divider || 100;
          return ((tostion*ml)/divider) * percent;
        },
        getValorUnitarioInsumo:function(precio, ref){
          return precio/ref;
        },
        getCostoUnitarioInsumo:function(valorUnitario, cantidad){
          return valorUnitario*cantidad;
        },
        currencyFormat:function(num) {
          return Math.round(num);
          //return num.toFixed(2).replace(/(\d)(?=(\d{3})+(?!\d))/g, "$1,");
        },
        getNumBebidas:function(totalGramaje,gramosUnidadCafe){
          return totalGramaje/gramosUnidadCafe;
        },
        getCostoTotal:function(numBebidas, costoUnitario){
          return numBebidas * costoUnitario;
        },
        getValorTotalVenta:function(numBebidas, precioUnitario){
          return numBebidas * precioUnitario;
        },
        getPackageUtility:function(venta, costo){
          return venta - costo;
        },
        getCostRentability:function(venta, costo){
          return ((venta - costo)/costo)*100;
        },
        getSellRentability:function(venta, costo){
          return ((venta - costo)/venta)*100;
        },
        getPackageByMonth:function(dayQuantity,workDays,numBebidas){
          return (dayQuantity*workDays)/numBebidas;
        },
        getPountMonth:function(dayQuantity,gramosUnidadCafe, workDays){
          return (dayQuantity*gramosUnidadCafe*workDays)/500;
        },
        getTotalCoffeeMonth:function(costoInsumoCafe,dayQuantity,workDays){
          return costoInsumoCafe*dayQuantity*workDays;
        },
        getTotalInsumoMonth:function(costoInsumo,dayQuantity,workDays){
          return costoInsumo*dayQuantity*workDays;
        },
        getMontCostCoffee:function(insumo, coffee){
          return insumo + coffee;
        },
        getMontSellCoffee:function(coffeePrice, dayQuantity,workDays){
          return coffeePrice*dayQuantity*workDays;
        },
        getMonthUtility:function(montSellCoffee, monthCostCoffee){
          return montSellCoffee - monthCostCoffee;
        },
        getMonthRentCostUtility:function(ventas, costo){
          return ((ventas-costo)/costo)*100;
        },
        getMonthRentUtility:function(ventas, costo){
          return ((ventas-costo)/ventas)*100;
        }
    };

}();
//Fin app.js


// Inicio main.js
/*
decimal_sep: character used as deciaml separtor, it defaults to '.' when omitted
thousands_sep: char used as thousands separator, it defaults to ',' when omitted
*/
Number.prototype.toMoney = function(decimals, decimal_sep, thousands_sep)
{
   var n = this,
   c = isNaN(decimals) ? 2 : Math.abs(decimals), //if decimal is zero we must take it, it means user does not want to show any decimal
   d = decimal_sep || '.', //if no decimal separator is passed we use the dot as default decimal separator (we MUST use a decimal separator)

   /*
   according to [http://stackoverflow.com/questions/411352/how-best-to-determine-if-an-argument-is-not-sent-to-the-javascript-function]
   the fastest way to check for not defined parameter is to use typeof value === 'undefined'
   rather than doing value === undefined.
   */
   t = (typeof thousands_sep === 'undefined') ? ',' : thousands_sep, //if you don't want to use a thousands separator you can pass empty string as thousands_sep value

   sign = (n < 0) ? '-' : '',

   //extracting the absolute value of the integer part of the number and converting to string
   i = parseInt(n = Math.abs(n).toFixed(c)) + '',

   j = ((j = i.length) > 3) ? j % 3 : 0;
   return sign + (j ? i.substr(0, j) + t : '') + i.substr(j).replace(/(\d{3})(?=\d)/g, "$1" + t) + (c ? d + Math.abs(n - i).toFixed(c).slice(2) : '');
}
jQuery(document).ready(function($) {
    App.init(window.location.href);
});
// Fin main.js
</script>
