
<style>
  .main-slick-new .leccion-top.active { width: 35px;}
  .slick-slide{padding: initial;}
  .main-slick-new .leccion-top{width: 35px; padding-top: 8px; background-color: #7f2e2d;}
  .main-slick-new .leccion-top.active{background-color: #7f2e2d; padding: 6px;}
  .main-slick-new a { color: #fff;}
  .main-slick-new #owl-leccion-top{max-width: 215px;}
  .main-slick-new {margin: 30px auto;}
  .main-slick-new .leccion-top.current.active{background-color: #f0f0f0;}
  .main-slick-new .leccion-top.current.active a{color: #7f2e2d;}
  .main-slick-new .current-lesson {background-color: #7f2e2d8a !important;}
  .main-slick-new .current-lesson a{color: #fff !important;}

  </style>
  <div data-step="3" data-intro="Mira cómo va tu progreso en el módulo en el que estás ahora. <br><br> Recuerda que al final de cada módulo probaremos tu conocimiento." data-position='bottom' id="owl-leccion-top" class="inline">
      <div class="porcentaje inline"> <div class="title">Progreso: </div> <span>{{ localProgress | limitTo : 5 : 0 }}%</span></div>
           
      <slick class="slick" settings="slickConfig" ng-if="lessonLoaded">
          <div ng-repeat="lesson in lessons" class="leccion-top inline"   ng-class="{
             'active': (course.index < totalProgress.lesson) || 
                       (course.index <= totalProgress.lesson && $index <= totalProgress.section), 
             'aux-active': course.index < totalProgress.lesson, 
             'current': totalProgress.section == $index && course.index == totalProgress.lesson,
             'current-lesson': progress.section === $index
             
         }">
              <a href="javascript:;" ng-click="goTo( course.index, $index )">
              {{ $index + 1}}
              
                  <!-- <figure>
                      <img ng-src="{{ assets_url }}/resources/assets/images/thumbnail/{{ lesson.image }}" alt="">
                  </figure>
                  <h3>{{ lesson.name }}</h3> -->
              </a>
          </div>
      </slick>
  </div>
  <!-- <div class="duracion right">
      <h5>DURACIÓN<br> MÓDULO </h5>
      <span>{{ course.time }}</span>
  </div> -->
