<uib-accordion close-others="true">
  <uib-accordion-group ng-repeat="course in courses" class="{{ course.unique }}" ng-class="{'done': totalProgress.lesson > $index}" is-open="status.isOpen[$index]" ng-click="verifyNextStatus()">
      <uib-accordion-heading>
      <h3 class="{{ course.unique }}">{{ course.name }}</h3> <i class="pull-right" ng-class="{'open': status.isOpen[$index], 'close': !status.isOpen[$index]}"></i>
      </uib-accordion-heading>
      <ul class="list-{{ course.unique }}">
          <li ng-repeat="lesson in course.content" ng-class="{'active': (course.index < totalProgress.lesson) || (course.index <= totalProgress.lesson && $index <= totalProgress.section), 'aux-active': course.index<totalProgress.lesson, 'current': totalProgress.section == $index && course.index==totalProgress.lesson}">
              <a href="javascript:;" ng-click="goTo( course.index, $index )">{{ lesson.name }}</a>
          </li>
      </ul>
  </uib-accordion-group>
</uib-accordion>
