<div data-step="3" data-intro="Mira cómo va tu progreso en el módulo en el que estás ahora. <br><br> Recuerda que al final de cada módulo probaremos tu conocimiento." data-position='bottom' id="owl-leccion-top" class="inline">
    <div class="porcentaje inline"> <div class="title">PROGRESO.</div> <span>{{ localProgress | limitTo : 5 : 0 }}%</span></div>
    <slick class="slick" settings="slickConfig" ng-if="lessonLoaded">
        <div ng-repeat="lesson in lessons" class="leccion-top inline" ng-class="{'active': (course.index < totalProgress.lesson) || (course.index <= totalProgress.lesson && $index <= totalProgress.section), 'aux-active': course.index<totalProgress.lesson, 'current': totalProgress.section == $index && course.index==totalProgress.lesson}">
            <a href="javascript:;" ng-click="goTo( course.index, $index )">
                <h3>{{ lesson.name }}</h3>
                <figure>
                    <img ng-src="{{ assets_url }}/resources/assets/images/thumbnail/{{ lesson.image }}" alt="">
                </figure>
            </a>
        </div>
    </slick>
</div>
<!-- <div class="duracion right">
    <h5>DURACIÓN<br> MÓDULO </h5>
    <span>{{ course.time }}</span>
</div> -->
