/*Select uniform js*/
.select-content div.selector {
 background: url('icon-select.png') no-repeat right center;
 line-height: 43px;
 height: 43px;
 padding: 0 15px 0 42px;
 position: relative;
 overflow: hidden;
 width: 100% !important;
 color: #5a2a17;
 font-family: 'zag_regularregular';
}
div.selector span {
    text-overflow: ellipsis;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    height: 43px;
    line-height: 43px;
    cursor: pointer;
    display: block;
}
div.selector select {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    position: absolute;
    height: 43px;
    top: 0;
    left: 0px;
    width: 100%;
    color: #5a2a17;
 font-family: 'zag_regularregular';
}
/* Radio uniform js*/
.cont-radio{
 width: 20px;
 height: 20px;
 margin-top: 12px;
}
div.radio, div.radio span, div.radio input {
 display: inline-block;
 background: url('icon-radio.png') no-repeat;
 width: 21px;
 height: 21px;
 padding: 0;
 margin: 0;
}
.radio input[type="radio"]{margin: 0;}
div.radio span {
 display: -moz-inline-box;
 display: inline-block;
 *display: inline;
 zoom: 1;
 text-align: center;
 background-position: 0 -279px;
}
div.radio span.checked {
    background-position: center bottom; }
div.radio input {
 opacity: 0;
 filter: alpha(opacity=0);
 -moz-opacity: 0;
 border: none;
 background: none;
 display: -moz-inline-box;
 display: inline-block;
 *display: inline;
 zoom: 1;
 text-align: center;
}
div.radio.active span {
    background-position: center bottom; }
div.radio.active span.checked {
    background-position: center bottom; }

/*checkbox uniform js*/
div.checker {
    position: relative;
    margin-right: 10px;

}
div.checker, div.checker span, div.checker input {
    background: url('icon-checkbox.png') no-repeat;
    display: inline-block;
    vertical-align: top;
    width: 21px;
    height: 21px;
    padding: 0;
    margin: 0 10px 0 0;
}
 div.checker span {
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
    text-align: center;
    background-position:center top;
}
div.checker span.checked {background-position: center bottom;}
div.checker input {
    opacity: 0;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    border: none;
    background: none;
    display: -moz-inline-box;
    display: inline-block;
    *display: inline;
    zoom: 1;
}
div.checker.active span {background-position: center bottom; }
div.checker.active span.checked {background-position: center bottom; }
