a,
a:hover { text-decoration: none; }
a img   { border: none; outline: none; }
img{max-width: 100%;}
input   { outline: none; }

body {
    font-family: 'Dinpro-regular';
    font-size: 16px;
}
.software-banner{display:none;}
#next-leson-content {
    float: left;
    height: 36px;
    h3 {
        display: inline-block;
        float: none;
        vertical-align: -webkit-baseline-middle;
    }
}
.accept-case-final {
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    top: 264px;
}
.accept-case-final-2 {
    display: block;
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    top: 332px;
}
header{
    .top{
    	overflow: hidden;
    	padding: 7px 0;
    	.compartir{
    		background: url('../resources/assets/img/icon/icon-compartir.png') no-repeat top center;
    		cursor: pointer;
    		height:39px;
    		width:39px;
    	}
    	.mapa{
    		background: url('../resources/assets/img/icon/icon-mapa.png') no-repeat left center;
    		color:#86635f;
    		display: block;
    		font-family: 'Dinpro-bold';
    		font-size: 12px;
    		height: 38px;
    		line-height: 38px;
    		margin-right: 13px;
    		padding-right: 10px;
    		padding-left: 40px;
    		text-decoration: none;
    		text-transform: uppercase;
    		transition: all 0.5s ease-in-out 0s;
    		border: 1px solid #86635f;
    		&:hover{color:#86635f;}
    	}
    	.descargar-material{
    		background: url('../resources/assets/img/icon/icon-descargar-pdf.png') no-repeat 10px center;
    		color:#86635f;
    		display: block;
    		font-family: 'Dinpro-bold';
    		font-size: 12px;
    		height: 38px;
    		line-height: 38px;
    		margin-right: 13px;
    		padding-left: 40px;
    		padding-right: 10px;
    		text-decoration: none;
    		text-transform: uppercase;
    		transition: all 0.5s ease-in-out 0s;
    		border: 1px solid #86635f;
    		&:after{
    			content:  url('../resources/assets/img/icon/icon-mas-pdf.png');
    			position: relative;
    			top: 3px;
    		}
    		&:hover{color:#86635f;}
    	}
    	.logros{
    		background: url('../resources/assets/img/icon/icon-mis-logros.png') no-repeat top left;
    		color: #fff;
    		font-family: 'itc_avant_garde_gothic_stdemi';
    		font-size: 13px;
    		height:38px;
    		line-height: 38px;
    		margin-left: 30px;
    		padding-left:45px;
    	}
    	.foro,.logros, .instrucciones{
    		transition: all 0.5s ease-in-out 0s;
    		&:hover{background-position: bottom left;}
    	}
    	.foro{
    		background: url('../resources/assets/img/icon/icon-foro.png') no-repeat top left;
    		color: #fff;
    		font-family: 'itc_avant_garde_gothic_stdemi';
    		font-size: 13px;
    		height:38px;
    		line-height: 38px;
    		margin-right: 13px;
    		padding-left:45px;
    	}
    	.instrucciones{
    		background: url('../resources/assets/img/icon/icon-instrucciones.png') no-repeat top left;
    		color: #4a2722;
    		font-family: 'Dinpro-bold';
    		font-size: 13px;
    		height:38px;
    		line-height: 38px;
    		margin-right: 13px;
    		padding-left:45px;
    	}
        .logout {
            border: 1px solid #81635e;
            margin: 2px;
            padding: 5px 15px;
            color: #81635e;
            font-family: 'Dinpro-bold';
        }
    	.perfil{
    		background: url('../resources/assets/img/icon/icon-usuario.png') no-repeat left center;
    		color: #fff;
    		cursor: pointer;
    		font-family: 'itc_avant_garde_gothic_stdemi';
    		font-size: 13px;
    		height:38px;
    		line-height: 38px;
    		padding-left:45px;
    		&:after{
    			content: url('../resources/assets/img/icon/icon-arrow-bottom.png');
    			margin-left: 8px;
    		}
    	}
    }
    .franja{
    	padding-top: 15px;
        .info-leccion {
            clear: both;
            &.intro-module {
                background-color: white;
                left: 0;
                margin: 0 auto !important;
                max-width: 415px;
                position: absolute;
                right: 0;
                top: 135px;
                width: 100%;
                z-index: 99;

                .intro-modulo-gral.intro-modulo-1 {
                    background: url(../resources/assets/img/background/bg-intro-module-1-full-mobile.png) no-repeat top center;
                    min-height: 1300px;
                    color: #fff;
                    width: 100%;
                    position: relative;

                    a {
                        left: 0;
                        right: 0;
                        bottom: 0;
                        height: 105px;
                        border: 0;
                        text-indent: -9999px;
                        border-radius: 15px;
                        color: #fff;
                        padding: 0;
                        font-weight: bold;
                        font-size: 19px;
                        display: inline-block;
                        vertical-align: top;
                        width: 100%;
                        position: absolute;
                    }

                    &.aficionado {
                        background-image: url("../resources/assets/img/background/intro-modulo-aficionados-full-mobile.jpg");
                        min-height: 1065px !important;
                    }
                    &.emprendedor {
                        background-image: url("../resources/assets/img/background/intro-modulo-emprendedores-full-mobile.png");
                        min-height: 1065px !important;
                    }
                    &.barista-chef {
                        background-image: url("../resources/assets/img/background/intro-modulo-emprendedor-barista-full-mobile.jpg");
                        min-height: 1065px !important;
                    }
                    &.colaborador {
                        background-image: url("../resources/assets/img/background/intro-modulo-colaboradores-full-mobile.jpg");
                        min-height: 886px !important;
                    }
                    &.comercial {
                        background-image: url("../resources/assets/img/background/bg-intro-module-1-full-mobile.png");
                    }
                }
            }
        }
    	.logos{
    		padding: 30px 10px 30px 10px;
    		i{
    			background: url('../resources/assets/img/icon/icon-line-logo.png') no-repeat center center;
    			display: inline-block;
    			height:60px;
    			vertical-align: top;
    			width:1%;
    			margin-top: 6px;
    		}
    		.logo-momentos{max-width: 67px;width: 20%;}
    		.logo-colcafe{margin-top: 20px;margin-left: 20px;}
    	}
    }
    .porcentaje{
    	font-family: 'Dinpro-regular';
    	margin: 0 1% 0 1%;
	    min-width: 102px;
	    text-align: center;
	    position: relative;
	    height: 73px;
	    border: 1px solid #b7b7b7;
	    color: #80706d;
	    padding-top: 15px;
	    max-width: 102px;
	    white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		float: left;
        width: 23%;
	    .title{color: #4a2722;font-size: 12px;}
	    span{font-size: 20px;font-weight: bold;}
    }
    .leccion-top{
    	margin: 12px 5px 0 5px;
    	width: 102px;
    	text-align: center;
    	position: relative;
    	height: 73px;
    	border: 1px solid #b7b7b7;
		a {
			color: transparent;
			&:focus {color: transparent;outline:none}
		}
		&:before{
			content: "";
			width: 20px;
			height: 20px;
			border-radius: 50%;
			background: #5adf42  url('../resources/assets/img/icon/icon-modulo.png') no-repeat center center;
			position: absolute;
			left: 0;
			right: 0;
			top: -12px;
			margin: 0 auto;
			display: none;
		}

    	figure{
		    height: 24px;
		    margin: 0 auto;
		    overflow: hidden;
    		width: 52px;
    	}
		&.active,
		&.aux-active{
			img{}
    		i{display: none;}
    		&:before{
    			display: block;
    		}
		}
    	h3{
			display: flex;
			justify-content: center;
	    	color: #4a2722;
	    	font-family: 'Dinpro-bold';
	    	font-size: 11px;
	    	font-weight: normal;
	    	height: 43px;
	    	line-height: 10px;
	    	margin:0 auto;
	    	padding: 0 5px;
	    	width: 85%;
    		align-items: center;
    	}
    	&.current{
			h3{background-color: transparent;}
			img{-webkit-filter: grayscale(0);filter: grayscale(0);}
    		i{display: none;}
		}
    }
    .duracion{
    	background: #5f352b;
    	color: #fff;
    	height: 73px;
    	margin-top: 30px;
    	text-align: center;
    	width:140px;
    	align-items: center;
		display: flex;
		justify-content: center;
    	span{
    		background: url('../resources/assets/img/icon/icon-tiempo.png') no-repeat center 4px;
    		border: 1px solid #fff;
    		display: inline-block;
    		vertical-align: top;
    		font-family: 'Dinpro-regular';
    		font-size: 16px;
    		height:42px;
    		padding-top: 20px;
    		text-transform: uppercase;
    		width:38px;
    	}
    	h5{
    		font-family: 'Dinpro-regular';
    		font-size: 12px;
    		font-weight: normal;
    		line-height: 15px;
    		margin: 0 10px 0 0;
    		display: inline-block;
    		vertical-align: top;
    	}
    }
}
.slick-list{top: -12px;}
.marcas-banner{
	margin-top: 20px;
    width: 75%;
	figure{
		float: left;
	    margin: 0;
	    padding: 0 5px;
	    vertical-align: top;
	    transition: all 0.3s ease-in-out 0s;
        width: 25%;
	    &:hover{margin-top: -5px;}
	}
}
.result-evaluation-content {
	margin: auto;
	overflow: hidden;
	width: 100%;
    margin-top: 15px;
	.result {
		/*background: url("../resources/assets/img/background/bg-results-icons.png") no-repeat center top;*/
		overflow: hidden;
		.icon-content {
            float: none;
			p { color: #8f8f8f; }
			.correct {
				background: url("../resources/assets/img/background/bg-corrects.png") no-repeat center;
				border: 1px solid #5a2b26;
				border-radius: 0;
				height: 147px;
				margin: 0 auto 10px auto;
				width: 186px;
			}
			.incorrect {
				background: url("../resources/assets/img/background/bg-incorrects.png") no-repeat center;
				border: 1px solid #5a2b26;
				border-radius: 0;
				height: 147px;
				margin: 0 auto 10px auto;
				width: 186px;
			}
		}
	}
	p.message{
		font-family: 'Dinpro-bold';
		padding: 60px 20px 15px 20px;
		max-width: 100% !important;
		&.approved {background: url("../resources/assets/img/icon/icon-answer-correct.png") no-repeat center 10px #ebebeb;}
		&.failed {background: url("../resources/assets/img/icon/icon-answer-incorrect.png") no-repeat center 10px #ebebeb;}
	}
	a.result-redo{
		background: url("../resources/assets/img/background/bg-result-redo.png") no-repeat center left;
		color: #5a2b26;
		font-size: 14px;
		padding: 15px 15px 15px 45px;
		border: 1px solid #5a2b26;
		height: auto;
		line-height: 15px;
		font-family: 'Dinpro-bold';
        margin: 0 auto 5px auto;
        max-width: 70%;
        display: block;
	}
	a.result-next{
		background: url("../resources/assets/img/background/bg-result-next.png") no-repeat center left;
		color: #5a2b26;
		font-size: 14px;
		padding: 10px 15px 10px 45px;
		border: 1px solid #5a2b26;
        height: auto;
		line-height: 15px;
		font-family: 'Dinpro-bold';
        margin: 0 auto;
        max-width: 70%;
        display: block;
	}
}
.resize-overlay {
	background-color: #232323;
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: 9999;
	p {
		color: white;
		font-size: 20px;
		padding: 30px;
		text-align: center;
	}
	img {
        margin: 0 auto;
        display: block;
	}
}
.content-elearning{
	background: #fff;
	margin: 15px auto 0;
	padding: 15px 25px 50px 25px;
}
.showing-shadow {
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.1);
}
.evaluation-progress {
	background-color: red;
	height: 15px;
	-webkit-transition: width 1s ease-in-out;
    -moz-transition: width 1s ease-in-out;
    -o-transition: width 1s ease-in-out;
    transition: width 1s ease-in-out;
}
.showing-result {}
.showing-result-inv {}
.content-leccion{
	max-width: 825px;
	float: right;
	width: 100%;
	.info-leccion{
		clear: both;
		margin-top: 15px;
		.evaluation-content {
			// border: 2px solid #e2e2e2;
			// border-radius: 9px;
			// padding: 8px 10px 15px 10px;
			.progress-bar-content {
				background-color: white;
				border-top: 2px solid #e2e2e2;
				border-bottom: 2px solid #e2e2e2;
				border-left: 2px solid #e2e2e2;
				border-bottom-left-radius: 18px;
				border-top-left-radius: 18px;
				display: inline-block;
				height: 18px;
				position: relative;
				vertical-align: middle;
				width: 740px;
				z-index: 5;
                display: none;
			}
			.icon {
				border: 2px solid #e2e2e2;
				border-radius: 50%;
				display: inline-block;
				height: 46px;
				margin-left: -7px;
				position: relative;
				vertical-align: middle;
				width: 46px;
				z-index: 0;
                display: none;
				i {
					background-size: 100%;
					display: block;
					margin: auto;
					max-width: 75%;
				}
			}
			p {
				color: #5a2b26;
				font-size: 18px;
				margin: 15px auto;
				max-width: 89%;
				text-align: center;
				span{
					width: 33px;
				    border-radius: 50%;
				    border: 2px solid #5a2b26;
				    display: inline-block;
				    height: 33px;
				    line-height: 30px;
				    margin-right: 5px;
				    position: relative;
				    top: 2px;
				}
			}
			.answers {
				padding: 0;
                text-align: center;
				.answer {
					display: inline-block;
					vertical-align: top;
					margin: 0 5px;
					text-align: center;
					width: 45%;
					div.input-content {
						color: #5a2b26;
						font-size: 14px;
						padding: 4px 0 4px 0;
						margin-top: 5px;
						width: 100%;
						font-weight: normal;
						line-height: 16px;
					}
				}
			}
			.answer-feedback {
				border-radius: 10px;
				color: #606060;
				display: none;
				font-family: 'Dinpro-regular';
				font-size: 15px;
				padding: 15px 10px 15px 60px;
				width: 100%;
				&.answer-correct {
					background: url("../resources/assets/img/icon/icon-answer-correct.png") no-repeat 41px center #f0f0f0;
					display: inline-block;
                    padding: 30px 10px 30px 100px;
                    margin-bottom: 30px;
				}
				&.answer-incorrect {
					background: url("../resources/assets/img/icon/icon-answer-incorrect.png") no-repeat 10px center #f0f0f0;
					display: inline-block;
				}
			}
			.answer-next-button {
				background: url("../resources/assets/img/inputs/next-button-bg.png") no-repeat center right;
				border-radius: 15px;
				color: #5a2b26;
				margin: 0 auto;
				padding: 8px 50px 8px 20px;
				border: 1px solid #5a2b26;
				font-family: 'Dinpro-bold';
				font-size: 17px;
                display: block;
                max-width: 50%;
				&:focus{outline: none;text-decoration: none;}
			}
		}
		.iframe-video {
			margin: 0 auto;
			.video{margin:auto;}
		}
	}
}

.question_z_feedback,
.question_y_feedback {
    color: #606060;
    font-family: 'Dinpro-regular';
    font-size: 15px;
    // margin-left: 30px;
    text-align: center;
    .answer-correct {
        border-radius: 10px;
        background: url("../resources/assets/img/icon/icon-answer-correct.png") no-repeat 15px center #f0f0f0;
        float: left;
        padding: 15px 75px;
        // margin-top: 10px;
        // margin-left: 90px;
        width: 100%;
    }
    .answer-incorrect {
        border-radius: 10px;
        background: url("../resources/assets/img/icon/icon-answer-incorrect.png") no-repeat 15px center #f0f0f0;
        float: left;
        // margin-left: 90px;
        // margin-top: 10px;
        padding: 15px 75px;
        width: 100%;
    }
}

.content-leccion{
	.intro-modulo-gral{
		background: url("../images/modulo-1/intro-prueba.png") no-repeat top center;
		background-size: cover;
		min-height: 400px;
		position: relative;
		.intro-next-button{
			background: url('../resources/assets/img/inputs/next-button-bg2.png') no-repeat center right;
		    border-radius: 15px;
		    color: #fff;
		    padding: 5px 50px 5px 20px;
		    border: 1px solid #fff;
		    font-weight: bold;
		    font-size: 19px;
		    display: inline-block;
		    vertical-align: top;
		    margin-top: 10px;
		    position: absolute;
		    right: 20px;
		    bottom: 20px;
            &.back {
                background: url('../resources/assets/img/inputs/next-button-back-bg2.png') no-repeat center left !important;
                padding: 5px 20px 5px 50px !important;
            }
		}
	}
    .intro-modulo-gral.intro-all-course {
        background: url("../resources/assets/img/background/bg-gral-intro-course.jpg") no-repeat top left;
        min-height: 650px;
        a {
            right: 0;
            left: 0;
            margin: 0 auto;
            bottom: 127px;
            height: 67px;
            border: 0;
            text-indent: -9999px;
        }
    }
    .intro-modulo-gral.intro-modulo-1 {
        background: url("../resources/assets/img/background/bg-intro-module-1-full-mobile.png") no-repeat top center;
        min-height: 1280px;
        a {
            left: 0;
            right: 0;
            bottom: 0;
            height: 80px;
            border: 0;
            text-indent: -9999px;
			width: 100%;
			height: 100%;
			position: absolute;
			top: 0px;
        }
    }
	.intro-modulo-1{
		background: url("../resources/assets/img/background/bg-intro-modulo-1.jpg") no-repeat top left;
        background-size: cover;
        background-position: 75% center;
		color: #fff;
		padding-bottom: 25px;
		padding-top: 60px;
		min-height: 440px;
        width: 120%;
        margin-left: -10%;
		hr{
			border: 0;
			border-top: 1px dashed #fff;
			width: 80%;
			clear: both;
			margin-top: 8px;
		}
		.info-intro{
			float: right;
			padding: 0;
			text-align: center;
            figure {
                max-width: 80%;
                margin: 0 auto;
            }
			p{
				text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
				color: #fff;
				padding: 0;
                margin: 0 auto 10px auto;
                width: 90%;
				font-size: 15px;
				max-width: inherit;
				line-height: 17px;

                br {
                    display: none;
                }
			}
		}
		.intro-next-button{
			background: url('../resources/assets/img/inputs/next-button-bg2.png') no-repeat center right;
		    border-radius: 15px;
		    color: #fff;
		    padding: 5px 50px 5px 20px;
		    border: 1px solid #fff;
		    font-weight: bold;
		    font-size: 19px;
		    display: inline-block;
		    vertical-align: top;
		    margin-top: 10px;
            &.back {
                background: url('../resources/assets/img/inputs/next-button-back-bg2.png') no-repeat center left !important;
                padding: 5px 20px 5px 50px !important;
            }
		}
		&.modulo-2{
			background: url("../resources/assets/img/background/bg-intro-modulo-2.jpg") no-repeat top left;
			color: #6e160d;
			padding-top: 54px;
            background-size: cover;
            background-position: right;
            padding-left: 15px;
            padding-right: 15px;
			hr{border-top: 1px dashed #6e160d;}
			.info-intro{p{color: #6e160d;}}
			.intro-next-button{
				background: url('../resources/assets/img/inputs/next-button-bg3.png') no-repeat center right;
				color: #6e160d;
				border: 1px solid #6e160d;
                &.back {
                    background: url('../resources/assets/img/inputs/next-button-back-bg2.png') no-repeat center left !important;
                    padding: 5px 20px 5px 50px !important;
                }
			}
		}
		&.modulo-3{
			background: url("../resources/assets/img/background/bg-intro-modulo-3.jpg") no-repeat top left;
			padding-top: 50px;
		    padding-right: 20px;
            background-size: cover;
            background-position: right;
            padding-left: 15px;
		}
		&.modulo-4{
			background: url("../resources/assets/img/background/bg-intro-modulo-4.jpg") no-repeat top left;
            background-size: cover;
            background-position: right;
			min-height: 444px;
			padding-bottom: 20px;
            padding-left: 30px;
            padding-right: 15px;
			.info-intro{padding: 8px 25px 0 0;}
			.info2{
				padding-left: 0px;
			}
		}
		&.modulo-5{
			background: url("../resources/assets/img/background/bg-intro-modulo-4.jpg") no-repeat top left;
			background-size: cover;
            background-position: right;
			min-height: 444px;
    		padding: 30px 15px 20px 30px;
			.info-intro{padding: 10px 10px 0 0;}
		}
		&.modulo-7{
			background: url("../resources/assets/img/background/bg-intro-modulo-7.jpg") no-repeat top left;
			min-height: 440px;
			padding-bottom: 20px;
            background-size: cover;
            background-position: center;
			.intro-next-button{
				color: #6e160d;
				border: 1px solid #6e160d;
				background: url('../resources/assets/img/inputs/next-button-bg3.png') no-repeat center right;
                &.back {
                    background: url('../resources/assets/img/inputs/next-button-back-bg2.png') no-repeat center left !important;
                    padding: 5px 20px 5px 50px !important;
                }
			}
			.info-intro{
				padding: 15px 0 0 0;
				p{
					font-size: 17px;
					line-height: 17px;
					color: #6e160d;
					text-shadow: none;
				}
			}
		}
		&.modulo-88{
			background: url("../resources/assets/img/background/bg-intro-modulo-88.jpg") no-repeat top left;
            background-size: cover;
            background-position: right;
			padding-bottom: 20px;
			min-height: 440px;
            padding-right: 15px;
			hr{border-top: 1px dashed #6e160d;}
			.intro-next-button{
				background: url('../resources/assets/img/inputs/next-button-bg.png') no-repeat center right;
				border: 1px solid #5a2b26;
				color: #5a2b26;
                &.back {
                    background: url('../resources/assets/img/inputs/next-button-back-bg2.png') no-repeat center left !important;
                    padding: 5px 20px 5px 50px !important;
                }
			}
			.info-intro{
				padding: 0 0 0 0;
				max-width: 400px;
				p{
					font-size: 17px;
					line-height: 21px;
					color: #6e160d;
    				text-shadow: none;
				}
			}
		}
        &.casos-1{
            background: url("../resources/assets/img/background/bg-casos-1.jpg") no-repeat top left;
            padding: 65px 10px;
            .intro-next-button{
                background: url("../resources/assets/img/inputs/next-button-bg2.png") no-repeat center right;
                &.back {
                    background: url('../resources/assets/img/inputs/next-button-back-bg2.png') no-repeat center left !important;
                    padding: 5px 20px 5px 50px !important;
                }
            }
        }
        &.casos-2{
            background: url("../resources/assets/img/background/bg-casos-2.jpg") no-repeat top left;
            padding: 65px 10px;
            .info-intro{
                float: left;
                padding: 50px 0 0 30px;
                p {
                    text-align: left;
                }
            }
        }
        &.casos-3{
            background: url("../resources/assets/img/background/bg-casos-3.jpg") no-repeat top left;
            padding: 86px 10px;
        }
        &.casos-4{
            background: url("../resources/assets/img/background/bg-casos-4.jpg") no-repeat top left;
            padding: 108px 10px;
            .info-intro {
                padding: 70px 90px 0 0;
            }
        }
        &.casos-5{
            background:  url("../resources/assets/img/background/bg-casos-5.jpg") no-repeat top left;
            .info-intro{
                text-align: left;
                padding-bottom: 60px;
                padding-right: 125px;
                padding-top: 0;
                p {
                    margin: 0 100px 10px 0;
                    text-align: left;
                }
            }
        }
        &.casos-6{
            background:  url("../resources/assets/img/background/bg-casos-6.jpg") no-repeat top left;
            padding: 100px 40px;
            .info-intro{
                float: left;
                padding-left: 30px;
                padding-top: 0;
                text-align: left;
            }
        }
        &.casos-7{
            background:  url("../resources/assets/img/background/bg-casos-7.jpg") no-repeat top left;
            padding-top: 70px;
            padding-bottom: 40px !important;
            padding-right: 100px;
            .info-intro{
                text-align: left;
            }
        }
        &.casos-8{
            background:  url("../resources/assets/img/background/bg-casos-8.jpg") no-repeat top left;
            .info-intro{
                float: none;
                padding: 180px 0 0 0;
                text-align: center;
                p {
                    margin-bottom: 45px;
                }
            }
        }
        &.diamante {
            background: url("../resources/assets/img/background/bg-intro-diamante.png") no-repeat top left;
            background-position: right;
            background-size: cover;
            .info-intro {
                .intro-next-button {
                    border: 2px solid white;
                    box-shadow: 3px 3px 5px #5d4124;
                    text-shadow: 3px 3px 5px #5d4124;
                }
            }
        }
	}
}
label{
	font-weight: normal;
}
.question-w{
	.input-content{
		text-align: center;
		color: #5a2b26;
	    font-size: 14px;
	    font-weight: normal;
	    line-height: 16px;
	    margin-top: 5px;
	    padding: 4px 0 4px 0;
	    width: 100%;
	}
}
.software-banner {
    background: url("../resources/assets/img/background/bg-software-banner.jpg") no-repeat top right;
    border: 2px solid #5a2b26;
    overflow: hidden;
    padding: 13px 15px;
    .left {
        color: #5a2b26;
    }
    .right {
        a {
            background-color: #5a2b26;
            color: white;
            display: block;
            padding: 10px 25px;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
}
.software-costeo-container {
	background: rgba(0, 0, 0, 0.65);
    height: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    .close {
	    border-radius: 50%;
	    color: #ffffff;
	    height: 33px;
	    line-height: 28px;
	    opacity: 1;
	    padding: 0;
	    position: absolute;
	    right: 20px;
	    text-align: center;
	    top: 20px;
	    width: 33px;
        border: 2px solid #ffffff;
        z-index: 99;
    }
}
#software-costeo {
    .bg-costeo {
        cursor: move;
    }
    .bg-border-gray {
        cursor: default;
    }
}
.question-w {
    .question {
        text-align: center;
        padding: 10px 10px;
        color: #5a2b26;
    }
    .answers {
        padding: 0;
        li {
            display: inline-block;
            margin: 0 8px;
            max-width: 170px;
            vertical-align: top;
            a {
                color: #5a2b26;
            }
        }
    }
    .case-next-button {
        background: url('../resources/assets/img/inputs/next-button-bg3.png') no-repeat center right;
	    border-radius: 15px;
	    color: #5a2b26;
	    padding: 10px 40px 10px 10px;
	    border: 1px solid #5a2b26;
	    font-weight: bold;
	    font-size: 15px;
	    float: right;
	    margin: 20px 40px 20px 40px;
    }
}
.u_container {
    color: #5a2b26;
    padding: 0 30px;
    .explanation {
        border-bottom: 1px solid #c8c8c8;
        padding: 30px;
    }
    .description {
        padding: 10px 30px;
    }
    .next-case-question.button {
        // border-top: 1px solid #c8c8c8;
        float: none;
        position: relative;
        width: 100%;
        overflow: hidden;
        a {
            margin: 30px 40px 30px 40px;
        }
    }
    form {
        text-align: center;
    }
    .u_option {
        display: inline-block;
        margin: 20px 50px;
    }
}
.v_container {
    .v_option {
        display: inline-block;
        max-width: 150px;
        vertical-align: top;
        margin: 0 5px;
    }
    input {
        margin: 20px 0;
    }
}
.y_option {
    float: left;
    position: relative;
    .radio {
        position: absolute;
        left: 30px;
        bottom: 30px;
    }
    .case-next-button {
        background: url('../resources/assets/img/inputs/next-button-bg3.png') no-repeat center right;
	    border-radius: 15px;
	    color: #5a2b26;
	    padding: 10px 40px 10px 10px;
	    border: 1px solid #5a2b26;
	    font-weight: bold;
	    font-size: 15px;
	    float: right;
	    margin: 80px 15px 80px 15px;
    }
}
.next-case-question .case-next-button {
    background: url('../resources/assets/img/inputs/next-button-bg3.png') no-repeat center right;
    border-radius: 15px;
    color: #5a2b26;
    padding: 10px 40px 10px 10px;
    border: 1px solid #5a2b26;
    font-weight: bold;
    font-size: 15px;
    float: right;
    margin: 80px 15px 80px 15px;
}
.z_container {
    .description {
        border-bottom: 1px solid #a58381;
        color: #5a2b26;
        padding-bottom: 10px;
        text-align: center;
    }
    .cont-checker {
        position: absolute;
        left: 8px;
    	bottom: 26px;
    }
}
.radio-check{
	display: inline-block;
	vertical-align: top;
	width: 21px;
	height: 21px;
}
.title-modulo{
    background: url(../resources/assets/img/background/title-modulo.png) no-repeat center #fff;
    background-size: cover;
    background-position: center;
	color: #5a2b26;
    font-size: 23px;
    font-family: 'Dinpro-light';
    margin: 0;
    text-align: center;
    width: 120%;
    margin-left: -10%;
    padding: 15px;
    color: white;
}
.questions-colums{
	color: #fff;
	padding: 10px;
	width: 100%;
	.intro-next-button{
		background: url('../resources/assets/img/inputs/next-button-bg2.png') no-repeat center right;
	    border-radius: 15px;
	    color: #fff;
	    padding: 5px 50px 5px 20px;
	    border: 1px solid #fff;
	    font-weight: bold;
	    font-size: 19px;
	    float: right;
	    margin: 20px 20px 0 0;
        &.back {
            background: url('../resources/assets/img/inputs/next-button-back-bg2.png') no-repeat center left !important;
            padding: 5px 20px 5px 50px !important;
        }
	}
	&.info-colums-1{
		background: url('../resources/assets/img/background/info-colums-1.jpg') no-repeat center right;
		background-size: cover;
		min-height: 444px;
        .head {
            text-align: center;
        }
		.colums-A{width: 100%;padding-bottom: 10px;}
		.colums-B{
			width: 100%;
			input[type="text"],input[type="number"]{margin-left: -55px;}
			ul{
				li{padding-left: 55px; margin-bottom: 5px;}
			}
		}
	}
	&.info-colums-2{
		background: url('../resources/assets/img/background/info-colums-2.png') no-repeat center right;
		background-size: cover;
		padding-top: 30px;
		// figure{margin-left: 60px;}
		span{
			margin: 10px auto 20px;
		}
		ul li{font-size: 17px;line-height: 18px;}
		.colums-A{width: 100%;padding: 0; }
		.colums-B{
			width: 100%;
			input[type="text"],input[type="number"]{margin-left: -55px;}
			ul{
				li{
					padding-left: 55px;
				}
			}
		}
	} 
	
	h4{
		color: #fff;
    	font-size: 14px;
    	line-height: 17px;
    	font-weight: normal;
    	margin: 0 0 10px 0;
    	text-align: center;
    	float: left;
    	max-width: 90%;
    	padding-left: 20px;
    }
    hr{
		border: 0;
		border-top: 1px dashed #fff;
		width: 100%;
		clear: both;
		margin-top: 8px;
		margin-bottom: 15px;
	}
	span{
		margin: 0 auto;
		font-weight: bold;
		border: 2px solid #fff;
		border-radius: 50%;
		text-align: center;
		line-height:25px;
		font-size: 20px;
		width: 40px;
		height: 40px;
        padding: 5px 10px;
		margin-bottom: 15px;
        display: block;
	}
	ul{
		list-style: none;
		padding: 0;
		margin: 15px 0 0 0;
		li{
			font-size: 13px;
			margin-bottom: 10px;
			line-height: 15px;
			float: left;
			width: 100%;
		}
	}
	input[type="text"],input[type="number"] {
		width:45px;
		height:25px;
		border: 0;
		color: #6e160d;
		padding: 0 0 0 5px;
		text-align: center;
		font-weight: bold;
		float: left;
		&.incorrect{
			box-shadow: inset 0px 0px 10px rgba(244, 54, 54, 1);
    		border: 1px solid rgba(221, 34, 28, 0.7);
		}
        &.correct{
			box-shadow: inset 0px 0px 10px rgba(0, 150, 60, 1);
    		border: 1px solid rgba(76, 175, 80, 0.7);
		}
	}
}
.hamburger {
    position: absolute;
    right: 0;
    outline: 0;
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    background-color: #9E9E9E;
}
.capitulos-nav{
	color: #606060;
    display: none !important;
	float: left;
	// width: 235px;
	margin-top: 45px;
    position: absolute;
    top: 0;
    background: white;
    right: 0;
    padding: 0 5px 15px 5px;
    box-shadow: -5px 25px 40px rgba(150,150,150,0.4);
    width: 80%;
    z-index: 99;

    &.is-active {
        display: block !important;
    }

	.panel-group {
		.panel-default {
			background-color: transparent;
			border-color: transparent;
			margin-top: 0;
			.panel-heading{
				background-color: transparent;
				padding: 0;
				position: relative;
				.pull-right{
					position: absolute;
					right: 0;
					top: 0;
					height:100%;
					width:35px;
					&.close {background: rgba(255, 255, 255, 0.8) url('../resources/assets/img/icon/icon-mas-nav.png') no-repeat center center;opacity: 1;}
					&.open {background: rgba(255, 255, 255, 0.8) url('../resources/assets/img/icon/icon-menos-nav.png') no-repeat center center;opacity: 1;}
				}
			}
			.panel-body {border-top: 0;padding: 0;}
			&.done{
				.panel-title{
					background: #f7e0c2 url('../resources/assets/img/icon/icon-modulo-terminado.png') no-repeat 71% center;
					.capitulos-nav h3{color: #4a2722;}
				}
			}
		}
	}
	h3{
		border: 1px solid #bfbfbf;
		clear: both;
		color: #53221c;
		cursor: pointer;
		font-family: 'Dinpro-regular';
		font-size: 13px;
		align-items: center;
		display: flex;
		font-weight: normal;
		margin-top: 0;
		outline: none;
		padding:0 90px 0 10px;
		margin-bottom: 5px;
		height: 38px;
		position: relative;
		width: 100%;
		&.cultura {
			background: url('../resources/assets/img/background/curso-cafe-cultura.jpg') no-repeat center right;
			background-size: 72px 100%;
		}
		&.experiencia-cafe{
			background:  url('../resources/assets/img/background/curso-experiencia-cafe.jpg') no-repeat center right;
			background-size: 72px 100%;
		}
		&.espresso{
			background:  url('../resources/assets/img/background/curso-cafe-espresso.jpg') no-repeat center right;
			background-size: 72px 100%;
		}
		&.filtrado{
			background:  url('../resources/assets/img/background/curso-cafe-filtrado.jpg') no-repeat center right;
			background-size: 72px 100%;
		}
		&.instantaneo{
			background: url('../resources/assets/img/background/curso-cafe-espresso-hogar.jpg') no-repeat center right;
			background-size: 72px 100%;
		}
		&.espresso-institucional{
			background: url('../resources/assets/img/background/curso-espresso-institucional.jpg') no-repeat center right;
			background-size: 72px 100%;
		}
		&.cafe-instantaneo{
			background:  url('../resources/assets/img/background/curso-instantaneo.jpg') no-repeat center right;
			background-size: 72px 100%;
		}
		&.mercado-valor{
			background:  url('../resources/assets/img/background/curso-mercado-valor.jpg') no-repeat center right;
			background-size: 72px 100%;
		}
		&.gestion-comercial{
			background:  url('../resources/assets/img/background/curso-gestion-comercial.jpg') no-repeat center right;
			background-size: 72px 100%;
		}

		&:focus{outline: none;}
	}
	ul{
		list-style: none;
		li{
			background: url('../resources/assets/img/icon/icon-buller-arrow2.png') no-repeat  5px 5px;
			color: #606060;
			font-family: 'Dinpro-regular';
			font-size: 14px;
			line-height: 17px;
			list-style: url('../resources/assets/img/icon/icon-bloqueo.png');
			margin-bottom: 0;
			margin-left: -20px;
			padding:4px 10px 4px 27px;
			a{
				cursor: default;
				color: #606060 ;
				&:focus{text-decoration: none;}
			}
			&.active,
			&.aux-active{
				list-style: none;
				a{cursor: pointer;}
			}
			&.current{
				background: url('../resources/assets/img/icon/icon-buller-arrow.png') no-repeat 5px 5px;
				background-color: #af814e;
				list-style: none;
				a{cursor: pointer;color: #fff;}
			}
		}
		&.list-cultura{
			.current{background-color: #af814e;}
		}
		&.list-filtrado{
			.current{background-color: #af814e;}
		}
		&.list-espresso{
			.current{background-color: #af814e;}
		}
		&.list-instantaneo{
			.current{background-color: #af814e;}
		}
	}
}
.panel-title > a:focus{
	outline: none;
	text-decoration: none;

}
.titles {
	overflow: hidden;
	text-overflow: ellipsis;
    color: #656565;
    display: inline-block;
    font-family: 'Dinpro-regular';
    font-size: 15px;
    font-weight: normal;
    line-height: 40px;
    margin:0;
    max-width: 370px;
    text-transform: uppercase;
    vertical-align: top;
    white-space: nowrap;
    width: 60%;
}
.icon-t{
    display: inline-block;
    height: 35px;
    text-align: center;
    vertical-align: top;
    width: 50px;
    &.cafe{
        background: url('../resources/assets/img/icon/icon-cafe.png') no-repeat center center;
        background-size: contain;
        width: 14%;
    }
}
.tiempo{
	background: url('../resources/assets/img/icon/icon-tiempo2.png') no-repeat center left;
	color: #424242;
	font-family: 'Dinpro-regular';
	font-size: 16px;
	line-height: 20px;
	margin-top: 10px;
	padding-left: 30px;
    width: 17px;
}
.line{
	background: url('../resources/assets/img/icon/icon-pipe.png') no-repeat center center;
    background-size: contain;
	display: inline-block;
	height:40px;
	vertical-align: top;
	width:1%;
}
.siguiente{
    margin: 15px 0;
	-webkit-filter: grayscale(0.9);
	cursor: default;
	filter: grayscale(0.9);
	h3{
		border-left: 1px solid #d9d9d9;
		color: #606060;
		float: left;
		font-family: 'Dinpro-regular';
		font-size: 14px;
		font-weight: normal;
		margin: 0;
		padding-left: 10px;
		width: 195px;
	}
	span{
		color: #424242;
		float: left;
		font-family: 'Dinpro-regular';
		font-size: 20px;
		line-height: 36px;
		margin-right: 10px;
	}
	i{
		background: #be2722 url('../resources/assets/img/icon/icon-arrow-right.png') no-repeat center center;
		float: left;
		height: 37px;
		margin-left: 8px;
		width: 40px;
	}
	&.active{
		-webkit-filter: grayscale(0);
		cursor: pointer;
		filter: grayscale(0);
		span{color: #be2722;}
	}
}
#owl-leccion-top{
	display: inline-block !important;
	vertical-align: top;
	max-width: 415px;
	.slick{margin-bottom: 0;margin-top: 0;}
	.slick-prev,
	.slick-next{
		border-radius: 0;
		height: 28px;
		margin: 0;
		opacity: 1;
		padding: 0;
		position: absolute;
		top: 42%;
		width: 5%;
		// &.slick-disabled{display: none !important;}
	}
    .slick-next {
        right: 0;
    }
	.owl-prev{
		background: url('../resources/assets/img/icon/icon-maquina-left.png') no-repeat center center;
		left: -10px;
	}
	.owl-next{
		background: url('../resources/assets/img/icon/icon-maquina-right.png') no-repeat center center;
		right: -10px;
	}
}
.marcas-footer {
    padding: 30px 15px;
    text-align: center;

    p {
        color: #585858;
        font-size: 27px;
        font-weight: bolder;
        font-family: 'Dinpro-bold';
        text-align: center;
    }

    .marcas {
        max-width: 500px;
        width: 100%;
        text-align: center;

        figure {
            width: 40%;
            display: inline-block;
            margin: 30px 15px;
        }
    }
}
#owl-leccion-top{
	.slick-slider{
        float: left;
        width: 65%;
        margin-left: 5%;
    }
	.slick-list{
		width: 90%;
	}
}
.lightbox-momentos{
	align-items: center;
	background: url('../resources/assets/img/background/bg-lightbox.png') repeat center center;
	height: 100%;
	left: 0;
	margin: 0 auto 0 auto;
	position: fixed;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 999;
}
.lightbox-video-intro{
	text-align: center;
	max-width: 950px;
	.iframe-video-intro{margin: 0 auto 25px;}
}
.btn-lightbox{
	background:#be2722;
	border-bottom: 2px solid #910500;
	border-left: 2px solid #910500;
	color: #fff;
	font-family: 'Dinpro-bold';
	font-size: 15px;
	height: 37px;
	line-height: 37px;
	margin: 0 15px;
	padding: 0 15px;
	&:hover{color: #fff;}
}
.lightbox-instrucciones{
	color: #fff;
	margin: 0 auto 0 auto;
	max-width: 470px;
	text-align: center;
	padding-top: 10%;
	.logos {
    	background: #fff;
    	padding: 20px 15px 20px 15px;
    	margin-right: 25px;
    	width: 100%;
    	.logo-momentos{max-width: 80px;}
	}
	p{
		border-bottom: 1px solid #fff;
		float: left;
		font-size: 17px;
		margin: 15px 0 20px 0;
		padding-bottom: 5px;
		text-align: left;
		text-transform: uppercase;
	}
	i{
		background: url('../resources/assets/img/icon/icon-line-logo.png') no-repeat center center;
	    display: inline-block;
	    height: 80px;
	    vertical-align: top;
	    margin-top: 8px;
	    width: 35px;
	}
	.marcas-banner{margin-top: 25px;}
}
.introjs-helperNumberLayer{
    background: #be2722 !important;
    border: 2px solid white;
    height: 25px;
    line-height: 22px;
    padding: 0;
    width: 25px;
}
.introjs-button{
	background-color: #be2722;
    background-image: none !important;
    border: 1px solid #98130F;
    color: #fff;
    font-size: 12px;
    outline: none;
    padding: 5px 10px;
    text-shadow: none;
    &:hover,&:focus{
		border-color: #98130F;
		box-shadow: none;
		color: #fff;
		outline: none;
		text-decoration: none;
    }
}
.modulo-8{
	background: url('../resources/assets/img/background/info-colums-1.jpg') no-repeat center right;
	background-size: cover;
	padding-top: 15px;
	clear: both;
	height: 400px;
	text-align: center;
	width: 100%;
	h3{
		text-align: center;
		color: #fff;
		font-size: 25px;
		font-family: 'Dinpro-regular';
		margin: 0 0 30px 0;
	}
	.diamante{
		position: relative;
		padding-top: 17px;
		width: 730px;
	}
	.dato-diamante{
		background: #fff;
		border: 0;
		color: #53221c;
		font-size: 15px;
		line-height: 17px;
		min-height: 28px;
		padding: 3px 10px;
		position: absolute;
		text-align: center;
		width: 170px;
		&:nth-child(1){
			left: 100px;
			top: 0;
			width: 160px;
		}
		&:nth-child(2){right: 100px; top:0;}
		&:nth-child(3){left: 0;}
		&:nth-child(4){right: 0;}
		&:nth-child(3),&:nth-child(4){top: 95px;}
		&:nth-child(5){
			top: 260px;
			left: 0;
			right: 0;
			margin: 0 auto;
			width: 180px;
		}
	}
}
.introjs-disabled,
.introjs-disabled:hover,
.introjs-disabled:focus{background-color: rgba(190, 39, 34, 0.7);}
.introjs-tooltiptext{
	font-family: 'Dinpro-regular';
    font-size: 13px;
    color: #7f7f7f;
    line-height: 17px;
}
#slick-content{
	width: 100%;
    margin: 0 auto;
    .slick-arrow{
    	width: 34px;
    	height: 34px;
    	z-index: 9;
    	&.slick-next {
    		background: url('../resources/assets/img/icon/icon-slide-right.png') no-repeat top center;
    	}
    	&.slick-prev {
    		background: url('../resources/assets/img/icon/icon-slide-left.png') no-repeat top center;
    	}
        &.slick-disabled {
            display: none !important;
        }
    }
}
.videos-home{
	max-width: 755px;
    margin: 0 auto;
    position: relative;
    min-height: 200px;
    text-align: center;
	h2{
		text-align: center;
		color: #5a2b26;
		margin: 20px 0 30px 0;
		font-family: 'Dinpro-regular';
		font-size: 25px;
	}
	article{
		max-width: 232px;
		display: inline-block;
		vertical-align: top;
		margin: 0 8px 16px 8px;
		figure{
			height: 142px;
			overflow: hidden;
			position: relative;
			margin-bottom: 8px;
		}
		.overflow {
			background: rgba(0, 0, 0, 0.55) url('../resources/assets/img/icon/icon-mas-videos.png') no-repeat center 85%;
			position: absolute;
			right: 0;
			top: 0;
			width: 88px;
			color: #fff;
			height: 100%;
			padding: 20px 5px 0 5px;
			text-align: center;
			h5{
				font-size: 42px;
				margin: 0;
				font-family: 'Dinpro-regular';
				span{
					width: 100%;
					clear: both;
					float: left;
					font-size: 15px;
					font-family: 'Dinpro-regular';
				}
			}
		}
		h4{
			text-align: center;
			margin: 0;
			color: #5a2b26;
			font-family: 'Dinpro-regular';
			font-size: 14px;
		}
		.icon{
			max-width: 70px;
			float: right;
		}
	}
	&.play-list{
		h2{font-size: 22px;}
		.overflow {
			background: url('../resources/assets/img/icon/icon-play-list.png') no-repeat center center;
			width: 100%;
			left: 0;
			margin:0 auto;
		}
		article{
			min-height: 181px;
			position: relative;
			a{
				display: block;
				&.watched{
					&:before{
					    content: "";
					    background: #5adf42 url('../resources/assets/img/icon/icon-modulo.png') no-repeat center center;
					    border-radius: 50%;
					    height: 20px;
					    left: 0;
					    margin: 0 auto;
					    position: absolute;
					    right: 0;
					    top: -12px;
					    width: 20px;
					    z-index: 1;
					}
				}
			}
			h4{
				float: left;
			    max-width: 160px;
			    padding-right: 10px;
			    text-align: left;
			}
		}

	}
}
.lightbox-video{
	background: #fff;
	border-radius: 3px;
	height: 100%;
	left: 0;
	margin: 0 auto;
	padding: 0;
	position: absolute;
	right: 0;
	text-align: center;
	top:0;
	width: 100%;
	z-index: 2;
	.close{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 2px solid #fff;
		opacity: 1;
		right: 10px;
		top: 10px;
		position: absolute;
		text-align: center;
		line-height: 24px;
		font-size: 16px;
		color: #fff;
        z-index: 9;
		background: #000000a1;
	}
}

.carta-bebidas{
	max-width: 825px;
	margin: 0 auto;
	.bebida-1{
		float: left;
		width: 100%;
        text-align: center;
	}
	.bebida-2{
		float: left;
		max-width: 526px;
		a{
			float: left;
            text-align: center;
            width: 100%;
		}
	}
	img{
		float: none;
	}
}

.material-cartas{
	text-align: center;
	h2{
		max-width: 315px;
		float: left;
		margin: 0 0 20px 0;
		color: #5f352b;
		font-weight: bold;
		font-size: 17px;
		text-align: left;
	}
	p{
		margin: 0 0 20px 0;
	    color: #5f352b;
	    font-size: 17px;
	    text-align: left;
	    font-weight: bold;
	}
	.regresar{
		background: url('../resources/assets/img/icon/icon-regresar.png') no-repeat center left;
		float: right;
		border:1px solid #bfbfbf;
		color: #5f352b;
		text-decoration: none;
		font-weight: bold;
		font-size: 16px;
		padding: 0 15px 0 110px;
		line-height: 35px;
	}
	article{
		margin-top: 20px;
		max-width: 155px;
		padding:0 10px 0 10px;
		text-align: center;
		cursor: pointer;
		border-right: 1px solid #dadada;
		min-height: 120px;
		position: relative;
		&:after{
			content: url('../resources/assets/img/icon/arrow-material.png');
			max-width: 28px;
			position: absolute;
			left: 0;
			right: 0;
			bottom: -15px;
			margin: 0 auto;
			display: none;
		}
		&:hover,&.active{
			&:after{
				display: block;
			}
		}
		h3{
			text-align: center;
			font-size: 15px;
			min-height: 50px;
			font-weight: bold;
			color: #5f352b;
			margin: 0 0 15px 0;
		}
	}
	h4{
		text-align: left;
		font-size: 18px;
		font-weight: bold;
		color: #5f352b;
		margin: 0 0 10px 0;
	}
	.material{
		text-align: left;
		color: #5f352b;
		font-family: 'Dinpro-regular';
		padding: 15px 150px 10px 30px;
		font-size: 14px;
		position: relative;
    	min-height: 130px;
		figure{
			position: absolute;
			right: 15px;
			top: 0;
		}
		ul{
			padding-left: 20px;
		}
		p{
			line-height: 16px;
		}
	}
	hr{
		border: 0;
		border-top: 1px solid #dedede;
		clear: both;
		width: 100%;
		margin: 30px auto 10px;
		display: block;
	}
}
.portafolio-home{
	max-width: 825px;
	margin: 0 auto;
	.portafolio{
        float: left;
        text-align: center;
        width: 48%;
        min-height: 220px;
        &:first-child {
            width: 100%;
            float: none;
        }
    }
}
.portafolio-info{
	width: 100%;
	height: 300px;
	margin: 0 auto;
	position: relative;
	.siguientes,.atras{
		position: absolute;
		width: 80px;
		height:47px;
		bottom: -37px;
		text-indent: -9999px;
		cursor: pointer;
	}
	.siguientes{
		background: url('../resources/assets/img/icon/icon-siguiente.png') no-repeat top center;
		background-size: 100%;
		right: 0;
        margin-bottom: 25px;
	}
	.atras{
		right: 95px;
		background: url('../resources/assets/img/icon/icon-atras.png') no-repeat top center;
		background-size: 100%;
        margin-bottom: 25px;
	}
	.volver{
		background: url('../resources/assets/img/icon/icon-volver-portafolio.png') no-repeat top center;
		background-size: 100%;
		width:90px;
		height:77px;
		position: absolute;
		bottom: -37px;
		left: 0;
		text-indent: -9999px;
        margin-bottom: 25px;
	}
}
.volver-cases{
    background: url('../resources/assets/img/icon/icon-volver-portafolio.png') no-repeat top center;
    background-size: 100%;
    width:90px;
    height:77px;
    display: block;
    bottom: -37px;
    left: 0;
    margin-top: 60px;
    text-indent: -9999px;
}
.equipos-info{
	width: 650px;
	margin: 0 auto;
	position: relative;
	.siguientes,.atras{
		position: absolute;
		width: 70px;
		height:41px;
		text-indent: -9999px;
		cursor: pointer;
		right: -88px;
	}
	.siguientes{
		background: url('../resources/assets/img/icon/icon-siguiente.png') no-repeat top center;
		background-size: 100%;
		top: 130px;
	}
	.atras{
		background: url('../resources/assets/img/icon/icon-atras.png') no-repeat top center;
		background-size: 100%;
		top: 180px;
	}
	.volver{
		background: url('../resources/assets/img/icon/icon-volver-equipos.png') no-repeat top center;
		background-size: 100%;
		width:90px;
		height:77px;
		position: absolute;
		bottom: -37px;
		left: 0;
		text-indent: -9999px;
	}
}
.material-cartas{
	.tab-content{
		border-top: 1px solid #dadada;
    	margin-top: 20px;
    	padding-top: 20px;
    }
	.nav-tabs{border-bottom: 0;}
	.nav-tabs>li{
		float: none;
		display: inline-block;
		vertical-align: top;
        width: 30%;
	}
	.nav-tabs>li.active>a,
	.nav-tabs>li.active>a:hover,
	.nav-tabs>li.active>a:focus{
		border: 0;
		background-color: transparent;

	}
	.nav-tabs>li.active>a{
		article{
			&:after{display: block;}
		}
	}
	.nav-tabs>li>a{
		margin: 0;
		border-radius: 0;
		padding: 0;
	}
	.nav-tabs>li>a:hover{
		border-color: transparent;
		background-color: transparent;

	}
}

.equipos-home{
	max-width: 825px;
	margin: 0 auto;
	.equipo-1{
		max-width:262px;
	}
}

.site-map {
    left: 0;
    position: absolute;
    right: 0;
    top: 70px;
    max-width: 780px;
    left: 0;
    margin: 0 auto;
    z-index: 999;

    .close{
		width: 30px;
		height: 30px;
		border-radius: 50%;
		border: 2px solid #fff;
		opacity: 1;
		right: -40px;
		top: -30px;
		position: absolute;
		text-align: center;
		line-height: 30px;
		font-size: 16px;
		color: #fff;
		z-index: 9;
	}
}
.site-map{
	#slick-content{
		width: 780px;
	}
}
.portafolio, .carta-bebidas .bebida-2 a{
	position: relative;
	&.watched{
		&:after{
			content: "";
		    background: #fff url('../resources/assets/img/icon/icon-modulo-terminado.png') no-repeat center center;
		    border-radius: 50%;
		    height: 14px;
		    left: 0;
		    margin: 0 auto;
		    position: absolute;
		    right: -79%;
		    top: 28px;
		    width: 15px;
		    z-index: 1;
		}
	}
}

.overlap-site-map {
    background: rgba(0,0,0,0.7);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}
#owl-leccion-top .slick-prev:before, #owl-leccion-top .slick-next:before{
	color: #6f3231;
	font-size: 22px;
	color: #6f3231;
}
.panel-group{
	li{
		position: relative;
		&.active{
				&:after{
				content: "";
			    background: url('../resources/assets/img/icon/icon-modulo-terminado.png') no-repeat center center;
			    background-size: 100% 100%;
			    border-radius: 50%;
			    height: 12px;
			    left: -17px;
			    position: absolute;
			    top: 7px;
			    width: 12px;
			    z-index: 1;
			}
		}
	}
}

.propuesta-valor{

	background: url('../resources/assets/img/background/bg-diamante.png') no-repeat top right;
	padding-top: 15px;
	overflow: hidden;
	.info-left{
		color: #6e160d;
		width: 100%;
		padding-right: 30px;
		border-right: 1px solid #cfcfcf;
		float: left;
		p{
			font-family: 'Dinpro-light';
			font-size: 16px;
			margin: 0 0 20px 0;
		}
		input[type="checkbox"]{
			float: left;
		}
		label{
			margin:0 0 0 8px;
			font-family: 'Dinpro-medium';
			font-size: 15px;
			float: left;
			width: 165px;
			line-height: 17px;
		}
		.valor{
			margin-bottom: 12px;
			float: left;
			width: 100%;
		}
	}
	.info-propuesta{
		float: left;
		width: 100%;
		color: #5a2b26;
		text-align: center;
		padding-left: 20px;
		h2{
			margin: 0 0 15px 0;
			font-size: 30px;
			font-family: 'Dinpro-bold';
			font-weight: normal;
		}
		p{
			font-family: 'Dinpro-light';
			font-size: 16px;
			margin: 0 0 20px 0;
			span{
				border-radius: 50%;
				border: 2px  solid #5a2b26;
				width: 30px;
				height: 30px;
				line-height: 27px;
				text-align: center;
				font-weight: bold;
				display: inline-block;
			}
		}
		.valor-diamante{
			margin: 40px auto 0;
			position: relative;
			padding-top: 15px;
			height: 260px;
			width: 100%;
			input[type="text"]{
				border: 1px solid #6e160d;
				height: 25px;
				position: absolute;
				padding: 0 8px;
				text-align: center;
				width: 170px;
				font-size: 17px;
				font-family: 'Dinpro-bold';
				top: 0;
				color: #5a2b26;
				&:nth-child(1){right: 0; left: 0; margin: 0 auto;}
				&:nth-child(2){right: 0; left: 0; margin: 0 auto; top: 40px;}
				&:nth-child(3){right: 0; left: 0; margin: 0 auto; top: 80px; font-size: 13px;}
				&:nth-child(4){right: 0; left: 0; margin: 0 auto; top: 120px; font-size: 15px;}
				&:nth-child(5){right: 0; left: 0; margin: 0 auto; top: 160px; font-size: 15px; }
			}
		}
	}
}

.curso-aprobado{
	background: url("../public/resources/assets/img/background/curso-aprobado-elearning-apasionados-mb.jpg") no-repeat center top;
	color: #fff;
	padding: 25px 0 22px 30px;
	min-height: 500px;
    background-position: left;
	.info{
		text-align: center;
		// max-width: 280px;
        padding-right: 30px;
		bottom: 45px;
		p{
			padding: 15px 0;
            font-weight: normal;
			font-family: 'Dinpro-bold';
			font-size: 21px;
		}
	}
}
.curso-reprobado{
	background: url('../resources/assets/img/background/bg-reprobado-curso.jpg') no-repeat center top;
	color: #fff;
	padding:40px 0 0 75px;
	min-height: 456px;
    background-position: left;
	.info{
		text-align: center;
		padding-right: 30px;
		p{
			padding: 15px 0;
			font-weight: normal;
			font-size: 23px;
			line-height: 31px;
		}
	}
}
.iframe-video{
	.controls-container{
		visibility: hidden;
	}
	&:hover{
		.controls-container{
			visibility: visible;
		}
	}
}
videogular, [videogular]{
	background-color: transparent !important;
}
.msj-num-colum{
	// background: url('../resources/assets/img/icon/icon-error-columnas.png') no-repeat center left;
    padding-left: 15px;
    margin-top: 25px;
    line-height: 25px;
}

.intro-diamond-equipo {
    background: url("../images/intro-diamond-equipos.png") no-repeat top center !important;
    background-size: 100% !important;
    min-height: 285px !important;
    #diamond-next {
        border-color: #6c1601;
        background-color: white;
        color: #6c1601;
        text-align: center;
        padding: 5px 35px;
        span {
            border: 1px solid #6c1601;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            display: inline-block;
            text-align: center;
            line-height: 20px;
            margin-left: 10px;
        }
    }
}
.diamond-next {
    position: absolute;
    right: 15px;
    bottom: 15px;
    color: #5a2b26;
    border: 2px solid #5a2b26;
    border-radius: 15px;
    padding: 5px 15px;
    font-weight: bold;
    &.test {
        padding: 5px 10px;
        &:hover {
            color: #5a2b26;
        }
    }
    span {
        border: 1px solid #6c1601;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        display: inline-block;
        text-align: center;
        line-height: 20px;
        margin-left: 10px;
    }
}
.intro-diamond-portafolio {
    background: url("../images/intro-diamond-portafolio.png") no-repeat top center !important;
    background-size: 100% !important;
    min-height: 285px !important;
    #diamond-next {
        border-color: #6c1601;
        background-color: white;
        color: #6c1601;
        text-align: center;
        padding: 5px 35px;
        span {
            border: 1px solid #6c1601;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            display: inline-block;
            text-align: center;
            line-height: 20px;
            margin-left: 10px;
        }
    }
}
.intro-diamond-carta {
    background: url("../images/intro-diamond-carta.png") no-repeat top center !important;
    background-size: 100% !important;
    min-height: 285px !important;
    #diamond-next {
        border-color: #6c1601;
        background-color: white;
        color: #6c1601;
        text-align: center;
        padding: 5px 35px;
        span {
            border: 1px solid #6c1601;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            display: inline-block;
            text-align: center;
            line-height: 20px;
            margin-left: 10px;
        }
    }
}
.intro-diamond-tacticas {
    background: url("../images/intro-diamond-tacticas.png") no-repeat top center !important;
    background-size: 100% !important;
    min-height: 285px !important;
    #diamond-next {
        border-color: #6c1601;
        background-color: white;
        color: #6c1601;
        text-align: center;
        padding: 5px 35px;
        span {
            border: 1px solid #6c1601;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            display: inline-block;
            text-align: center;
            line-height: 20px;
            margin-left: 10px;
        }
    }
}
.intro-diamond-propuesta {
    background: url("../images/intro-diamond-propuesta.png") no-repeat top center !important;
    background-size: 100% !important;
    min-height: 285px !important;
    #diamond-next {
        border-color: #6c1601;
        background-color: white;
        color: #6c1601;
        text-align: center;
        padding: 5px 35px;
        span {
            border: 1px solid #6c1601;
            border-radius: 50%;
            width: 25px;
            height: 25px;
            display: inline-block;
            text-align: center;
            line-height: 20px;
            margin-left: 10px;
        }
    }
}
/*
.intro-module {
    left: 0;
    margin: 0 auto !important;
    max-width: 415px;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 99;
}*/
.cont-checker.checked span,
.radio-check.checked span,
.radio.checked span,
.cont-radio.checked span {
    background-position: center bottom;
}

#case-info {
    background: url(../resources/assets/img/background/bg-software-aux.png) no-repeat center;
    background-size: cover;
    border: 2px solid white;
    max-width: 400px;
    padding: 15px;
    border-radius: 15px;
    position: absolute;
    left: 15px;
    width: 100%;
    top: 30px;

    .content {
        background: white;
        padding: 10px;
        border-radius: 15px;

        h2 {
            font-size: 16px;
        }

        p {
            font-size: 13px;
        }
    }
}

.footer {
    border-top: 2px solid rgba(150,150,150,0.1);
    padding-top: 15px;

    ul {
        color: #654f46;
        list-style: none;
        padding: 10px;
        margin: 0;
        text-align: center;

        li {
            padding: 20px 0;

            span {
                margin-right: 15px;
            }
        }
    }
}

#register-mobile {
    max-width: 415px;
    margin: 0 auto;
    a.login-link {
        display: block;
        width: 70%;
        text-align: center;
        font-size: 20px;
        color: #55221a;
        border: 1px solid #55221a;
        padding: 10px 5px;
        margin: 30px auto;
    }
    header {
        padding: 30px 10px 30px 10px;
        .logo-momentos {
            width: 20%;
        }
        i{
            background: url('../resources/assets/img/icon/icon-line-logo.png') no-repeat center center;
            display: inline-block;
            height:60px;
            vertical-align: top;
            width:1%;
            margin-top: 20px;
        }
        .marcas-banner {
            margin-top: 30px;
        }
    }
    main {
        form {
            font-family: 'Dinpro-regular';
            margin: 45px 0;

            input,
            select {
                background-color: white;
                border: 1px solid rgba(115, 71, 71, 0.4);
                color: rgb(115, 71, 71);
                display: block;
                margin: 15px auto;
                outline: none;
                padding: 15px 10px;
                width: 90%;
            }

            select {
                background: url(../resources/assets/img/inputs/bg-selects-registro.png) no-repeat right center;
                height: 54px;
            }

            input::-webkit-input-placeholder {
              color: rgba(115, 71, 71, 0.6);
            }
            input::-moz-placeholder {
              color: rgba(115, 71, 71, 0.6);
            }
            input:-ms-input-placeholder {
              color: rgba(115, 71, 71, 0.6);
            }
            input:-moz-placeholder {
              color: rgba(115, 71, 71, 0.6);
            }

            input.submit {
                background-color: #e6a41d;
                border: 0;
                color: #4e1515;
                margin-top: 60px;
            }

            .error {
                max-width: 90%;
                display: block;
                margin: 45px auto 15px auto;
                text-align: center;
                border: 2px solid red;
                padding: 15px 5px;
                color: red;
            }
        }

        &.login {
            background: url(../resources/assets/img/background/bg-login-mobile.png) no-repeat center center;
            background-size: cover;
            padding-bottom: 5px;

            .banner {
                margin: 0 auto;
                display: block;
                padding: 45px 0;
            }

            form {
                margin-top: 0;

                input {
                    background-color: rgba(255, 255, 255, 0.8);
                    text-align: center;
                }

                input::-webkit-input-placeholder {
                  color: rgba(115, 71, 71, 0.9);
                }
                input::-moz-placeholder {
                  color: rgba(115, 71, 71, 0.9);
                }
                input:-ms-input-placeholder {
                  color: rgba(115, 71, 71, 0.9);
                }
                input:-moz-placeholder {
                  color: rgba(115, 71, 71, 0.9);
                }

                input.submit {
                    background-color: #e6a41d;
                    border: 0;
                    color: #4e1515;
                    margin-top: 60px;
                }

                a.forget {
                    color: white;
                    text-align: center;
                    display: block;
                }

                hr {
                    max-width: 90%;
                }

                span.register {
                    display: block;
                    text-align: center;
                    color: white;

                    a {
                        color: white;
                        text-decoration: underline;
                    }
                }

                &.recovery {
                    padding-top: 60px;
                }

                span.error {
                    max-width: 90%;
                    display: block;
                    margin: 30px auto 0 auto;
                    text-align: center;
                    color: red;
                    border: 2px solid red;
                    padding: 15px 0;
                }
            }
        }
    }
    .marcas-banner {
        padding: 0px 15px;

        p { margin-bottom: 45px; }
    }
    footer {
        ul {
            color: #654f46;
            list-style: none;
            padding: 10px;
            margin: 0;
            text-align: center;

            li {
                padding: 20px 0;

                span {
                    margin-right: 15px;
                }
            }
        }
    }
}

vg-controls{bottom: -44px !important;}
.next_theme{
	font-size: 14px;
    width: 50px;
    line-height: 13px;
    margin-right: 16px;
    margin-top: 15px;
}

.full			{width: 100%; clear: both;}
.clr            { clear: both; float: none; }
.center         { margin: auto; }
.inline         { display: inline-block; vertical-align: top; }
.inline-bottom  { display: inline-block; vertical-align: bottom; }
.left           { float: left; }
.right          { float: right; }
.wrapper-main   {
    max-width: 415px;
    overflow: hidden;
    &.force {
        height: 860px;
    }
}
