/*Style Costeo */
.info-costeo-cafe{
    clear: both;
    margin-top: 15px;
    position: relative;
    max-width:825px;
    height: 420px;
}
.intro-costeo{
	background: url('../resources/assets/img/background/bg-intro-costeo.jpg') no-repeat top center;
	background-size: cover;
	height: 420px;
	width: 100%;
	border-radius: 7px;
	border: 2px solid #d1d1d1;
	position: relative;
	.copy-costeo{
		align-items: center;
		background: url('../resources/assets/img/background/intro-copy-costeo.png') no-repeat top center;
		color:#5f352b;
		display: flex;
		height: 122px;
		justify-content: center;
		padding: 0 30px 0 40px;
		position: absolute;
		right: 40px;
		text-align: center;
		top: 25px;
		width:303px;
		p{
			font-family: 'itc_avant_garde_gothic_stdemi';
			font-size: 17px;
			line-height: 18px;
		}
	}
	.copy-costeo-intro{
		align-items: center;
		background: #fff;
		color:#5f352b;
		display: flex;
		height: 122px;
		justify-content: center;
		padding: 0 30px;
		position: absolute;
		right: 15px;
		text-align: center;
		top: 10px;
		width:510px;
		p{
			font-family: 'itc_avant_garde_gothic_stdemi';
			font-size: 17px;
			line-height: 18px;
			span{
				font-size: 26px;
	    		position: relative;
	    		top: 3px;
			}
		}
	}
	.next, input[type="submit"]{
		background: #be2722 url('../resources/assets/img/icon/icon-arrow-right.png') no-repeat  10px center;
		border-radius: 10px;
		border-bottom: 5px solid #a11c17;
		color: #fff;
		line-height: 40px;
		padding-left: 50px;
		padding-right: 25px;
		font-family: 'itc_avant_garde_gothic_stdemi';
		position: absolute;
		bottom: 100px;
		right: 30px;
		font-size: 18px;
		box-shadow: 0px 5px 0 rgba(0, 0, 0, 0.28);
		&:focus{outline: none; text-decoration: none;}
	}
}
.bg-costeo{
	background: url('../resources/assets/img/background/bg-software-costeo.jpg') no-repeat top center;
	background-size: cover;
	border-radius: 7px;
	border: 2px solid #d1d1d1;
	min-height: 420px;
	overflow: hidden;
	padding-bottom: 15px;
	padding-top: 17px;
	position: relative;
	width: 100%;
}
.bg-border-gray{
	background: #fff;
	border-radius: 10px 10px 0 0;
	box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.45);
	display: block;
	margin: 0 auto 45px;
	max-width: 680px;
	padding: 10px;
	position: relative;
	.border-gray{
		width: 100%;
		height: auto;
		border: 2px solid #d1d1d1;
		border-radius: 8px;
		padding: 10px;
	}
	.btn-abs{
		background: #fff;
		border-radius: 0 0 10px 10px;
		bottom: -39px;
		box-shadow: 1px 2px 7px rgba(0, 0, 0, 0.3);
		padding: 0 10px 6px 10px;
		position: absolute;
		a, input[type="submit"]{
			background-color: #be2722 !important;
			border-radius: 5px;
			border: 0;
			color: #fff;
			display: block;
			font-family: 'itc_avant_garde_gothic_stdemi';
			font-size: 13px;
			height: 34px;
			line-height: 29px;
			padding:4px 10px 4px 33px;
			text-transform: uppercase;
		}
		&.next{right: 0;a,input[type="submit"]{background: url('../resources/assets/img/icon/icon-arrow-right-small.png') no-repeat  5px center;}}
		&.prev{right: 135px;a,input[type="submit"]{background: url('../resources/assets/img/icon/icon-arrow-right-small2.png') no-repeat  5px center;}}
		&.volver-pregunta{left: 0;a,input[type="submit"]{background: url('../resources/assets/img/icon/icon-volver-pregunta-small.png') no-repeat  5px center; font-size: 11px; line-height: 14px; }}
		&.volver-empezar{left: 142px;a,input[type="submit"]{background: url('../resources/assets/img/icon/icon-volver-empezar.png') no-repeat  5px center; font-size: 11px; line-height: 14px; }}
	}
	h2{
		background: url('../resources/assets/img/icon/icon-preguntas-costeo.png') no-repeat left center;
		color: #5f352b;
		font-family: 'itc_avant_garde_gothic_stdemi';
		font-size: 16px;
		font-weight: normal;
		margin: 0 0 13px 0;
		min-height: 23px;
		padding-left: 28px;
		padding-top: 4px;
		display: inline-block;
		vertical-align: top;
	}
	p{
		padding: 0 70px;
		line-height: 17px;
		margin-bottom: 20px;
	}
}
.costeo-equipos{
	.equipos{
		float: left;
		width: 190px;
		height: 119px;
		position: relative;
		margin: 0 11px 11px 11px;
		cursor: pointer;
		&:after, &:before{
			position: absolute;
			left: 0;
			height: 28px;
			width: 100%;
			float: left;
		}
		&:after{
			background: url('../resources/assets/img/background/line-maquinas-top-1.png') repeat-x bottom center;
			border-radius: 6px 6px 0 0;
			content: "";
			top: 0;
		}
		&:before{
			background: url('../resources/assets/img/background/line-maquinas-top-2.png') repeat-x top center;
			border-radius: 0 0 6px 6px;
			content: "";
			bottom: 0;
		}
		&.green{&:after, &:before{background-color: #598738 !important;}}
		&.yellow{&:after, &:before{background-color: #f2b42a !important;}}
		&.coffe{&:after, &:before{background-color: #5f352b !important;}}
		label{
			color: #5f352b;
			cursor: pointer;
			font-family: 'itc_avant_garde_gothic_std_Bk';
			font-size: 14px;
			font-weight: normal;
			margin: 0;
			position: relative;
		    line-height: 15px;
		    margin-top: 37px;
		    max-width: 85px;
		    z-index: 1;
		}
		.overflow{
			background: rgba(255, 255, 255, 0.5);
			border-radius: 6px;
			cursor: default;
			height: 100%;
			left: 0;
			position: absolute;
			top: 0;
			width: 100%;
			z-index: 9;
		}
		&.active, &:hover{
			.overflow{display: none;}
		}
		figure{
			float: left;
			position: relative;
			width: 77px;
			z-index: 1;
		}
		.cont-radio{
			margin-right: 7px;
			margin-top: 37px;
		}
	}
}
.bg-green{background-color: #598738 !important;}
.bg-yellow{background-color: #f2b42a !important; color: #5f352b !important;}
.bg-coffe{background-color: #5f352b !important;}
.bg-marfil-suave{background-color: #ffe29b !important; color: #5f352b !important;}
.bg-ambar-balanceado{background-color: #fbb124 !important; color: #5f352b !important;}
.bg-escarlata{background-color: #840c05 !important;}
.bg-ebano{background-color: #000 !important;}
.bg-gray{background-color: #e1e1e1 !important;}
.bg-red{background-color: #be2722 !important;}
.cont-radio{
	width: 17px;
	float: left;
	position: relative;
	z-index: 1;
	height: 17px;
	.radio{min-height: 17px;}
}
.radius{border-radius: 7px;}
.col-4{
	float: left;
	margin: 0 17px;
	width: 177px;
}
.col-3{
	float: left;
	margin: 0 7px;
	width: 144px;
}
.select-radio{
	position: relative;
	cursor: pointer;
	figure{
		overflow: hidden;
		margin-bottom: 5px;
		text-align: center;
	}
	h4{
		align-items: center;
		color: #fff;
		display: flex;
		font-family: 'itc_avant_garde_gothic_stdemi';
		font-size: 14px;
		justify-content: center;
		line-height: 15px;
		margin: 0 0 5px 0;
		min-height: 30px;
		padding: 3px 15px;
		text-align: center;
	}
	.border{text-align: center; clear: both;}
	.cont-radio{
		display: inline-block;
		float: none;
		margin-top: 2px;
		vertical-align: top;
	}
	label{
		color: #5f352b;
		cursor: pointer;
		font-family: 'itc_avant_garde_gothic_std_Bk';
		font-size: 16px;
		font-weight: normal;
		margin: 0;
	}
	.overflow{
		background: rgba(255, 255, 255, 0.6);
		border-radius: 6px;
		cursor: default;
		height: 100%;
		left: 0;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 9;
	}
	&.active, &:hover{
		.overflow{display: none;}
	}
	&.select-insumo{
		.cont-radio{
			position: absolute;
			left: 0;
			top: 0;
		}
		h4{font-size: 12px; min-height: 36px;}
		input[type="text"],
		input[type="number"]{
			border-radius: 5px;
			border: 2px solid #b3b3b3;
			font-family: 'itc_avant_garde_gothic_std_Bk';
			font-size: 15px;
			height: 28px;
			margin-bottom: 5px;
			padding: 0 10px;
			width: 100%;
			color: #646464;
			&.precio{
				background: url('../resources/assets/img/icon/icon-precio.png') no-repeat left center;
				padding-left: 22px;
			}
		}
		::-webkit-input-placeholder {color: #646464 !important;}
	}
}
.error-precio{
	color: #BE2722;
    display: block;
    float: left;
    font-family: 'itc_avant_garde_gothic_std_Bk';
    font-size: 14px;
    margin-bottom: 0;
    margin-top: 5px;
    text-align: center;
    width: 100%;
}
.producto-gramaje{
	background: url('../resources/assets/img/background/bg-circle-productos.png') no-repeat center center;
	float: left;
	margin: 15px 20px 15px 20px;
	text-align: center;
	width:153px;
}
.cont-gramaje{
	float: left;
	margin-left: 25px;
	width: 185px;
	h4{
		border: 1px solid #c7c7c7;
		color: #4c4c4c;
		font-family: 'itc_avant_garde_gothic_std_Bk';
		font-size: 15px;
		font-weight: normal;
		line-height: 14px;
		margin: 0 0 18px 0;
		padding: 5px 15px;
		position: relative;
		text-align: center;
		&:after{
			bottom: -12px;
			content: url('../resources/assets/img/icon/arrow-bottom-title.png');
			left: 0;
			margin: 0 auto;
			position: absolute;
			right: 0;
			width:16px;
		}
	}
	h5{
		font-family: 'itc_avant_garde_gothic_stdemi';
		font-size: 14px;
		padding: 5px 15px;
		text-align: center;
		&.bg-yellow{color: #5f352b;}
		&.bg-coffe{color: #fff;}
	}
	.info-gramaje{
		padding: 20px 10px 25px 10px;
		text-align: center;
		color: #fff;
		input[type="text"],
		input[type="number"]{
			background: #fff;
			border-radius: 7px;
			border: 1px solid #b7b7b7;
			color: #6d6d6d;
			display: inline-block;
			font-family: 'itc_avant_garde_gothic_std_Bk';
			font-size: 17px;
			height: 26px;
			padding: 0 10px;
			text-align: center;
			vertical-align: top;
		}
		::-webkit-input-placeholder {color: #6d6d6d !important;}
		label{
			color: #2f2f2f;
			display: inline-block;
			font-family: 'itc_avant_garde_gothic_stdemi';
			font-size: 13px;
			line-height: 26px;
			margin: 0 8px;
			vertical-align: top;
		}
	}
	&.gramos{input[type="number"]{width: 90px;}}
	&.precio{input[type="number"]{width: 130px;}}
}
.select-radio{
	&.cont-tamanio{
		figure{
			float: right;
			margin-bottom: 12px;
			position: relative;
			text-align: right;
			width: 177px;
			z-index: 1;
			img{width: auto;}
		}
		h5{
			border-radius: 4px;
			border: 1px solid #b3b3b3;
			color: #646464;
			font-family: 'itc_avant_garde_gothic_stdemi';
			font-size: 13px;
			height: 54px;
			left: -5px;
			margin: 0;
			padding: 4px 3px;
			position: absolute;
			text-align: center;
			top: 28px;
			width: 75px;
		}

	}
}
.border{clear: both;}
.info-leche{
	width: 97%;
	margin: 0 auto;
	position: relative;
	figure{
		border-radius: 50%;
		background: #fff;
		border: 2px solid #DCDCDC;
		border-right: 0;
		padding: 17px;
		float: left;
		img{border-radius: 50%;position: relative;}
	}
	.leche-precio{
		background: #fff;
		border-radius:0 7px 7px 0;
		border: 2px solid #dcdcdc;
		border-left: 0;
		padding: 15px 0;
		width: 71%;
    	float: left;
    	margin-left: -31px;
    	margin-top: 25px;
    	h5{margin-top: 0;}
	}
}
.proporciones{
	border: 1px solid #bebebe;
	margin: 10px 16px 20px 16px;
	padding: 20px 15px;
	width: 195px;
	label{
		color: #5f352b;
		font-family: 'itc_avant_garde_gothic_stdemi';
		font-size: 16px;
		line-height: 16px;
		margin: 0 0 15px 0;
	}
	figure{
		border-radius: 50%;
		height: 100px;
		overflow: hidden;
		width: 100px;
	}
	input[type="text"]{
		width: 33px;
		height: 40px;
		border-radius: 4px;
		color: #fff;
		font-family: 'itc_avant_garde_gothic_stdemi';
		font-size: 14px;
		border: 0;
		font-weight: bold;
		background: red;
		text-align: center;
		padding: 0 3px;
		float: left;
	}
	.barra{
		width: 43px;
		border-radius: 4px;
		margin-top: 15px;
		background-color: #bdbdbd !important;
		height: 95px;
		float: left;
	}
	::-webkit-input-placeholder {color: #fff !important;}
	.barra-cafe{
		margin-left: 15px;
		width: 47px;
		.barra{background: url('../resources/assets/img/background/bg-barra-cafe.jpg') no-repeat bottom center;}
	}
	.barra-leche{
		margin-left: 15px;
		width: 47px;
		.barra{background: url('../resources/assets/img/background/bg-barra-leche.jpg') no-repeat bottom center;}
	}
	.up, .down{
		height:10px;
		width:10px;
		float: left;
		cursor: pointer;
		&:hover{opacity: 0.5;}
	}
	.up{
		background: url('../resources/assets/img/icon/icon-up-barra.png') no-repeat top center;
		margin:8px 0 6px 3px;
	}
	.down{
		background: url('../resources/assets/img/icon/icon-down-barra.png') no-repeat top center;
		margin-left: 3px;
	}
}
.table-resultados{
	.thead{margin-top: 7px;}
	.title, .total{
		align-items: center;
		border-radius: 5px;
		display: flex;
		float: left;
		font-family: 'itc_avant_garde_gothic_stdemi';
		font-size: 11px;
		height: 29px;
		height:29px;
		justify-content: center;
		margin: 0 3px 10px 3px;
		padding: 3px 5px;
		text-align: center;
		width:85px;
		color: #fff;
		line-height: 11px;
	}
	.border-cell{
		align-items: center;
		border-radius: 5px;
		border: 1px solid #c9c9c9;
		color: #676767;
		display: flex;
		float: left;
		font-family: 'itc_avant_garde_gothic_stdemi';
		font-size: 12px;
		height: 38px;
		justify-content: center;
		margin: 0 3px 6px 3px;
		text-align: center;
		width: 85px;
	}
	.total{margin-top: 5px;}
}

.bg-border-gray {
	&.costo-unitario{
		background: #fff url('../resources/assets/img/background/bg-table-right.png') no-repeat top right;
		border-top-left-radius: 0;
		max-width: 750px;
		margin-top: 33px;
		.border-copy{
			border: 1px solid #c9c9c9;
			text-align: center;
			border-radius: 5px;
			font-size: 12px;
			color: #5f5f5f;
			font-family: 'itc_avant_garde_gothic_stdemi';
			float: left;
			margin: 5px 3px 6px 3px;
			padding: 4px 20px;
			height: 29px;
			&.unitario{width: 631px;}
		}
		.title-costo{
			background: #fff;
			border-radius: 10px 10px 0 0;
			border: 1px solid #c9c9c9;
			border-bottom: 0;
			left: -1px;
			padding: 7px 20px 0 20px;
			position: absolute;
			text-align: center;
			top: -38px;
			div{
				border-radius: 5px;
				height: 30px;
				font-size: 11px;
				padding: 4px 15px;
				text-transform: uppercase;
    			line-height: 10px;
    			font-weight: bold;
			}
		}
	}
}
.vender-bibida{
	figure{overflow: hidden;margin: 30px 5px 40px 5px;}
	.tados-venta{
		background: #e7e7e7;
		height: 147px;
		padding: 20px 10px;
		margin: 30px 5px 40px 5px;
		h3{width: 100%;}
		h3, h4{
			float: left;
			font-family: 'itc_avant_garde_gothic_stdemi';
			font-size: 17px;
			font-weight: normal;
			margin: 0 0 15px 0;
			padding: 10px;
		}
		h4{color: #fff !important;}
		label{
			float: left;
			line-height: 38px;
			margin:0 10px 0 18px;
			font-size: 22px;
			color: #5f352b;
			font-weight: normal;
			font-family: 'itc_avant_garde_gothic_stdemi';
		}
		input[type="text"]{
			border-radius: 7px;
			text-align: center;
			border: 0;
			height: 38px;
			color: #272727;
			padding: 0 10px;
			font-size: 22px;
			font-family: 'itc_avant_garde_gothic_stdemi';
			float: left;
			width: 105px;
		}
		::-webkit-input-placeholder {color: #272727 !important;}
        input[type="number"]{
            border-radius: 7px;
            text-align: center;
            border: 0;
            height: 38px;
            color: #272727;
            padding: 0 10px;
            font-size: 22px;
            font-family: 'itc_avant_garde_gothic_stdemi';
            float: left;
            width: 105px;
        }
        ::-webkit-input-placeholder {color: #272727 !important;}
	}
}
.resultado-bibidas{
	.cafe-resultado{
		position: absolute;
		right: 0;
		top: 0;
	}
	.resultado-precio-costo{
		text-align: center;
		width: 320px;
		.bg-coffe{width: 173px;}
		.detalle{
			background: #ddd;
			clear: both;
			color: #656565;
			float: left;
			font-family: 'itc_avant_garde_gothic_stdemi';
			font-size: 17px;
			height: 40px;
			line-height: 40px;
			margin: 10px 0;
			text-decoration: none;
			width: 100%;
			span{
				background: url('../resources/assets/img/icon/icon-detalle.png') no-repeat center left;
				display: inline-block;
				vertical-align: top;
				color: #656565;
				padding-left: 35px;
			}
		}
	}
	.bg-coffe{
		align-items: center;
		color: #fff;
		display: flex;
		float: left;
		font-family: 'itc_avant_garde_gothic_stdemi';
		font-size: 12px;
		justify-content: center;
		line-height: 15px;
		padding: 8px 10px;
		&.utilidad{height: 60px; font-size: 16px;}
	}
	hr{
		border-top: 2px solid #e8e8e8;
		clear: both;
		float: left;
		width: 100%;
	}
	.border-costo, .border-costo-venta,
	.border-costo-utilidad{
		border: 1px solid #b3b3b3;
		color: #a3a3a3;
		text-align: center;
		float: left;
		font-family: 'itc_avant_garde_gothic_stdemi';
		font-size: 11px;
		height:46px;
		margin-left: 11px;
		padding: 4px 8px;
		text-transform: uppercase;
		width:135px;
		strong{
			color: #5f5f5f;
			display: block;
			float: left;
			font-size: 14px;
			font-weight: bold;
			width: 100%;
		}
	}
	.border-costo-venta{height: 61px;padding: 12px 8px;}
	.border-costo-utilidad{
		height: 61px;
		padding: 10px 4px;
		margin-left: 15px;
		width: auto;
		font-size: 13px;
		strong{font-size: 17px;}
	}
}
.preguntas-cliente{
	max-width: 780px;
	h3{
		color: #636363;
		font-size: 16px;
		font-family: 'itc_avant_garde_gothic_stdemi';
		margin: 10px 0 20px 10px;
	}
	article{
		width: 244px;
		border-right: 1px solid #dfdfdf;
		height: auto;
		padding-left: 40px;
		padding-right: 15px;
		p{
			color: #636363;
			font-family: 'itc_avant_garde_gothic_MD';
			font-size: 14px;
			padding: 0;
			position: relative;
			strong{font-weight: normal;color: #be2722;}
			span{
				background: #be2722;
				border-radius: 50%;
				color: #fff;
				font-weight: bold;
				height: 25px;
				left: -33px;
				line-height: 25px;
				position: absolute;
				text-align: center;
				top: 0;
				width: 25px;
			}
		}
		.resultado{
			border: 2px solid #a9a9a9;
			color: #212121;
			font-size: 13px;
			padding: 4px 5px;
			text-align: center;
    		font-weight: bold;
    		line-height: 15px;
		}
		.next, input[type="submit"]{
			background: #be2722 url('../resources/assets/img/icon/icon-arrow-right.png') no-repeat  10px center;
			border-bottom: 5px solid #a11c17;
			border-radius: 10px;
			box-shadow: 0px 5px 0 rgba(0, 0, 0, 0.28);
			color: #fff;
			display: block;
			font-family: 'itc_avant_garde_gothic_stdemi';
			font-size: 18px;
			line-height: 35px;
			padding-left: 50px;
			padding-right: 25px;
			&:focus{outline: none; text-decoration: none;}
		}
		&.rentabilidad{
			padding-right: 0;
    		border-right: 0;
    		.resultado{text-align: left;}
		}
	}
	.cafe-preguntas{
		position: absolute;
		right: 20px;
    	bottom: 13px;
    	max-width: 235px;
	}
}
.cifras-preguntas{
	p{
		color: #757575;
		float: left;
		font-family: 'itc_avant_garde_gothic_MD';
		font-size: 16px;
		position: relative;
    	padding:0 0 0 30px;
		span{
			color: #be2722;
			font-size: 32px;
		    left: 5px;
		    position: absolute;
		    top: 1px;
		}
		strong{font-weight: normal;color: #be2722;}
	}
	.dato-cifra{
		border: 2px solid #b3b3b3;
		color: #757575;
		float: left;
		font-size: 13px;
		font-weight: bold;
		padding: 4px 10px;
	    line-height: 15px;
	    margin-left: 25px;
	}
	hr{
		border-top: 2px solid #bcbcbc;
		clear: both;
		float: left;
		margin: 10px 0;
		width: 100%;
	}
	.proyeccion-venta{
		bottom: 11px;
		position: absolute;
		right: 0;
	}
}
.resultados-estimacion{
	h3{
		border-bottom: 2px solid #bcbcbc;
		color: #636363;
		font-family: 'itc_avant_garde_gothic_stdemi';
		font-size: 16px;
		margin: 10px 0 20px 10px;
		padding-bottom: 4px;
	}
	p{
		color: #636363;
		font-family: 'itc_avant_garde_gothic_MD';
		font-size: 16px;
		margin-bottom: 12px;
		margin-left: 10px;
		margin-right: 100px;
		padding-left: 40px;
		position: relative;
		strong{font-weight: normal;color: #be2722;}
		span{
			background: #be2722;
		    border-radius: 50%;
		    color: #fff;
		    font-size: 14px;
		    height: 22px;
		    left: 0;
		    line-height: 22px;
		    position: absolute;
		    text-align: center;
		    top: 0;
		    width: 22px;
		}
	}
	.proyeccion-venta{
		position: absolute;
		right: 0;
		bottom: 11px;
	}
}
.estimado-diario{
	p{
		color: #636363;
		font-family: 'itc_avant_garde_gothic_MD';
		font-size: 16px;
		padding: 0 5px 0 40px;
		position: relative;
		strong{font-weight: normal;color: #be2722;}
		span{
			background: #be2722;
		    border-radius: 50%;
		    color: #fff;
		    font-size: 15px;
		    height: 30px;
		    left: 0;
		    line-height: 30px;
		    position: absolute;
		    text-align: center;
		    top: 0;
		    width: 30px;
		}
	}
	input[type="number"]{
		margin: 20px 0;
		border: 2px solid #bebebe;
		padding-left: 15px;
		width: 100%;
	}
	textarea{
		border-radius: 5px;
		border: 3px solid #bebebe;
		color: #636363;
		font-family: 'itc_avant_garde_gothic_MD';
		font-size: 14px;
		height: 70px;
		margin: 20px 0;
		padding: 5px 10px;
		resize: none;
		width: 480px;
		&:focus{outline: none;}
	}
	.border-gray{padding-left: 155px;padding-top: 40px;}
	.estimado-diario-left{
		left: -55px;
		position: absolute;
    	bottom: 11px;
    	max-width: 220px;
	}
}
label.wraper-machine{
	padding: 0 !important;
	margin: 0 !important;
	border: 0 !important;
	max-width: 100% !important;
	max-width: 100% !important;
}
.lightbox-messajes{
	align-items: center;
	background: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
	color: #fff;
	display: flex;
	height: 100%;
	justify-content: center;
	left: 0;
	margin: 0 auto;
	padding: 40px;
	position: absolute;
	right: 0;
	top: 0;
	width: 100%;
	z-index: 99;
	.close{
		background-color: #be2722;
		border-radius: 50%;
		color: #fff;
		font-family: 'itc_avant_garde_gothic_stdemi';
		font-size: 20px;
		height: 25px;
		line-height: 23px;
		opacity: 1;
		position: absolute;
		right: 15px;
		text-align: center;
		top: 15px;
		width: 25px;
	}
}
/*END Costeo */
