
/* --------------------------- 940px-1199px --------------------------- */
@media only screen and (max-width: 1199px) and (min-width: 1000px) {
	
}


/* ---------------------------- 768px-999px --------------------------- */
@media only screen and (max-width: 999px) and (min-width: 768px) {
	
}
@media only screen and  (min-width: 1024px) and (max-width: 1204px) {	
	
}

/* ------------------------------ 0-999px ---------------------------- */
@media only screen and  (min-width: 768px) and (max-width: 1024px) {	
	
	
}


/* ------------------------------ 0-767px Ipad---------------------------- */
@media handheld, only screen and (min-width: 768px) and (max-width: 1024px) {	
	

}


/* ---------------------------- 480px-767px -------------------------- */
@media handheld, only screen and (max-width: 600px) and (min-width: 480px) {	
	
	
}

/* ---------------------------- 320px-640px -------------------------- */
@media handheld, only screen and (max-width: 640px) {
	.align-center-mobile{text-align: center;}
	.margin-none-top-mobile{margin: 20px auto 0 !important;} 
	.margin-none{margin: 0 !important}
	.display-inline{display: block !important;}
	.float-none-mobile{float: none;}
	.relative-mobile{position: relative !important; left: 0; right: 0;}	
	}
	
