@font-face {
    font-family: 'Angelface';
    src: url('fonts/angelface.eot');
    src: url('fonts/angelface.eot?#iefix') format('embedded-opentype'),
         url('fonts/angelface.woff2') format('woff2'),
         url('fonts/angelface.woff') format('woff'),
         url('fonts/angelface.ttf') format('truetype'),
         url('fonts/angelface.svg#angelface') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dinpro-regular';
    src: url('fonts/dinpro-regular.eot');
    src: url('fonts/dinpro-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/dinpro-regular.woff2') format('woff2'),
         url('fonts/dinpro-regular.woff') format('woff'),
         url('fonts/dinpro-regular.ttf') format('truetype'),
         url('fonts/dinpro-regular.svg#dinpro-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dinpro-bold';
    src: url('fonts/dinpro-bold.eot');
    src: url('fonts/dinpro-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/dinpro-bold.woff2') format('woff2'),
         url('fonts/dinpro-bold.woff') format('woff'),
         url('fonts/dinpro-bold.ttf') format('truetype'),
         url('fonts/dinpro-bold.svg#dinpro-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dinpro-light';
    src: url('fonts/dinpro-light.eot');
    src: url('fonts/dinpro-light.eot?#iefix') format('embedded-opentype'),
         url('fonts/dinpro-light.woff2') format('woff2'),
         url('fonts/dinpro-light.woff') format('woff'),
         url('fonts/dinpro-light.ttf') format('truetype'),
         url('fonts/dinpro-light.svg#dinpro-light') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Dinpro-medium';
    src: url('fonts/dinpro-medium.eot');
    src: url('fonts/dinpro-medium.eot?#iefix') format('embedded-opentype'),
         url('fonts/dinpro-medium.woff2') format('woff2'),
         url('fonts/dinpro-medium.woff') format('woff'),
         url('fonts/dinpro-medium.ttf') format('truetype'),
         url('fonts/dinpro-medium.svg#dinpro-medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'itc_avant_garde_gothic_stdemi';
    src: url('fonts/itcavantgardegothicstddemi-demi-webfont.eot');
    src: url('fonts/itcavantgardegothicstddemi-demi-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/itcavantgardegothicstddemi-demi-webfont.woff2') format('woff2'),
         url('fonts/itcavantgardegothicstddemi-demi-webfont.woff') format('woff'),
         url('fonts/itcavantgardegothicstddemi-demi-webfont.ttf') format('truetype'),
         url('fonts/itcavantgardegothicstddemi-demi-webfont.svg#itc_avant_garde_gothic_stdemi') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'itc_avant_garde_gothic_std_Bk';
    src: url('fonts/itcavantgardegothicstdbook-book-webfont.eot');
    src: url('fonts/itcavantgardegothicstdbook-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/itcavantgardegothicstdbook-book-webfont.woff2') format('woff2'),
         url('fonts/itcavantgardegothicstdbook-book-webfont.woff') format('woff'),
         url('fonts/itcavantgardegothicstdbook-book-webfont.ttf') format('truetype'),
         url('fonts/itcavantgardegothicstdbook-book-webfont.svg#itc_avant_garde_gothic_std_Bk') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'itc_avant_garde_gothic_stdXLt';
    src: url('fonts/ITCAvantGardeGothicStdExtraLight-ExtraLight-webfont.eot');
    src: url('fonts/ITCAvantGardeGothicStdExtraLight-ExtraLight-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ITCAvantGardeGothicStdExtraLight-ExtraLight-webfont.woff2') format('woff2'),
         url('fonts/ITCAvantGardeGothicStdExtraLight-ExtraLight-webfont.woff') format('woff'),
         url('fonts/ITCAvantGardeGothicStdExtraLight-ExtraLight-webfont.ttf') format('truetype'),
         url('fonts/ITCAvantGardeGothicStdExtraLight-ExtraLight-webfont.svg#itc_avant_garde_gothic_stdXLt') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'itc_avant_garde_gothic_MD';
    src: url('fonts/ITCAvantGardeGothicStdMedium-Medium-webfont.eot');
    src: url('fonts/ITCAvantGardeGothicStdMedium-Medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/ITCAvantGardeGothicStdMedium-Medium-webfont.woff2') format('woff2'),
         url('fonts/ITCAvantGardeGothicStdMedium-Medium-webfont.woff') format('woff'),
         url('fonts/ITCAvantGardeGothicStdMedium-Medium-webfont.ttf') format('truetype'),
         url('fonts/ITCAvantGardeGothicStdMedium-Medium-webfont.svg#itc_avant_garde_gothic_MD') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'pacificoregular';
    src: url('fonts/Pacifico-Regular-webfont.eot');
    src: url('fonts/Pacifico-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/Pacifico-Regular-webfont.woff2') format('woff2'),
         url('fonts/Pacifico-Regular-webfont.woff') format('woff'),
         url('fonts/Pacifico-Regular-webfont.ttf') format('truetype'),
         url('fonts/Pacifico-Regular-webfont.svg#pacificoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futura_md_btmedium';
    src: url('fonts/futura_md_bt_medium_0-webfont.eot');
    src: url('fonts/futura_md_bt_medium_0-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/futura_md_bt_medium_0-webfont.woff2') format('woff2'),
         url('fonts/futura_md_bt_medium_0-webfont.woff') format('woff'),
         url('fonts/futura_md_bt_medium_0-webfont.ttf') format('truetype'),
         url('fonts/futura_md_bt_medium_0-webfont.svg#futura_md_btmedium') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futura_md_btbold';
    src: url('fonts/tt0144m-webfont.eot');
    src: url('fonts/tt0144m-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tt0144m-webfont.woff2') format('woff2'),
         url('fonts/tt0144m-webfont.woff') format('woff'),
         url('fonts/tt0144m-webfont.ttf') format('truetype'),
         url('fonts/tt0144m-webfont.svg#futura_md_btbold') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futura_md_btbold_italic';
    src: url('fonts/tt0145m-webfont.eot');
    src: url('fonts/tt0145m-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tt0145m-webfont.woff2') format('woff2'),
         url('fonts/tt0145m-webfont.woff') format('woff'),
         url('fonts/tt0145m-webfont.ttf') format('truetype'),
         url('fonts/tt0145m-webfont.svg#futura_md_btbold_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'futura_md_btmedium_italic';
    src: url('fonts/tt0143m-webfont.eot');
    src: url('fonts/tt0143m-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/tt0143m-webfont.woff2') format('woff2'),
         url('fonts/tt0143m-webfont.woff') format('woff'),
         url('fonts/tt0143m-webfont.ttf') format('truetype'),
         url('fonts/tt0143m-webfont.svg#futura_md_btmedium_italic') format('svg');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'chalk-hand-lettering';
    src: url('fonts/chalk-hand-lettering-shaded_demo-webfont.eot');
    src: url('fonts/chalk-hand-lettering-shaded_demo-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/chalk-hand-lettering-shaded_demo-webfont.woff2') format('woff2'),
         url('fonts/chalk-hand-lettering-shaded_demo-webfont.woff') format('woff'),
         url('fonts/chalk-hand-lettering-shaded_demo-webfont.ttf') format('truetype'),
         url('fonts/chalk-hand-lettering-shaded_demo-webfont.svg#chalk-hand-lettering') format('svg');
    font-weight: normal;
    font-style: normal;

}